<section id="hero-5" class="hero-section pl-64 pr-64 md-pb-0">
  <div class="row">
    <div class="col-lg-6 col-xs-12 mobile-padding">
      <div class="row">
        <div class="col-10">
          <p class="title-serif">The Nano comparison</p>
        </div>
        <div class="col-md-10 col-xs-12">
          <div class="text-block">
            <p>
              Traditional sanitizers frequently cause skin irritation and can
              actually grow less effective with repeated application.
            </p>
          </div>
        </div>
      </div>
      <div class="row text-col">
        <div class="col-12">
          <div class="icon-wrapper">
            <div class="icon-box">
              <img class="" src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/proactive.svg?v=1607301837" alt="protective germ protection"
              />
            </div>
            <div class="icon-blurb">
              Nano Pure actively prevents germ build-up throughout the day so
              you can live with peace of mind.
            </div>
          </div>
        </div>
      </div>
      <div class="row desktop">
        <div class="col-12 comparison table">
          <div class="table-wrapper">
            <table style="width:auto;" class="checkboxes">
              <tr>
              <td class="title-td"><img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/pro-title-logo.svg?v=1611691212" alt="" class="pro-logo"></td>
              <td class="title-td">
                <div class="title-text">
                    traditional<br>sanitizers
                </div></td>
              <td></td>
              </tr>
              <tr>
                <td><span class="tick"></span></td>
                <td><span class="cross"></span></td>
                <td>Non-iritating to skin</td>
              </tr>
              <tr>
                <td><span class="tick"></span></td>
                <td><span class="cross"></span></td>
                <td>Remains active after drying</td>
              </tr>
              <tr>
                <td><span class="tick"></span></td>
                <td><span class="cross"></span></td>
                <td>Pleasant scent-no overpowering alcohol odor</td>
              </tr>
              <tr>
                <td><span class="tick"></span></td>
                <td><span class="cross"></span></td>
                <td>More effective with repeated use</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-5 col-sm-12 desktop align-items-bottom tablet-center">
      <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/hand-frame.svg?v=1611009245" />
    </div>
    <div class="row mobile justify-center w-100">
      <div class="col-12 mobile-p-0">
        <div class="comparison container">
          <div class="title-bar row">
              <div class="title-switch col-6 active">
                  <div class="title-text">
                      <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/pro-title-logo.svg?v=1611691212" alt="" class="pro-logo">
                  </div>
                  <div class="border-div"></div>
              </div>
              <div class="title-switch col-6">
                  <div class="title-text">
                      traditional<br>sanitizers
                  </div>
                  <div class="border-div"></div>
              </div>
          </div>
          <div class="image-wrapper">
              <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/pro-hand.png?v=1611778413" alt="" class="pro-image active">
              <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/dirty-hand.png?v=1611778470" alt="" class="con-image">
          </div>
          <div class="checkboxes pros">
              <div class="text-point">
                  <span class="text">Non-iritating to skin</span>
              </div>
              <div class="text-point">
                  <span class="text">Remains active after drying</span>
              </div>
              <div class="text-point">
                  <span class="text">Pleasant scent-no overpowering alcohol odor</span>
              </div>
              <div class="text-point">
                  <span class="text">More effective with repeated use</span>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</section>
<script>
    $('.title-switch').click(function(){
    $('.title-switch').toggleClass('active')
    $('.con-image').toggleClass('active')
    $('.pro-image').toggleClass('active')
    $('.checkboxes').toggleClass('pros')
    })
</script>