{% if product.metafields.custom_fields["pdp_title"] != blank %}
  <div class="custom-field custom-field__pdp-title custom-field__type--text">
    <h3 class="custom-field--title">PDP_title</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["pdp_title"] }}
    </div>
  </div>
{% endif %}