
    <div class="col-lg-6 col-md-12 z-10 gradient-bg">
      <h1>{{ section.settings.title }}</h1>
    <!-- <button class="btn btn-dark">{{ section.settings.button_label }}</button> -->
    {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
          {%- capture ariaLabel -%}
            {{- section.settings.button_label -}}
            {%- if section.settings.button_link.type == 'frontpage_link' -%}
              : {{ 'homepage.general.title' | t -}}
            {%- elsif section.settings.button_link.type == 'catalog_link' -%}
              : {{ 'collections.catalog.title' | t -}}
            {%- elsif section.settings.button_link.object.title -%}
              : {{ section.settings.button_link.object.title -}}
            {%- endif -%}
          {%- endcapture -%}

          <a href="{{ section.settings.button_link }}"
            class="btn btn-dark"
            aria-label="{{ ariaLabel }}">
            {{- section.settings.button_label | escape -}}
          </a>
        {%- endif -%}
  </div>
  <div class="col-lg-6 col-md-12 z-9 after-effect desktop">
    <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/hand-placeholder.png?v=1607486920" alt="protected hand stopping germs" class="hand-clear placeholder bg-white img-auto">
    <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/hand-placeholder.png?v=1607486920" alt="protected hand stopping germs" class="hand-clear placeholder img-auto">
    <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/hand-clear.png?v=1607486954" alt="protected hand stopping germs" class="hand-clear img-auto">
  </div>
  <div class="col-lg-6 col-md-12 z-9 after-effect mobile">
    <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/hand-clear-small.png?v=1608721982" alt="protected hand stopping germs" class="hand-clear img-auto">
  </div>
  <div id="germs" class="germs">
    <div id="petrie-1" class="petrie-dish"></div>
  </div>