<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect x="48" y="48" width="48" height="48" transform="rotate(-180 48 48)" fill="white"/>
<path d="M41 23.5706H9" stroke="#4739F5" stroke-width="2" stroke-linecap="round"/>
<path d="M16.4 15.5706L8.3504 23.9843L16.4001 32.034" stroke="#4739F5" stroke-width="2" stroke-linecap="round"/>
</svg>
