<svg width="86" height="85" viewBox="0 0 86 85" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M83.6775 42.5C83.6775 65.1407 65.2844 83.5 42.5887 83.5C19.8931 83.5 1.5 65.1407 1.5 42.5C1.5 19.8593 19.8931 1.5 42.5887 1.5C65.2844 1.5 83.6775 19.8593 83.6775 42.5Z" stroke="white" stroke-width="3"/>
    <path d="M56.0867 37.5042C59.6565 39.8784 59.6564 45.122 56.0867 47.4961L41.1926 57.4019C37.2049 60.0541 31.8699 57.1952 31.8699 52.406L31.8699 32.5943C31.8699 27.8051 37.2049 24.9462 41.1926 27.5984L56.0867 37.5042Z" fill="white"/>
    </svg>