<svg width="23" height="23" viewBox="0 0 14 23" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M7.00168 6.51995C8.80211 6.51995 10.2617 5.06041 10.2617 3.25998C10.2617 1.45954 8.80211 0 7.00168 0C5.20124 0 3.7417 1.45954 3.7417 3.25998C3.7417 5.06041 5.20124 6.51995 7.00168 6.51995Z" fill="#808080"/>
    <path d="M0 15.0632V22.1147H3.86749V15.0632C3.86749 14.6515 3.94859 14.2438 4.10615 13.8634C4.26371 13.483 4.49465 13.1374 4.78578 12.8463C5.07691 12.5551 5.42253 12.3242 5.80292 12.1666C6.1833 12.0091 6.59099 11.928 7.00271 11.928C7.41444 11.928 7.82213 12.0091 8.20251 12.1666C8.58289 12.3242 8.92851 12.5551 9.21965 12.8463C9.51078 13.1374 9.74172 13.483 9.89928 13.8634C10.0568 14.2438 10.1379 14.6515 10.1379 15.0632V22.1147H14V15.0632C13.9493 13.2404 13.1895 11.5093 11.8823 10.238C10.5751 8.96666 8.82349 8.25537 7 8.25537C5.17651 8.25537 3.42494 8.96666 2.11772 10.238C0.810501 11.5093 0.0507456 13.2404 0 15.0632Z" fill="#808080"/>
    </svg>