<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="48" height="48" fill="white"/>
<path d="M7 24.4294L39 24.4294" stroke="#4739F5" stroke-width="2" stroke-linecap="round"/>
<path d="M31.6 32.4294L39.6496 24.0157L31.5999 15.966" stroke="#4739F5" stroke-width="2" stroke-linecap="round"/>
</svg>
