<svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M3.86726 14.2147L12.9628 18.9605L21.7572 1.99998" stroke="#5133FF" stroke-width="3"/>
    </svg>
    