<section id="testimonials">
  <div class="hero-section pl-64 pr-64 mobile-p-0 desktop">
    <div class="slider-container">
      <div class="row">
        <div class="col-lg-12">
          <div class="title-box">
            <div class="title-serif">Don't take our word for it...</div>
            <a class="sub-title" href="/pages/testimonials">see all reviews</a>
          </div>
          <!-- row slider elements here -->
          <div id="carouselExampleIndicators" class="row slider carousel slide" data-ride="carousel">
            <div class="modal-slider-nav">
              <span class="prev-nav">&#10094;</span>
              <span class="next-nav">&#10095;</span>
            </div>
            <div class="d-flex carousel-inner">
              <div class="active carousel-item invisible">
                <div class="d- w-100 row flex-nowrap">
                  <div id="quotequotes-2" class="col-lg-5 quote-box rnd bg-white d-block w-100">
                    <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/five-star.svg?v=1607552324"
                      alt="5 star review" class="five-stars" />
                    <div class="quote">
                      <p><strong>Best sanitizer!</strong></p>
                      <p>
                        "Nano Pure has kept me healthy through major health
                        problems and immunosuppressive medications. I keep it
                        with me at all times!"
                      </p>
                    </div>
                    <div class="cite">Sarah P</div>
                  </div>
                  <div id="quotequotes-0" class="col-lg-5 quote-box rnd bg-white">
                    <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/five-star.svg?v=1607552324"
                      alt="5 star review" class="five-stars" />
                    <div class="quote">
                      <p><strong> How I start Every Day</strong></p>
                      <p>
                        "I have been buying Nano for years. I never start a day
                        without it. With two school age children and working
                        parents this is a must for my family!"
                      </p>
                    </div>
                    <div class="cite">Jessica S</div>
                  </div>
                  <div id="quotequotes-1" class="col-lg-5 quote-box rnd bg-white d-block w-100">
                    <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/five-star.svg?v=1607552324"
                      alt="5 star review" class="five-stars" />
                    <div class="quote">
                      <p>
                        <strong>Keeps my skin healthy and protected!</strong>
                      </p>
                      <p>
                        "Way better than alcohol sanitizers! It smells and feels
                        great on my hands and my skin seems much healthier now
                        after using for several months."
                      </p>
                    </div>
                    <div class="cite">Charles P</div>
                  </div>
                </div>
              </div>
              <div class="active carousel-item position-absolute">
                <div class="d- w-100 row flex-nowrap">
                  <div id="quotequotes-2" class="col-lg-5 quote-box rnd bg-white d-block w-100">
                    <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/five-star.svg?v=1607552324"
                      alt="5 star review" class="five-stars" />
                    <div class="quote">
                      <p><strong>Best sanitizer!</strong></p>
                      <p>
                        "Nano Pure has kept me healthy through major health
                        problems and immunosuppressive medications. I keep it
                        with me at all times!"
                      </p>
                    </div>
                    <div class="cite">Sarah P</div>
                  </div>
                  <div id="quotequotes-0" class="col-lg-5 quote-box rnd bg-white">
                    <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/five-star.svg?v=1607552324"
                      alt="5 star review" class="five-stars" />
                    <div class="quote">
                      <p><strong> How I start Every Day</strong></p>
                      <p>
                        "I have been buying Nano for years. I never start a day
                        without it. With two school age children and working
                        parents this is a must for my family!"
                      </p>
                    </div>
                    <div class="cite">Jessica S</div>
                  </div>
                  <div id="quotequotes-1" class="col-lg-5 quote-box rnd bg-white d-block w-100">
                    <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/five-star.svg?v=1607552324"
                      alt="5 star review" class="five-stars" />
                    <div class="quote">
                      <p>
                        <strong>Keeps my skin healthy and protected!</strong>
                      </p>
                      <p>
                        "Way better than alcohol sanitizers! It smells and feels
                        great on my hands and my skin seems much healthier now
                        after using for several months."
                      </p>
                    </div>
                    <div class="cite">Charles P</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-section pl-64 pr-64 mobile-p-0 mobile">
    <div class="slider-container">
      <div class="row">
        <div class="col-lg-12">
          <div class="title-box">
            <div class="title-serif">Don't take our word for it...</div>
            <a class="sub-title" href="/pages/testimonials">see all reviews</a>
          </div>
          <!-- row slider elements here -->
          <div id="modal-slider" class="mobile">
            <div class="row flex-nowrap">
              <div id="quotequotes-2" class="modal-slides col-10 offset-1 quote-box rnd bg-white">
                <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/five-star.svg?v=1607552324"
                  alt="5 star review" class="five-stars" />
                <div class="quote">
                  <p><strong>Best sanitizer!</strong></p>
                  <p>
                    "Nano Pure has kept me healthy through major health problems
                    and immunosuppressive medications. I keep it with me at all
                    times!"
                  </p>
                </div>
                <div class="cite">Sarah P</div>
              </div>
              <div id="quotequotes-0" class="modal-slides col-10 offset-1 quote-box rnd bg-white">
                <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/five-star.svg?v=1607552324"
                  alt="5 star review" class="five-stars" />
                <div class="quote">
                  <p><strong> How I start Every Day</strong></p>
                  <p>
                    "I have been buying Nano for years. I never start a day
                    without it. With two school age children and working parents
                    this is a must for my family!"
                  </p>
                </div>
                <div class="cite">Jessica S</div>
              </div>
              <div id="quotequotes-1" class="modal-slides col-10 offset-1 quote-box rnd bg-white">
                <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/five-star.svg?v=1607552324"
                  alt="5 star review" class="five-stars" />
                <div class="quote">
                  <p><strong>Keeps my skin healthy and protected!</strong></p>
                  <p>
                    "Way better than alcohol sanitizers! It smells and feels
                    great on my hands and my skin seems much healthier now after
                    using for several months."
                  </p>
                </div>
                <div class="cite">Charles P</div>
              </div>
            </div>

            <div class="modal-slider-nav" style="width: 100%">
              <span class="mob-prev-nav" onclick="plusDivs(-1)">&#10094;</span>
              <span class="mob-next-nav" onclick="plusDivs(+1)">&#10095;</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style></style>
<script>
  $(".prev-nav").click(function () {
    $(".carousel-item").removeClass("righted");
    $(".next-nav").removeClass("invisible");
    $(".prev-nav").addClass("invisible");
  });
  $(".next-nav").click(function () {
    $(".carousel-item").addClass("righted");
    $(".next-nav").addClass("invisible");
    $(".prev-nav").removeClass("invisible");
  });
  var slideIndex = 0;
  showDivs(slideIndex);

  function plusDivs(n) {
    showDivs((slideIndex += n));
  }

  function showDivs(n) {
    var i;
    // console.log(n);
    
    var x = document.getElementsByClassName("modal-slides");
    if (n > x.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = x.length;
    }
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    x[slideIndex - 1].style.display = "block";
  }
</script>