<section id="quote-no-avatar" class="hero-section quote-w-headshot pl-64 pr-64">
    <div class="row">
        <div class="col-lg-12">
            <div class="title-box">
                <div class="title-serif">Don't take our word for it</div>
                <div class="follow-through">
                    <a class="sub-title" href="/pages/testimonials">see all reviews</a>
                </div>
            </div>
        </div>

    </div>
    <div class="glider2-contain">
        <div class="glider2">
            <div class="testimonial">
                <div class="card">
                    <div class="text">
                        <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/five-star.svg?v=1607552324"
                    alt="5 star review" class="five-stars" />
                        <blockquote>
                            <p class="quote strong">Best sanitizer!</p>
                            <p class="quote">Nano Pure has kept me healthy through major health problems and  immunosuppressive medications. I keep it with me at all times!</p>
                            <cite>
                                <h4 class="name">Sarah P</h4>
                            </cite>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="card">
                    <div class="text">
                        <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/five-star.svg?v=1607552324"
                    alt="5 star review" class="five-stars" />
                        <blockquote>
                            <p class="quote strong">Never travel without it</p>
                            <p class="quote">I retired and started traveling. After coming home twice with a illness, I ordered Nano and have’t had a bug since!</p>
                            <cite>
                                <h4 class="name">Joyce Y</h4>
                            </cite>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="card">
                    <div class="text">
                        <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/five-star.svg?v=1607552324"
                    alt="5 star review" class="five-stars" />
                        <blockquote>
                            <p class="quote strong"> Keeps my skin healthy and protected!</p><p class="quote">Way better than alcohol sanitizers! It smells and feels
                                great on my hands and my skin seems much healthier now after
                                using for several months.</p>
                            <cite>
                                <h4 class="name">Charles P</h4>
                            </cite>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="testimonial">
                <div class="card">
                    <div class="text">
                        <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/five-star.svg?v=1607552324"
                    alt="5 star review" class="five-stars" />
                        <blockquote>
                            <p class="quote strong"> How I start Every Day</p>
                            <p class="quote">I have been buying Nano for years. I never start a day without it. With two school age children and working parents this is a must for my family!</p>
                            <cite>
                                <h4 class="name">Jessica S</h4>
                            </cite>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>

        <div id="quote-dots"></div>
    </div>
</section>

<script>
    window.addEventListener('load',function(){
      document.querySelector('.glider2').addEventListener('glider-slide-visible', function(event){
          var glider = Glider(this);
          // console.log('Slide Visible %s', event.detail.slide)
      });
      document.querySelector('.glider2').addEventListener('glider-slide-hidden', function(event){
          // console.log('Slide Hidden %s', event.detail.slide)
      });
      document.querySelector('.glider2').addEventListener('glider-refresh', function(event){
          // console.log('Refresh')
      });
      document.querySelector('.glider2').addEventListener('glider-loaded', function(event){
          // console.log('Loaded')
      });
  
      window._ = new Glider(document.querySelector('.glider2'), {
          slidesToShow: 2, //'auto',
          slidesToScroll: 1,
          itemWidth: 100,
          draggable: true,
          scrollLock: false,
          dots: '#quote-dots',
          rewind: true,
          arrows: {
              prev: '.glider-prev',
              next: '.glider-next'
          },
          responsive: [
              {
                  breakpoint: 1024,
                  settings: {
                      // slidesToScroll: 'auto',
                    //   itemWidth: 300,
                      slidesToShow: '1',
                      // exactWidth: true
                  }
              },
              {
                  breakpoint: 300,
                  settings: {
                      // slidesToScroll: 2,
                      slidesToShow: 1,
                      // dots: false,
                      // arrows: false,
                      // scrollLock: true
                  }
              }
          ]
      });
    });
  </script>
