<section id="quote-w-avatar" class="hero-section quote-w-headshot">
    <div class="">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-box">
                    <div class="title-serif">Don't take our word for it</div>
                </div>


            </div>
            

        </div>
        <div class="glider2-contain">
            <div class="glider2">
                <div class="testimonial">
                    <div class="card">
                        <div class="avatar"><span class="corner-trick"></span>
                            <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/Brian.png?v=1608205874" alt="Brain Temple" width="300" height="300">
                        </div>
                        <div class="text">
                            <blockquote>
                                <p class="quote">Nano Pure is a game changer! As a pediatrician in a busy practice, I can't allow parents or children to be exposed to germs in my office. Little hands touch everything! Nano Pure provides me with a sense of comfort that both my staff and I, as well as everything in my waiting room and exam rooms are germ free. The product is non-toxic and provides active protection. I suspect that with time, every pediatric office will move toward a daily Nano regimen to ensure the health and wellness of staff and patients.</p>
                                <cite>
                                    <h4 class="name">Dr. Brian Temple, M.D.</h4>
                                    <!-- <p class="company">BeanSprout Pediatrics</p> -->
                                </cite>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="testimonial">
                    <div class="card">
                        <div class="avatar"><span class="corner-trick"></span>
                            <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/Bridigd.jpg?v=1608205874" alt="Bridigd" width="300" height="300">
                        </div>
                        <div class="text">
                            <blockquote>
                                <p class="quote">I wanted to let you know I love the nano! I love how it feels on my hands. I love the smell. And most of all  as a nurse I love knowing I am protected from the germs I come in contact with daily. Thank you!</p>
                                <cite>
                                    <h4 class="name">Brigid, RN, BSN</h4>
                                </cite>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="testimonial">
                    <div class="card">
                        <div class="avatar"><span class="corner-trick"></span>
                            <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/Jennifer.jpg?v=1608205875" alt="Jennifer Russell" width="300" height="300">
                        </div>
                        <div class="text">
                            <blockquote>
                                <p class="quote">As a mom and a school nurse, I was so excited to discover Nano Pure. My husband is an elementary teacher and my three-year twin daughters attend Montessori. We are all exposed to an over abundance of illnesses. We all wash our hands frequently, but require an extra layer of protection throughout the day. Nano Pure is almost odorless, which I love, since I am sensitive to fragrances. It sprays on easily and absorbs fast. My hands feel soft and moisturized after each use. My whole family use it every morning before we all head off to our schools.</p>
                                <cite>
                                    <h4 class="name">Jennifer Russell, RN, BSN</h4>
                                </cite>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <button class="glider2-prev">&laquo;</button>
            <button class="glider2-next">&raquo;</button> -->
            <div id="quote-dots"></div>
        </div>
        <div class="follow-through">
            <a class="sub-title" href="/pages/testimonials">see all reviews</a>
        </div>
        </div>
    </div>
    <div class="testi-dots"></div>
    
</section>

<script>
    window.addEventListener('load',function(){
      document.querySelector('.glider2').addEventListener('glider-slide-visible', function(event){
          var glider = Glider(this);
          // console.log('Slide Visible %s', event.detail.slide)
      });
      document.querySelector('.glider2').addEventListener('glider-slide-hidden', function(event){
          // console.log('Slide Hidden %s', event.detail.slide)
      });
      document.querySelector('.glider2').addEventListener('glider-refresh', function(event){
          // console.log('Refresh')
      });
      document.querySelector('.glider2').addEventListener('glider-loaded', function(event){
          // console.log('Loaded')
      });
  
      window._ = new Glider(document.querySelector('.glider2'), {
          slidesToShow: 1, //'auto',
          slidesToScroll: 1,
          itemWidth: 100,
          draggable: true,
          scrollLock: true,
          dots: '#quote-dots',
          rewind: true,
          arrows: {
              prev: '.glider-prev',
              next: '.glider-next'
          },
          responsive: [
              {
                  breakpoint: 800,
                  settings: {
                      // slidesToScroll: 'auto',
                      itemWidth: 300,
                      // slidesToShow: 'auto',
                      // exactWidth: true
                  }
              },
              {
                  breakpoint: 700,
                  settings: {
                      // slidesToScroll: 4,
                      // slidesToShow: 4,
                      // dots: false,
                      // arrows: false,
                  }
              },
              {
                  breakpoint: 600,
                  settings: {
                      // slidesToScroll: 3,
                      // slidesToShow: 3
                  }
              },
              {
                  breakpoint: 500,
                  settings: {
                      // slidesToScroll: 2,
                      // slidesToShow: 2,
                      // dots: false,
                      // arrows: false,
                      // scrollLock: true
                  }
              }
          ]
      });
    });
  </script>
