<div class="sales-points" class="">
  <div class="desktop">
    <div class="row text-center">
      <div class="point-wrapper col-md-3">
        <div class="box">
          <div class="headline-tag">Free Shipping</div>
          <div class="text-tag">On orders over $50</div>
        </div>
      </div>
      <div class="point-wrapper col-md-3">
        <div class="box">
          <div class="headline-tag">Travel-friendly</div>
          <div class="text-tag">Convenient bottle sizes for air travel</div>
        </div>
      </div>
      <div class="point-wrapper col-md-3">
        <div class="box">
          <div class="headline-tag">Made in USA</div>
          <div class="text-tag">At FDA regulated facilities</div>
        </div>
      </div>
      <div class="point-wrapper col-md-3">
        <div class="box">
          <div class="headline-tag">FDA Registered</div>
          <div class="text-tag">Clinically tested and safe to use</div>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile">
    <div class="glider-contain">
      <div class="glider sales">
        <div class="point-wrapper col-md-3">
          <div class="box">
            <div class="headline-tag">Free Shipping</div>
            <div class="text-tag">On orders over $50</div>
          </div>
        </div>
        <div class="point-wrapper col-md-3">
          <div class="box">
            <div class="headline-tag">Travel-friendly</div>
            <div class="text-tag">Convenient bottle sizes for air travel</div>
          </div>
        </div>
        <div class="point-wrapper col-md-3">
          <div class="box">
            <div class="headline-tag">Made in USA</div>
            <div class="text-tag">At FDA regulated facilities</div>
          </div>
        </div>
        <div class="point-wrapper col-md-3">
          <div class="box">
            <div class="headline-tag">FDA Registered</div>
            <div class="text-tag">Clinically tested and safe to use</div>
          </div>
        </div>
      </div>
      <div id="dots" class="sales"></div>
    </div>
   
  </div>
</div>
<script>
  window.addEventListener('load',function(){
    document.querySelector('.glider.sales').addEventListener('glider-slide-visible', function(event){
        var glider = Glider(this);
        // console.log('Slide Visible %s', event.detail.slide)
    });
    document.querySelector('.glider.sales').addEventListener('glider-slide-hidden', function(event){
        // console.log('Slide Hidden %s', event.detail.slide)
    });
    document.querySelector('.glider.sales').addEventListener('glider-refresh', function(event){
        // console.log('Refresh')
    });
    document.querySelector('.glider.sales').addEventListener('glider-loaded', function(event){
        // console.log('Loaded')
    });

    window._ = new Glider(document.querySelector('.glider.sales'), {
        slidesToShow: 1, //'auto',
        slidesToScroll: 1,
        itemWidth: 100,
        draggable: true,
        scrollLock: true,
        dots: '#dots.sales',
        rewind: true,
        arrows: {
            prev: '.glider-prev',
            next: '.glider-next'
        },
        responsive: [
            {
                breakpoint: 800,
                settings: {
                    // slidesToScroll: 'auto',
                    itemWidth: 300,
                    // slidesToShow: 'auto',
                    // exactWidth: true
                }
            },
            {
                breakpoint: 700,
                settings: {
                    // slidesToScroll: 4,
                    // slidesToShow: 4,
                    // dots: false,
                    // arrows: false,
                }
            },
            {
                breakpoint: 600,
                settings: {
                    // slidesToScroll: 3,
                    // slidesToShow: 3
                }
            },
            {
                breakpoint: 500,
                settings: {
                    // slidesToScroll: 2,
                    // slidesToShow: 2,
                    // dots: false,
                    // arrows: false,
                    // scrollLock: true
                }
            }
        ]
    });
  });
</script>

