<div class="testimonial-snippet">
  <p class="title-serif">Reviews <span class="lg-none">(12)</span></p>
  <div class="row sub-line">
    <div class="col-12">
      <div class="box">1 - 12 of 12 reviews</div>
      <div class="box">Sort by: Most Recent <icon class="chevron-down"></icon></div>
    </div>
  </div>
  <div class="testimonial-list">
    <!-- <div id="y-badges" class="yotpo yotpo-badge badge-init">&nbsp;</div> -->
    <div class="row">
        <div class="cite col-lg-2"><p>Jennifer Russell, RN, BSN </p> <p class="date">11.02.2020</p></div>
        <div class="blockquote col-10">
          <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/five-star.svg?v=1607552324" alt="5 star review" class="five-stars">
          <div class="quote">As a mom and a school nurse, I was so exdivd to discover Nano Pure. My husband is an elementary teacher and my three-year twin daughters attend Montessori. We are all exposed to an over abundance of illnesses. We all wash our hands frequently, but require an extra layer of protection throughout the day. Nano Pure is almost odorless, which I love, since I am sensitive to fragrances. It sprays on easily and absorbs fast. My hands feel soft and moisturized after each use. My whole family use it every morning before we all head off to our schools.</div>
        </div>
    </div>
    <div class="row">
        <div class="cite col-lg-2"><p>Brigid, RN, BSN</p><p class="date">11.02.2020</p></div>
        <div class="blockquote col-10">
          <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/five-star.svg?v=1607552324" alt="5 star review" class="five-stars">
          <div class="quote">I wanted to let you know I love the nano! I love how it feels on my hands. I love the smell. And most of all  as a nurse I love knowing I am protected from the germs I come in contact with daily. Thank you!</div>
        </div>
    </div>
    <div class="row">
        <div class="cite col-lg-2"><p>Dr. Brian Temple, M.D.</p>BeanSprout Pediatrics </p><p class="date">11.02.2020</p></div>
        <div class="blockquote col-10">
          <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/five-star.svg?v=1607552324" alt="5 star review" class="five-stars">
          <div class="quote">Nano Pure is a game changer! As a pediatrician in a busy practice, I can't allow parents or children to be exposed to germs in my office. Little hands touch everything! Nano Pure provides me with a sense of comfort that both my staff and I, as well as everything in my waiting room and exam rooms are germ free. The product is non-toxic and provides 24 hour protection. I suspect that with time, every pediatric office will move toward a daily Nano regimen to ensure the health and wellness of staff and patients.</div>
        </div>
    </div>
  </div>
</div>

