/**
 * @license
 * MyFonts Webfont Build ID 3382557, 2017-05-01T12:16:37-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: FreightDispProBold-Regular by GarageFonts
 * URL: http://www.myfonts.com/fonts/garagefonts/freight-disp-pro/bold/
 * Copyright: Copyright &#x00A9; 2005-2009, Joshua Darden &amp; Phil's Fonts, Inc. All rights reserved. Published by Garagefonts USA 301-879-9222 www.garagefonts.com
 * Licensed pageviews: 10,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3382557
 * 
 * © 2017 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/339d1d");

  
@font-face {font-family: 'FreightDispProBold-Regular';src: url('webfonts/339D1D_0_0.eot');src: url('webfonts/339D1D_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/339D1D_0_0.woff2') format('woff2'),url('webfonts/339D1D_0_0.woff') format('woff'),url('webfonts/339D1D_0_0.ttf') format('truetype');}
 