{% render "blocks.custom_fields" with resource_type: "products", blocks: section.blocks %}
{% schema %}
  {
    "name": {
        "en": "Custom Fields"
    },
    "settings": [
        {
            "type": "paragraph",
            "content": "[View Documentation](https:\/\/custom-fields.docs.bonify.io\/)"
        },
        {
            "type": "paragraph",
            "content": "[Edit Custom Fields](https:\/\/customfields.bonify.io\/dashboard\/mynanopure.myshopify.com\/products\/configure)"
        }
    ],
    "blocks": [
        {
            "type": "cf_f_text",
            "name": {
                "en": "Text"
            },
            "settings": [
                {
                    "type": "select",
                    "id": "key",
                    "label": "Select a Field",
                    "options": [
                        {
                            "value": "pdp_title",
                            "label": "PDP_title"
                        }
                    ]
                }
            ]
        }
    ]
}
{% endschema %}
