<section id="hero-1" class="hero-section animate pl-64">
  <div class="row rev">
    <div class="col-xs-12 col-md-6 z-10 white-bg">
        <h1>{{ section.settings.title }}</h1>
      <!-- <button class="btn btn-dark">{{ section.settings.button_label }}</button> -->
      {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
            {%- capture ariaLabel -%}
              {{- section.settings.button_label -}}
              {%- if section.settings.button_link.type == 'frontpage_link' -%}
                : {{ 'homepage.general.title' | t -}}
              {%- elsif section.settings.button_link.type == 'catalog_link' -%}
                : {{ 'collections.catalog.title' | t -}}
              {%- elsif section.settings.button_link.object.title -%}
                : {{ section.settings.button_link.object.title -}}
              {%- endif -%}
            {%- endcapture -%}

            <a href="{{ section.settings.button_link }}"
              class="btn btn-dark"
              aria-label="{{ ariaLabel }}">
              {{- section.settings.button_label | escape -}}
            </a>
          {%- endif -%}
    </div>
    <div class="col-xs-12 col-md-6 z-9 after-effect gradient-bg">
     
      <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/hand-clear-static.png?v=1611058107" alt="" class="hand-static desktop">
      <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/hand-clear-static_mobile.svg?v=1611188272" alt="protected hand stopping germs" class="hand-clear img-auto mobile">
    </div>
    <!-- <div class="col-lg-6 col-md-12 z-9 after-effect mobile hero-1-image">
      <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/hand-clear-static_mobile.svg?v=1611188272" alt="protected hand stopping germs" class="hand-clear img-auto">
    </div> -->
    <div id="germs" class="germs invisible">
      <div id="petrie-1" class="petrie-dish"></div>
    </div>
  </div> 
</section>
  
  
  {% schema %}
  {
    "name": {
      "cs": "Obrázek s textem",
      "da": "Billede med tekst",
      "de": "Foto mit Text",
      "en": "hero-1",
      "es": "Imagen con texto",
      "fi": "Kuva tekstillä",
      "fr": "Image avec texte",
      "hi": "टेक्स्ट वाली इमेज",
      "it": "Immagine con testo",
      "ja": "テキスト付き画像",
      "ko": "텍스트 포함 이미지",
      "nb": "Bilde med tekst",
      "nl": "Afbeelding met tekst",
      "pl": "Obraz z tekstem",
      "pt-BR": "Imagem com texto",
      "pt-PT": "Imagem com texto",
      "sv": "Bild med text",
      "th": "รูปภาพพร้อมข้อความ",
      "tr": "Metin içeren görsel",
      "vi": "Hình ảnh có chữ",
      "zh-CN": "带文本图片",
      "zh-TW": "附文字的圖片"
    },
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": {
          "cs": "Nadpis",
          "da": "Overskrift",
          "de": "Titel",
          "en": "Heading",
          "es": "Título",
          "fi": "Otsake",
          "fr": "En-tête",
          "hi": "शीर्षक",
          "it": "Heading",
          "ja": "見出し",
          "ko": "제목",
          "nb": "Overskrift",
          "nl": "Kop",
          "pl": "Nagłówek",
          "pt-BR": "Título",
          "pt-PT": "Título",
          "sv": "Rubrik",
          "th": "ส่วนหัว",
          "tr": "Başlık",
          "vi": "Tiêu đề",
          "zh-CN": "标题",
          "zh-TW": "標題"
        },
        "default": {
          "cs": "Obrázek s textem",
          "da": "Billede med tekst",
          "de": "Foto mit Text",
          "en": "Image with text",
          "es": "Imagen con texto",
          "fi": "Kuva tekstillä",
          "fr": "Image avec texte",
          "hi": "टेक्स्ट वाली इमेज",
          "it": "Immagine con testo",
          "ja": "テキスト付き画像",
          "ko": "텍스트 포함 이미지",
          "nb": "Bilde med tekst",
          "nl": "Afbeelding met tekst",
          "pl": "Obraz z tekstem",
          "pt-BR": "Imagem com texto",
          "pt-PT": "Imagem com texto",
          "sv": "Bild med text",
          "th": "รูปภาพพร้อมข้อความ",
          "tr": "Metin içeren görsel",
          "vi": "Hình ảnh có chữ",
          "zh-CN": "带文本图片",
          "zh-TW": "附文字的圖片"
        }
      },
      {
        "type": "text",
        "id": "button_label",
        "label": {
          "cs": "Text tlačítka",
          "da": "Knaptekst",
          "de": "Button-Etikett",
          "en": "Button label",
          "es": "Etiqueta de botón",
          "fi": "Tekstipainike",
          "fr": "Texte du bouton",
          "hi": "बटन लेबल",
          "it": "Etichetta pulsante",
          "ja": "ボタンのラベル",
          "ko": "버튼 레이블",
          "nb": "Knappetikett",
          "nl": "Knoplabel",
          "pl": "Przycisk z etykietą",
          "pt-BR": "Etiqueta de botão",
          "pt-PT": "Etiqueta do botão",
          "sv": "Knappetikett",
          "th": "ป้ายกำกับปุ่ม",
          "tr": "Düğme etiketi",
          "vi": "Nhãn nút",
          "zh-CN": "按钮标签",
          "zh-TW": "按鈕標籤"
        }
      },
      {
        "type": "url",
        "id": "button_link",
        "label": {
          "cs": "Tlačítkový odkaz",
          "da": "Knaplink",
          "de": "Button-Link",
          "en": "Button link",
          "es": "Enlace de botón",
          "fi": "Painikelinkki",
          "fr": "Lien du bouton",
          "hi": "बटन लिंक",
          "it": "Link pulsante",
          "ja": "ボタンのリンク",
          "ko": "버튼 링크",
          "nb": "Kobling for knapp",
          "nl": "Knoplink",
          "pl": "Link przycisku",
          "pt-BR": "Link de botão",
          "pt-PT": "Ligação do botão",
          "sv": "Knapplänk",
          "th": "ลิงก์ปุ่ม",
          "tr": "Düğme bağlantısı",
          "vi": "Liên kết trên nút",
          "zh-CN": "按钮链接",
          "zh-TW": "按鈕連結"
        }
      }
    ],
    "presets": [
      {
        "name": {
          "cs": "Obrázek s textem",
          "da": "Billede med tekst",
          "de": "Foto mit Text",
          "en": "hero-1",
          "es": "Imagen con texto",
          "fi": "Kuva tekstillä",
          "fr": "Image avec texte",
          "hi": "टेक्स्ट वाली इमेज",
          "it": "Immagine con testo",
          "ja": "テキスト付き画像",
          "ko": "텍스트 포함 이미지",
          "nb": "Bilde med tekst",
          "nl": "Afbeelding met tekst",
          "pl": "Obraz z tekstem",
          "pt-BR": "Imagem com texto",
          "pt-PT": "Imagem com texto",
          "sv": "Bild med text",
          "th": "รูปภาพพร้อมข้อความ",
          "tr": "Metin içeren görsel",
          "vi": "Hình ảnh có chữ",
          "zh-CN": "带文本图片",
          "zh-TW": "附文字的圖片"
        },
        "category": {
          "cs": "Obrázek",
          "da": "Billede",
          "de": "Foto",
          "en": "custom",
          "es": "Imagen",
          "fi": "Kuva",
          "fr": "Image",
          "hi": "इमेज",
          "it": "Immagine",
          "ja": "画像",
          "ko": "이미지",
          "nb": "Bilde",
          "nl": "Afbeelding",
          "pl": "Obraz",
          "pt-BR": "Imagem",
          "pt-PT": "Imagem",
          "sv": "Bild",
          "th": "รูปภาพ",
          "tr": "Görsel",
          "vi": "Hình ảnh",
          "zh-CN": "图片",
          "zh-TW": "圖片"
        }
      }
    ]
  }
  {% endschema %}
  