<section id="icon-block" class="pl-64 pr-64">
  <div class="row align-middle text-center pl-64 pr-64">
    <div class="col-md-4 mobile-p-0">
      <div class="icon-wrapper proactive">
        <div class="icon-box">
          <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/proactive.svg?v=1607301837" alt="protective germ protection">
        </div>
        <div class="icon-title align-items-center">{{ section.settings.title_1 }}</div>
        <div class="text">
          {{ section.settings.text_1 }}
        </div>
      </div>
    </div>
    <div class="col-md-4 mobile-p-0">
      <div class="icon-wrapper kills">
        <div class="icon-box">
          <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/kills.svg?v=1607301837" alt="kills 99.9% of germs">
        </div>
        <div class="icon-title align-items-center">{{ section.settings.title_2 }}</div>
        <div class="text">
          {{ section.settings.text_2 }}
        </div>
      </div>
    </div>
    <div class="col-md-4 mobile-p-0">
      <div class="icon-wrapper gentle">
        <div class="icon-box">
          <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/gentle.svg?v=1607301836" alt="gentle on skin">
        </div>
        <div class="icon-title align-items-center">{{ section.settings.title_3 }}</div>
        <div class="text">
          {{ section.settings.text_3 }}
        </div>
      </div>
    </div>
  </div>
</section>
  
  
  {% schema %}
  {
    "name": {
      "cs": "Obrázek s textem",
      "da": "Billede med tekst",
      "de": "ikon blok",
      "en": "icon-block",
      "es": "Imagen con texto",
      "fi": "Kuva tekstillä",
      "fr": "Image avec texte",
      "hi": "टेक्स्ट वाली इमेज",
      "it": "Immagine con testo",
      "ja": "テキスト付き画像",
      "ko": "텍스트 포함 이미지",
      "nb": "Bilde med tekst",
      "nl": "Afbeelding met tekst",
      "pl": "Obraz z tekstem",
      "pt-BR": "Imagem com texto",
      "pt-PT": "Imagem com texto",
      "sv": "Bild med text",
      "th": "รูปภาพพร้อมข้อความ",
      "tr": "Metin içeren görsel",
      "vi": "Hình ảnh có chữ",
      "zh-CN": "带文本图片",
      "zh-TW": "附文字的圖片"
    },
    "class": "index-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "icon_1",
        "label": {
          "cs": "Obrázek",
          "da": "Billede",
          "de": "Foto",
          "en": "Image_1",
          "es": "Imagen",
          "fi": "Kuva",
          "fr": "Image",
          "hi": "इमेज",
          "it": "Immagine",
          "ja": "画像",
          "ko": "이미지",
          "nb": "Bilde",
          "nl": "Afbeelding",
          "pl": "Obraz",
          "pt-BR": "Imagem",
          "pt-PT": "Imagem",
          "sv": "Bild",
          "th": "รูปภาพ",
          "tr": "Görsel",
          "vi": "Hình ảnh",
          "zh-CN": "图片",
          "zh-TW": "圖片"
        }
      },
      {
        "type": "text",
        "id": "title_1",
        "label": {
          "cs": "Nadpis",
          "da": "Overskrift",
          "de": "Titel",
          "en": "Heading 1",
          "es": "Título",
          "fi": "Otsake",
          "fr": "En-tête",
          "hi": "शीर्षक",
          "it": "Heading",
          "ja": "見出し",
          "ko": "제목",
          "nb": "Overskrift",
          "nl": "Kop",
          "pl": "Nagłówek",
          "pt-BR": "Título",
          "pt-PT": "Título",
          "sv": "Rubrik",
          "th": "ส่วนหัว",
          "tr": "Başlık",
          "vi": "Tiêu đề",
          "zh-CN": "标题",
          "zh-TW": "標題"
        },
        "default": {
          "cs": "Obrázek s textem",
          "da": "Billede med tekst",
          "de": "Foto mit Text",
          "en": "Image 1",
          "es": "Imagen con texto",
          "fi": "Kuva tekstillä",
          "fr": "Image avec texte",
          "hi": "टेक्स्ट वाली इमेज",
          "it": "Immagine con testo",
          "ja": "テキスト付き画像",
          "ko": "텍스트 포함 이미지",
          "nb": "Bilde med tekst",
          "nl": "Afbeelding met tekst",
          "pl": "Obraz z tekstem",
          "pt-BR": "Imagem com texto",
          "pt-PT": "Imagem com texto",
          "sv": "Bild med text",
          "th": "รูปภาพพร้อมข้อความ",
          "tr": "Metin içeren görsel",
          "vi": "Hình ảnh có chữ",
          "zh-CN": "带文本图片",
          "zh-TW": "附文字的圖片"
        }
      },
      {
        "type": "richtext",
        "id": "text_1",
        "label": {
          "cs": "Text",
          "da": "Tekst",
          "de": "Text",
          "en": "Icon 1 Text",
          "es": "Texto",
          "fi": "Teksti",
          "fr": "Texte",
          "hi": "टेक्स्ट",
          "it": "Testo",
          "ja": "テキスト",
          "ko": "텍스트",
          "nb": "Tekst",
          "nl": "Tekst",
          "pl": "Tekst",
          "pt-BR": "Texto",
          "pt-PT": "Texto",
          "sv": "Text",
          "th": "ข้อความ",
          "tr": "Metin",
          "vi": "Văn bản",
          "zh-CN": "文本",
          "zh-TW": "文字"
        },
        "default": {
          "cs": "<p>Zkombinujte velký text a obrázek, abyste zaměřili pozornost návštěvníků na zvolený produkt, kolekci či příspěvek na blogu. Pak můžete připojit podrobnosti o dostupnosti a stylu, nebo dokonce recenzi.</p>",
          "da": "<p>Kombiner stor tekst med et billede for at give dit valgte produkt, din valgte kollektion eller dit valgte blogopslag fokus. Tilføj oplysninger om tilgængelighed, stil og eventuelt også en anmeldelse.</p>",
          "de": "<p>Kombinieren Sie große Schrift mit einem Foto, um einen Fokus auf Ihr ausgewähltes Produkt, die Kategorie oder einen Blogpost zu legen. Sie können dann Details zur Verfügbarkeit und dem Style oder sogar eine Bewertung hinzufügen.</p>",
          "en": "<p>blurb for</p>",
          "es": "<p>Vincula un texto largo con una imagen para dar visibilidad a tu producto, colección o artículo de blog seleccionados. Agrega detalles sobre disponibilidad, estilo, o incluso ofrece una reseña.</p>",
          "fi": "<p>Korosta valitsemaasi tuotetta, kokoelmaa tai blogijulkaisua lisäämällä kuvaan suuri teksti. Lisää saatavuustiedot, määritä tyyli tai näytä vaikkapa arvostelu.</p>",
          "fr": "<p>Ajoutez une image à un long texte pour mettre l'accent sur un produit de votre choix, une collection, ou un article de blog. Ajoutez des détails sur la disponibilité, le style, ou mettez un commentaire client en avant.</p>",
          "hi": "<p>अपने चुने हुए उत्पाद, कलेक्शन या ब्लॉग पोस्ट पर ध्यान देने के लिए छवि के साथ बड़े पाठ को पेयर करें. उपलब्धता, स्टाइल या यहां तक कि समीक्षा प्रदान करने पर विवरण जोड़ें.</p>",
          "it": "<p>Associa un testo di grandi dimensioni a un'immagine per dare importanza al prodotto, alla collezione o all'articolo del blog di tua scelta. Aggiungi dettagli sulla disponibilità, sullo stile o fornisci una recensione.</p>",
          "ja": "<p>あなたが選んだ商品、コレクション、またはブログ記事に注目を集めるため、大きなテキストと画像を組み合わせます。可用性、スタイル、またはレビュー提供についての詳細を追加します。</p>",
          "ko": "<p>이미지와 큰 텍스트를 짝지어 선택한 제품, 컬렉션, 블로그 게시판을 강조합니다. 사용 가능성, 스타일에 대한 자세한 정보를 추가하거나 리뷰를 제공합니다.</p>",
          "nb": "<p>Koble stor tekst med et bilde for å drive fokus mot det valgte produktet, samlingen eller blogginnlegget. Legg til detaljer om tilgjengelighet, stil eller vis frem en vurdering.</p>",
          "nl": "<p>Plaats een afbeelding bij grote stukken tekst om de aandacht op je gekozen product, collectie of blogpost te richten. Voeg details over beschikbaarheid en stijl toe of plaats een productrecensie.</p>",
          "pl": "<p>Połącz duży tekst z obrazem, aby skierować uwagę na wybrany produkt, kolekcję lub post na blogu. Dodaj szczegóły dotyczące dostępności, stylu lub nawet dołącz recenzję.</p>",
          "pt-BR": "<p>Emparelhe textos grandes com uma imagem para destacar o produto, a coleção ou o post do blog escolhido. Adicione informações sobre disponibilidade, estilo ou até mesmo uma avaliação.</p>",
          "pt-PT": "<p>Associe um texto grande a uma imagem para dar ênfase ao produto, coleção ou publicação no blogue que escolheu. Adicione detalhes sobre disponibilidade, estilo ou uma avaliação.</p>",
          "sv": "<p>Para ihop stor text med en bild för att ge fokus åt din valda produkt, kollektion eller blogginlägg. Lägg till information om tillgänglighet, stil eller tillhandahåll till och med en recension.</p>",
          "th": "<p>จับคู่ข้อความขนาดใหญ่กับรูปภาพเพื่อให้ความสำคัญกับสินค้า คอลเลกชัน หรือโพสต์บล็อกที่คุณเลือก เพิ่มรายละเอียดเกี่ยวกับความพร้อม สไตล์ หรือแม้กระทั่งเขียนรีวิว</p>",
          "tr": "<p>Geniş metni bir görselle eşleyerek seçtiğiniz ürüne, koleksiyona veya blog gönderisine dikkat çekin. Stok durumu, stil hakkındaki ayrıntıları ekleyin, hatta inceleme sağlayın.</p>",
          "vi": "<p>Ghép nối văn bản lớn với hình ảnh để làm nổi bật sản phẩm, bộ sưu tập hoặc bài viết blog đã chọn. Thêm chi tiết về tình trạng còn hàng, kiểu hoặc đưa ra đánh giá.</p>",
          "zh-CN": "<p>将大文本与图片配对，以便将焦点置于您选择的产品、产品系列或博客文章。添加有关可用性和样式的详细信息，甚至是提供评论。</p>",
          "zh-TW": "<p>大型文字搭配圖片，以便強調特定產品、商品系列或部落格貼文。您可以加上各種有關可用性、樣式的資料，甚至可以提供使用心得。</p>"
        }
      },
      {
        "type": "image_picker",
        "id": "icon_2",
        "label": {
          "cs": "Obrázek",
          "da": "Billede",
          "de": "Foto",
          "en": "Image_2",
          "es": "Imagen",
          "fi": "Kuva",
          "fr": "Image",
          "hi": "इमेज",
          "it": "Immagine",
          "ja": "画像",
          "ko": "이미지",
          "nb": "Bilde",
          "nl": "Afbeelding",
          "pl": "Obraz",
          "pt-BR": "Imagem",
          "pt-PT": "Imagem",
          "sv": "Bild",
          "th": "รูปภาพ",
          "tr": "Görsel",
          "vi": "Hình ảnh",
          "zh-CN": "图片",
          "zh-TW": "圖片"
        }
      },
      {
        "type": "text",
        "id": "title_2",
        "label": {
          "cs": "Nadpis",
          "da": "Overskrift",
          "de": "Titel",
          "en": "text_2",
          "es": "Título",
          "fi": "Otsake",
          "fr": "En-tête",
          "hi": "शीर्षक",
          "it": "Heading",
          "ja": "見出し",
          "ko": "제목",
          "nb": "Overskrift",
          "nl": "Kop",
          "pl": "Nagłówek",
          "pt-BR": "Título",
          "pt-PT": "Título",
          "sv": "Rubrik",
          "th": "ส่วนหัว",
          "tr": "Başlık",
          "vi": "Tiêu đề",
          "zh-CN": "标题",
          "zh-TW": "標題"
        },
        "default": {
          "cs": "Obrázek s textem",
          "da": "Billede med tekst",
          "de": "Foto mit Text",
          "en": "text 2",
          "es": "Imagen con texto",
          "fi": "Kuva tekstillä",
          "fr": "Image avec texte",
          "hi": "टेक्स्ट वाली इमेज",
          "it": "Immagine con testo",
          "ja": "テキスト付き画像",
          "ko": "텍스트 포함 이미지",
          "nb": "Bilde med tekst",
          "nl": "Afbeelding met tekst",
          "pl": "Obraz z tekstem",
          "pt-BR": "Imagem com texto",
          "pt-PT": "Imagem com texto",
          "sv": "Bild med text",
          "th": "รูปภาพพร้อมข้อความ",
          "tr": "Metin içeren görsel",
          "vi": "Hình ảnh có chữ",
          "zh-CN": "带文本图片",
          "zh-TW": "附文字的圖片"
        }
      },
      {
        "type": "richtext",
        "id": "text_2",
        "label": {
          "cs": "Text",
          "da": "Tekst",
          "de": "Text",
          "en": "icon 2 Text",
          "es": "Texto",
          "fi": "Teksti",
          "fr": "Texte",
          "hi": "टेक्स्ट",
          "it": "Testo",
          "ja": "テキスト",
          "ko": "텍스트",
          "nb": "Tekst",
          "nl": "Tekst",
          "pl": "Tekst",
          "pt-BR": "Texto",
          "pt-PT": "Texto",
          "sv": "Text",
          "th": "ข้อความ",
          "tr": "Metin",
          "vi": "Văn bản",
          "zh-CN": "文本",
          "zh-TW": "文字"
        },
        "default": {
          "cs": "<p>Zkombinujte velký text a obrázek, abyste zaměřili pozornost návštěvníků na zvolený produkt, kolekci či příspěvek na blogu. Pak můžete připojit podrobnosti o dostupnosti a stylu, nebo dokonce recenzi.</p>",
          "da": "<p>Kombiner stor tekst med et billede for at give dit valgte produkt, din valgte kollektion eller dit valgte blogopslag fokus. Tilføj oplysninger om tilgængelighed, stil og eventuelt også en anmeldelse.</p>",
          "de": "<p>Kombinieren Sie große Schrift mit einem Foto, um einen Fokus auf Ihr ausgewähltes Produkt, die Kategorie oder einen Blogpost zu legen. Sie können dann Details zur Verfügbarkeit und dem Style oder sogar eine Bewertung hinzufügen.</p>",
          "en": "<p>blurb for 2</p>",
          "es": "<p>Vincula un texto largo con una imagen para dar visibilidad a tu producto, colección o artículo de blog seleccionados. Agrega detalles sobre disponibilidad, estilo, o incluso ofrece una reseña.</p>",
          "fi": "<p>Korosta valitsemaasi tuotetta, kokoelmaa tai blogijulkaisua lisäämällä kuvaan suuri teksti. Lisää saatavuustiedot, määritä tyyli tai näytä vaikkapa arvostelu.</p>",
          "fr": "<p>Ajoutez une image à un long texte pour mettre l'accent sur un produit de votre choix, une collection, ou un article de blog. Ajoutez des détails sur la disponibilité, le style, ou mettez un commentaire client en avant.</p>",
          "hi": "<p>अपने चुने हुए उत्पाद, कलेक्शन या ब्लॉग पोस्ट पर ध्यान देने के लिए छवि के साथ बड़े पाठ को पेयर करें. उपलब्धता, स्टाइल या यहां तक कि समीक्षा प्रदान करने पर विवरण जोड़ें.</p>",
          "it": "<p>Associa un testo di grandi dimensioni a un'immagine per dare importanza al prodotto, alla collezione o all'articolo del blog di tua scelta. Aggiungi dettagli sulla disponibilità, sullo stile o fornisci una recensione.</p>",
          "ja": "<p>あなたが選んだ商品、コレクション、またはブログ記事に注目を集めるため、大きなテキストと画像を組み合わせます。可用性、スタイル、またはレビュー提供についての詳細を追加します。</p>",
          "ko": "<p>이미지와 큰 텍스트를 짝지어 선택한 제품, 컬렉션, 블로그 게시판을 강조합니다. 사용 가능성, 스타일에 대한 자세한 정보를 추가하거나 리뷰를 제공합니다.</p>",
          "nb": "<p>Koble stor tekst med et bilde for å drive fokus mot det valgte produktet, samlingen eller blogginnlegget. Legg til detaljer om tilgjengelighet, stil eller vis frem en vurdering.</p>",
          "nl": "<p>Plaats een afbeelding bij grote stukken tekst om de aandacht op je gekozen product, collectie of blogpost te richten. Voeg details over beschikbaarheid en stijl toe of plaats een productrecensie.</p>",
          "pl": "<p>Połącz duży tekst z obrazem, aby skierować uwagę na wybrany produkt, kolekcję lub post na blogu. Dodaj szczegóły dotyczące dostępności, stylu lub nawet dołącz recenzję.</p>",
          "pt-BR": "<p>Emparelhe textos grandes com uma imagem para destacar o produto, a coleção ou o post do blog escolhido. Adicione informações sobre disponibilidade, estilo ou até mesmo uma avaliação.</p>",
          "pt-PT": "<p>Associe um texto grande a uma imagem para dar ênfase ao produto, coleção ou publicação no blogue que escolheu. Adicione detalhes sobre disponibilidade, estilo ou uma avaliação.</p>",
          "sv": "<p>Para ihop stor text med en bild för att ge fokus åt din valda produkt, kollektion eller blogginlägg. Lägg till information om tillgänglighet, stil eller tillhandahåll till och med en recension.</p>",
          "th": "<p>จับคู่ข้อความขนาดใหญ่กับรูปภาพเพื่อให้ความสำคัญกับสินค้า คอลเลกชัน หรือโพสต์บล็อกที่คุณเลือก เพิ่มรายละเอียดเกี่ยวกับความพร้อม สไตล์ หรือแม้กระทั่งเขียนรีวิว</p>",
          "tr": "<p>Geniş metni bir görselle eşleyerek seçtiğiniz ürüne, koleksiyona veya blog gönderisine dikkat çekin. Stok durumu, stil hakkındaki ayrıntıları ekleyin, hatta inceleme sağlayın.</p>",
          "vi": "<p>Ghép nối văn bản lớn với hình ảnh để làm nổi bật sản phẩm, bộ sưu tập hoặc bài viết blog đã chọn. Thêm chi tiết về tình trạng còn hàng, kiểu hoặc đưa ra đánh giá.</p>",
          "zh-CN": "<p>将大文本与图片配对，以便将焦点置于您选择的产品、产品系列或博客文章。添加有关可用性和样式的详细信息，甚至是提供评论。</p>",
          "zh-TW": "<p>大型文字搭配圖片，以便強調特定產品、商品系列或部落格貼文。您可以加上各種有關可用性、樣式的資料，甚至可以提供使用心得。</p>"
        }
      },
      {
        "type": "image_picker",
        "id": "icon_3",
        "label": {
          "cs": "Obrázek",
          "da": "Billede",
          "de": "Foto",
          "en": "Image_3",
          "es": "Imagen",
          "fi": "Kuva",
          "fr": "Image",
          "hi": "इमेज",
          "it": "Immagine",
          "ja": "画像",
          "ko": "이미지",
          "nb": "Bilde",
          "nl": "Afbeelding",
          "pl": "Obraz",
          "pt-BR": "Imagem",
          "pt-PT": "Imagem",
          "sv": "Bild",
          "th": "รูปภาพ",
          "tr": "Görsel",
          "vi": "Hình ảnh",
          "zh-CN": "图片",
          "zh-TW": "圖片"
        }
      },
      {
        "type": "text",
        "id": "title_3",
        "label": {
          "cs": "Nadpis",
          "da": "Overskrift",
          "de": "Titel",
          "en": "Icon 3 Heading",
          "es": "Título",
          "fi": "Otsake",
          "fr": "En-tête",
          "hi": "शीर्षक",
          "it": "Heading",
          "ja": "見出し",
          "ko": "제목",
          "nb": "Overskrift",
          "nl": "Kop",
          "pl": "Nagłówek",
          "pt-BR": "Título",
          "pt-PT": "Título",
          "sv": "Rubrik",
          "th": "ส่วนหัว",
          "tr": "Başlık",
          "vi": "Tiêu đề",
          "zh-CN": "标题",
          "zh-TW": "標題"
        },
        "default": {
          "cs": "Obrázek s textem",
          "da": "Billede med tekst",
          "de": "Foto mit Text",
          "en": "Image 3 with text",
          "es": "Imagen con texto",
          "fi": "Kuva tekstillä",
          "fr": "Image avec texte",
          "hi": "टेक्स्ट वाली इमेज",
          "it": "Immagine con testo",
          "ja": "テキスト付き画像",
          "ko": "텍스트 포함 이미지",
          "nb": "Bilde med tekst",
          "nl": "Afbeelding met tekst",
          "pl": "Obraz z tekstem",
          "pt-BR": "Imagem com texto",
          "pt-PT": "Imagem com texto",
          "sv": "Bild med text",
          "th": "รูปภาพพร้อมข้อความ",
          "tr": "Metin içeren görsel",
          "vi": "Hình ảnh có chữ",
          "zh-CN": "带文本图片",
          "zh-TW": "附文字的圖片"
        }
      },
      {
        "type": "richtext",
        "id": "text_3",
        "label": {
          "cs": "Text",
          "da": "Tekst",
          "de": "Text",
          "en": "Icon 3 Text",
          "es": "Texto",
          "fi": "Teksti",
          "fr": "Texte",
          "hi": "टेक्स्ट",
          "it": "Testo",
          "ja": "テキスト",
          "ko": "텍스트",
          "nb": "Tekst",
          "nl": "Tekst",
          "pl": "Tekst",
          "pt-BR": "Texto",
          "pt-PT": "Texto",
          "sv": "Text",
          "th": "ข้อความ",
          "tr": "Metin",
          "vi": "Văn bản",
          "zh-CN": "文本",
          "zh-TW": "文字"
        },
        "default": {
          "cs": "<p>Zkombinujte velký text a obrázek, abyste zaměřili pozornost návštěvníků na zvolený produkt, kolekci či příspěvek na blogu. Pak můžete připojit podrobnosti o dostupnosti a stylu, nebo dokonce recenzi.</p>",
          "da": "<p>Kombiner stor tekst med et billede for at give dit valgte produkt, din valgte kollektion eller dit valgte blogopslag fokus. Tilføj oplysninger om tilgængelighed, stil og eventuelt også en anmeldelse.</p>",
          "de": "<p>Kombinieren Sie große Schrift mit einem Foto, um einen Fokus auf Ihr ausgewähltes Produkt, die Kategorie oder einen Blogpost zu legen. Sie können dann Details zur Verfügbarkeit und dem Style oder sogar eine Bewertung hinzufügen.</p>",
          "en": "<p>blurb for</p>",
          "es": "<p>Vincula un texto largo con una imagen para dar visibilidad a tu producto, colección o artículo de blog seleccionados. Agrega detalles sobre disponibilidad, estilo, o incluso ofrece una reseña.</p>",
          "fi": "<p>Korosta valitsemaasi tuotetta, kokoelmaa tai blogijulkaisua lisäämällä kuvaan suuri teksti. Lisää saatavuustiedot, määritä tyyli tai näytä vaikkapa arvostelu.</p>",
          "fr": "<p>Ajoutez une image à un long texte pour mettre l'accent sur un produit de votre choix, une collection, ou un article de blog. Ajoutez des détails sur la disponibilité, le style, ou mettez un commentaire client en avant.</p>",
          "hi": "<p>अपने चुने हुए उत्पाद, कलेक्शन या ब्लॉग पोस्ट पर ध्यान देने के लिए छवि के साथ बड़े पाठ को पेयर करें. उपलब्धता, स्टाइल या यहां तक कि समीक्षा प्रदान करने पर विवरण जोड़ें.</p>",
          "it": "<p>Associa un testo di grandi dimensioni a un'immagine per dare importanza al prodotto, alla collezione o all'articolo del blog di tua scelta. Aggiungi dettagli sulla disponibilità, sullo stile o fornisci una recensione.</p>",
          "ja": "<p>あなたが選んだ商品、コレクション、またはブログ記事に注目を集めるため、大きなテキストと画像を組み合わせます。可用性、スタイル、またはレビュー提供についての詳細を追加します。</p>",
          "ko": "<p>이미지와 큰 텍스트를 짝지어 선택한 제품, 컬렉션, 블로그 게시판을 강조합니다. 사용 가능성, 스타일에 대한 자세한 정보를 추가하거나 리뷰를 제공합니다.</p>",
          "nb": "<p>Koble stor tekst med et bilde for å drive fokus mot det valgte produktet, samlingen eller blogginnlegget. Legg til detaljer om tilgjengelighet, stil eller vis frem en vurdering.</p>",
          "nl": "<p>Plaats een afbeelding bij grote stukken tekst om de aandacht op je gekozen product, collectie of blogpost te richten. Voeg details over beschikbaarheid en stijl toe of plaats een productrecensie.</p>",
          "pl": "<p>Połącz duży tekst z obrazem, aby skierować uwagę na wybrany produkt, kolekcję lub post na blogu. Dodaj szczegóły dotyczące dostępności, stylu lub nawet dołącz recenzję.</p>",
          "pt-BR": "<p>Emparelhe textos grandes com uma imagem para destacar o produto, a coleção ou o post do blog escolhido. Adicione informações sobre disponibilidade, estilo ou até mesmo uma avaliação.</p>",
          "pt-PT": "<p>Associe um texto grande a uma imagem para dar ênfase ao produto, coleção ou publicação no blogue que escolheu. Adicione detalhes sobre disponibilidade, estilo ou uma avaliação.</p>",
          "sv": "<p>Para ihop stor text med en bild för att ge fokus åt din valda produkt, kollektion eller blogginlägg. Lägg till information om tillgänglighet, stil eller tillhandahåll till och med en recension.</p>",
          "th": "<p>จับคู่ข้อความขนาดใหญ่กับรูปภาพเพื่อให้ความสำคัญกับสินค้า คอลเลกชัน หรือโพสต์บล็อกที่คุณเลือก เพิ่มรายละเอียดเกี่ยวกับความพร้อม สไตล์ หรือแม้กระทั่งเขียนรีวิว</p>",
          "tr": "<p>Geniş metni bir görselle eşleyerek seçtiğiniz ürüne, koleksiyona veya blog gönderisine dikkat çekin. Stok durumu, stil hakkındaki ayrıntıları ekleyin, hatta inceleme sağlayın.</p>",
          "vi": "<p>Ghép nối văn bản lớn với hình ảnh để làm nổi bật sản phẩm, bộ sưu tập hoặc bài viết blog đã chọn. Thêm chi tiết về tình trạng còn hàng, kiểu hoặc đưa ra đánh giá.</p>",
          "zh-CN": "<p>将大文本与图片配对，以便将焦点置于您选择的产品、产品系列或博客文章。添加有关可用性和样式的详细信息，甚至是提供评论。</p>",
          "zh-TW": "<p>大型文字搭配圖片，以便強調特定產品、商品系列或部落格貼文。您可以加上各種有關可用性、樣式的資料，甚至可以提供使用心得。</p>"
        }
      }
    ],
    "presets": [
      {
        "name": {
          "cs": "Obrázek s textem",
          "da": "Billede med tekst",
          "de": "Foto mit Text",
          "en": "icon-block",
          "es": "Imagen con texto",
          "fi": "Kuva tekstillä",
          "fr": "Image avec texte",
          "hi": "टेक्स्ट वाली इमेज",
          "it": "Immagine con testo",
          "ja": "テキスト付き画像",
          "ko": "텍스트 포함 이미지",
          "nb": "Bilde med tekst",
          "nl": "Afbeelding met tekst",
          "pl": "Obraz z tekstem",
          "pt-BR": "Imagem com texto",
          "pt-PT": "Imagem com texto",
          "sv": "Bild med text",
          "th": "รูปภาพพร้อมข้อความ",
          "tr": "Metin içeren görsel",
          "vi": "Hình ảnh có chữ",
          "zh-CN": "带文本图片",
          "zh-TW": "附文字的圖片"
        },
        "category": {
          "cs": "Obrázek",
          "da": "Billede",
          "de": "Foto",
          "en": "custom",
          "es": "Imagen",
          "fi": "Kuva",
          "fr": "Image",
          "hi": "इमेज",
          "it": "Immagine",
          "ja": "画像",
          "ko": "이미지",
          "nb": "Bilde",
          "nl": "Afbeelding",
          "pl": "Obraz",
          "pt-BR": "Imagem",
          "pt-PT": "Imagem",
          "sv": "Bild",
          "th": "รูปภาพ",
          "tr": "Görsel",
          "vi": "Hình ảnh",
          "zh-CN": "图片",
          "zh-TW": "圖片"
        }
      }
    ]
  }
  {% endschema %}
  