<div class="product-template__container page-width pl-64 pr-64"
  id="ProductSection-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-history-state="true"
  data-ajax-enabled="{{ settings.enable_ajax }}"
>
  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_image_zoom = section.settings.enable_image_zoom -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}

  {% case section.settings.media_size %}
    {% when 'small' %}
      {%- assign product_media_width = 'medium-up--one-third' -%}
      {%- assign product_description_width = 'medium-up--two-thirds' -%}
      {%- assign height = 345 -%}
    {% when 'medium' %}
      {%- assign product_media_width = 'medium-up--one-half' -%}
      {%- assign product_description_width = 'medium-up--one-half' -%}
      {%- assign height = 530 -%}
    {% when 'large' %}
      {%- assign product_media_width = 'medium-up--two-thirds' -%}
      {%- assign product_description_width = 'medium-up--one-third' -%}
      {%- assign height = 720 -%}
    {% when 'full' %}
      {%- assign product_media_width = '' -%}
      {%- assign product_description_width = '' -%}
      {%- assign height = 1090 -%}
      {%- assign enable_image_zoom = false -%}
  {% endcase %}
    {% render 'breadcrumbs' %}
<div class="row product-single">
  <div class="col-md-6 col-xs-12 mobile-p-0">
    <div class="exzoom mobile-p-0" id="exzoom">
      <!-- Images -->
      <div class="exzoom_img_box">
        <ul class='exzoom_img_ul'>
          {% for media in product.media %}
          <li class="js no-clear main-slide" image-bg="{{ media.preview_image | img_url: '1500x1500'}}">
            <span class="zoom-modal-btn text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
              data-thumbnail-id="{{ section.id }}-{{ media.id }}">
                <img class="product-single__thumbnail-image" src="{{ media.preview_image | img_url: '1500x1500'}}" alt="{{ thumbnailAlt }}">
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
      <div class="exzoom_nav desktop"></div>
      <p class="exzoom_btn">
          <a href="javascript:void(0);" class="exzoom_prev_btn">                
            {% include 'icon-chevron-left-new' %}
          </a>
          <a href="javascript:void(0);" class="exzoom_next_btn">                 
            {% include 'icon-chevron-right-new' %}
          </a>
      </p>
    </div>
  </div>

  <div class="col-md-6 col-xs-12">
    <div class="product-single__meta">

      {% if product.metafields.custom_fields["pdp_title"] != blank %}
        <h1 class="product-single__title">{{ product.metafields.custom_fields["pdp_title"] }}</h1>
        {% else %}
         <h1 class="product-single__title">{{ product.title }}</h1>
      {% endif %}
      <script>window.performance.mark('debut:product:title_visible');</script>
        <div class="reviews-link">
          <div class="yotpo bottomLine"
            data-appkey="UPPjtwLiZMKpOIQ2znkBvmUv2Z8YXEaiZikPW1Bz"
            data-domain="{{shop.permanent_domain | escape }}"
            data-product-id="{{ product.id }}"
            data-product-models="{{ product.id }}"
            data-name="{{ product.title | escape }}"
            data-url="{{ shop.url }}{{ product.url }}"
            data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
            data-description="{{ product.description | escape }}"
            data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
          </div>
        </div>

        <div class="product__price">
          {% include 'product-price', variant: current_variant, show_vendor: section.settings.show_vendor %}
        </div>

        {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
          <div class="product__policies rte" data-product-policies>
            {%- if shop.taxes_included -%}
              {{ 'products.product.include_taxes' | t }}
            {%- endif -%}
            {%- if shop.shipping_policy.body != blank -%}
              {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
            {%- endif -%}
          </div>
        {%- endif -%}

        {% capture "form_classes" -%}
          product-form product-form-{{ section.id }}
          {%- if section.settings.enable_payment_button and product.has_only_default_variant %} product-form--payment-button-no-variants {%- endif -%}
          {%- if current_variant.available == false %} product-form--variant-sold-out {%- endif -%}
        {%- endcapture %}

        {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
          {% unless product.has_only_default_variant %}
              <div class="product-form__controls-group">
                {% for option in product.options_with_values %}
                  <div class="selector-wrapper js product-form__item">
                    <label for="SingleOptionSelector-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input"
                      id="SingleOptionSelector-{{ forloop.index0 }}"
                      data-index="option{{ forloop.index }}"
                    >
                      {% for value in option.values %}
                        <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                {% endfor %}
          </div>
          {% endunless %}
          <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
            {% for variant in product.variants %}
              <option value="{{ variant.id }}"
                {%- if variant == current_variant %} selected="selected" {%- endif -%}
              >
                {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
              </option>
            {% endfor %}
            </select>
            {% if section.settings.show_product_details %}
              <div class="product-single__description rte">
                {{ product.description }}
              </div>
            {% endif %}

            <div class="row text-center">
              <div class="col-12">
                <div class="row">
                  <div class="col-5 text-left">
          
                    {% if section.settings.show_quantity_selector %}
                      <div class="product-form__controls-group set-inline">
                        <div class="product-form__item">
                          <label for="Quantity-{{ section.id }}">QTY.</label>
                          <select type="number" id="Quantity-{{ section.id }}"
                            name="quantity" value="1" min="1" pattern="[0-9]*"
                            class="product-form__input product-form__input--quantity" data-quantity-input>
                            <option selected="selected">1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>
                        </div>
                      </div>
                    {% endif %}

                    </div>
                    <div class="col-7">
                      <div class="product-form__controls-group product-form__controls-group--submit set-inline">
                        <div class="product-form__item product-form__item--submit with-tag
                          {%- if section.settings.enable_payment_button %} product-form__item--payment-button {%- endif -%}
                          {%- if product.has_only_default_variant %} product-form__item--no-variants {%- endif -%}"
                        > 
                          <button type="submit" name="add"
                            {% unless current_variant.available %} aria-disabled="true"{% endunless %}
                            aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                            class="mt-0 btn btn-dark product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}"
                            {% if settings.enable_ajax %}aria-haspopup="dialog"{% endif %}
                            data-add-to-cart>
                            <span data-add-to-cart-text>
                              {% unless current_variant.available %}
                                {{ 'products.product.sold_out' | t }}
                              {% else %}
                                {{ 'products.product.add_to_cart' | t }}
                              {% endunless %}
                            </span>
                            <span class="hide" data-loader>
                              {% include 'icon-spinner' %}
                            </span>
                          </button>
                          <div class="desktop orders-over-msg">Free shipping on orders over $50 <br><span class="small">*Shipping within US only</span></div>
                          {% if section.settings.enable_payment_button %}
                            {{ form | payment_button }}
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="mobile orders-over-msg">Free shipping on orders over $50 <br><span class="small">*Shipping within US only</span></div>
                    </div>
                  </div>
                  <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden{% if section.settings.enable_payment_button %} product-form__error-message-wrapper--has-payment-button{% endif %}"
                    data-error-message-wrapper
                    role="alert"
                  >
                    <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                    {% include 'icon-error' %}
                    <span class="product-form__error-message" data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
                  </div>
                {% endform %}
                </div>
              </div>
            </div>
      {%- comment -%}
        Live region for announcing updated price and availability to screen readers
      {%- endcomment -%}
      <p class="visually-hidden" data-product-status
        aria-live="polite"
        role="status"
      ></p>

      {%- comment -%}
        Live region for announcing that the product form has been submitted and the
        product is in the process being added to the cart
      {%- endcomment -%}
      <p class="visually-hidden" data-loader-status
        aria-live="assertive"
        role="alert"
        aria-hidden="true"
      >{{ 'products.product.loader_label' | t }}</p>


      {% if section.settings.show_share_buttons %}
        {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product.featured_media %}
      {% endif %}

  </div>
</div>
</div>


<div class="mobile">
  <div class="row">
    <div class="col-12">
      <div class="clickboard-container">
        <div class="img-box" style="background-image:url('https://cdn.shopify.com/s/files/1/0486/3911/5430/files/pros-short.jpg?v=1608665983');" >
          <div class="img left-img" id="traditional" style="background-image:url('https://cdn.shopify.com/s/files/1/0486/3911/5430/files/cons-short.jpg?v=1608665984');" >         
            <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/pros-short.jpg?v=1608665983" alt="the pros of nanoPure" class="invisible">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="icon-block" class="row products-single pl-64 pr-64">
  <div class="col-12 text-center">
    <div class="row align-middle text-center">
      <div class="col-md-4 mobile-p-0">
        <div class="icon-wrapper proactive">
          <div class="icon-box">
            <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/proactive.svg?v=1607301837" alt="protective germ protection">
          </div>
          <div class="icon-title align-items-center">{{ section.settings.title_1 }}</div>
          <div class="text i-text">
            {{ section.settings.text_1 }}
          </div>
        </div>
      </div>
      <div class="col-md-4 mobile-p-0">
        <div class="icon-wrapper kills">
          <div class="icon-box">
            <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/kills.svg?v=1607301837" alt="kills 99.9% of germs">
          </div>
          <div class="icon-title align-items-center">Kills 99.99% of Germs</div>          <div class="text i-text">
            {{ section.settings.text_2 }}
          </div>
        </div>
      </div>
      <div class="col-md-4 mobile-p-0">
        <div class="icon-wrapper gentle">
          <div class="icon-box">
            <img src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/gentle.svg?v=1607301836" alt="gentle on skin">
          </div>
          <div class="icon-title align-items-center">{{ section.settings.title_3 }}</div>
          <div class="text i-text">
            {{ section.settings.text_3 }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="zoom-modal outer desktop">
  <div class="zoom-modal-inner">
    <a href="javascript:void(0);" class="zoom-modal-close-btn">                
      {% include 'icon-close' %}
    </a>
    <div id="modal-slider">
      {% for media in product.media %}
            <img class="modal-slides product-single__thumbnail-image" src="{{ media.preview_image | img_url: '1500x1500'}}" alt="{{ thumbnailAlt }}">
      {% endfor %}
      <div class="modal-slider-nav" style="width:100%">
        <span class="prev-nav" onclick="plusDivs(-1)">{% include 'icon-chevron-left-new' %}</span>
        <span class="next-nav" onclick="plusDivs(+1)">{% include 'icon-chevron-right-new' %}</span>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){

    $("#exzoom").exzoom({
      "navWidth": 65,
      "navHeight": 65,
      "navItemNum": 5,
      "navItemMargin": 0,
      "navBorder": 0,
      "zoomPreview": false,
      "autoPlay": false,
      "autoPlayTimeout": 3500
    });
// console.log($(window).width());

  // if ($(window).width() > 1024) {
  //   $('.zoom-modal-btn').click(function(){
  //       $('.zoom-modal').addClass('active')
  //       $('BODY').addClass('modal-open')
  //     })
  //     $('.zoom-modal-close-btn').click(function() {
  //       $('.zoom-modal').removeClass('active')
  //       $('BODY').removeClass('modal-open')
  //     })
  // }


  });
  let imgColl = document.querySelectorAll('.exzoom_img_ul li.main-slide')
  let imgSample = document.querySelectorAll('.exzoom_img_ul li img')
  for (let i=0;i<imgColl.length;i++) {
      let bg = imgColl[i].getAttribute('image-bg')
      
      imgColl[i].setAttribute('style', 'background-image: url(' + bg + ');')
      if (imgSample[i].height != imgSample[i].width) {
        imgColl[i].classList.add('scaled')
      }
  }

  var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("modal-slides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
    
</script>
{% render 'sales-points' %}
<div class="desktop">
  {% render 'comparison' %}
</div>
{% comment %}
<!-- <div class="pl-64 pr-64 pt-220">
  {% render 'testimonial-snippet' %}
</div> -->
 
{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
  <script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
{% endunless %}
  {% endcomment %}


{% schema %}
{
  "name": {
    "cs": "Stránky produktů",
    "da": "Produktsider",
    "de": "Produktseiten",
    "en": "Product pages",
    "es": "Páginas de productos",
    "fi": "Tuotesivut",
    "fr": "Pages de produits",
    "hi": "उत्पाद पेज",
    "it": "Pagine di prodotto",
    "ja": "商品ページ",
    "ko": "제품 페이지",
    "nb": "Produktsider",
    "nl": "Productpagina's",
    "pl": "Strony produktu",
    "pt-BR": "Páginas de produtos",
    "pt-PT": "Páginas de produtos",
    "sv": "Produktsidor",
    "th": "หน้าสินค้า",
    "tr": "Ürün sayfaları",
    "vi": "Trang sản phẩm",
    "zh-CN": "产品页面",
    "zh-TW": "產品頁面"
  },
  "settings": [
  {
    "type": "text",
    "id": "title_1",
    "label": {
      "cs": "Nadpis",
      "da": "Overskrift",
      "de": "Titel",
      "en": "Heading 1",
      "es": "Título",
      "fi": "Otsake",
      "fr": "En-tête",
      "hi": "शीर्षक",
      "it": "Heading",
      "ja": "見出し",
      "ko": "제목",
      "nb": "Overskrift",
      "nl": "Kop",
      "pl": "Nagłówek",
      "pt-BR": "Título",
      "pt-PT": "Título",
      "sv": "Rubrik",
      "th": "ส่วนหัว",
      "tr": "Başlık",
      "vi": "Tiêu đề",
      "zh-CN": "标题",
      "zh-TW": "標題"
    }
  },
  {
    "type": "richtext",
    "id": "text_1",
    "label": {
      "cs": "Text",
      "da": "Tekst",
      "de": "Text",
      "en": "Icon 1 Text",
      "es": "Texto",
      "fi": "Teksti",
      "fr": "Texte",
      "hi": "टेक्स्ट",
      "it": "Testo",
      "ja": "テキスト",
      "ko": "텍스트",
      "nb": "Tekst",
      "nl": "Tekst",
      "pl": "Tekst",
      "pt-BR": "Texto",
      "pt-PT": "Texto",
      "sv": "Text",
      "th": "ข้อความ",
      "tr": "Metin",
      "vi": "Văn bản",
      "zh-CN": "文本",
      "zh-TW": "文字"
    }
  },
  {
    "type": "text",
    "id": "title_2",
    "label": {
      "cs": "Nadpis",
      "da": "Overskrift",
      "de": "Titel",
      "en": "text_2",
      "es": "Título",
      "fi": "Otsake",
      "fr": "En-tête",
      "hi": "शीर्षक",
      "it": "Heading",
      "ja": "見出し",
      "ko": "제목",
      "nb": "Overskrift",
      "nl": "Kop",
      "pl": "Nagłówek",
      "pt-BR": "Título",
      "pt-PT": "Título",
      "sv": "Rubrik",
      "th": "ส่วนหัว",
      "tr": "Başlık",
      "vi": "Tiêu đề",
      "zh-CN": "标题",
      "zh-TW": "標題"
    }
  },
  {
    "type": "richtext",
    "id": "text_2",
    "label": {
      "cs": "Text",
      "da": "Tekst",
      "de": "Text",
      "en": "icon 2 Text",
      "es": "Texto",
      "fi": "Teksti",
      "fr": "Texte",
      "hi": "टेक्स्ट",
      "it": "Testo",
      "ja": "テキスト",
      "ko": "텍스트",
      "nb": "Tekst",
      "nl": "Tekst",
      "pl": "Tekst",
      "pt-BR": "Texto",
      "pt-PT": "Texto",
      "sv": "Text",
      "th": "ข้อความ",
      "tr": "Metin",
      "vi": "Văn bản",
      "zh-CN": "文本",
      "zh-TW": "文字"
    }
  },
  {
    "type": "text",
    "id": "title_3",
    "label": {
      "cs": "Nadpis",
      "da": "Overskrift",
      "de": "Titel",
      "en": "Icon 3 Heading",
      "es": "Título",
      "fi": "Otsake",
      "fr": "En-tête",
      "hi": "शीर्षक",
      "it": "Heading",
      "ja": "見出し",
      "ko": "제목",
      "nb": "Overskrift",
      "nl": "Kop",
      "pl": "Nagłówek",
      "pt-BR": "Título",
      "pt-PT": "Título",
      "sv": "Rubrik",
      "th": "ส่วนหัว",
      "tr": "Başlık",
      "vi": "Tiêu đề",
      "zh-CN": "标题",
      "zh-TW": "標題"
    }
  },
  {
    "type": "richtext",
    "id": "text_3",
    "label": {
      "cs": "Text",
      "da": "Tekst",
      "de": "Text",
      "en": "Icon 3 Text",
      "es": "Texto",
      "fi": "Teksti",
      "fr": "Texte",
      "hi": "टेक्स्ट",
      "it": "Testo",
      "ja": "テキスト",
      "ko": "텍스트",
      "nb": "Tekst",
      "nl": "Tekst",
      "pl": "Tekst",
      "pt-BR": "Texto",
      "pt-PT": "Texto",
      "sv": "Text",
      "th": "ข้อความ",
      "tr": "Metin",
      "vi": "Văn bản",
      "zh-CN": "文本",
      "zh-TW": "文字"
    }
  },
  {
      "type": "checkbox",
      "id": "show_product_details",
      "label": {
        "en": "Show product details"
      },
      "default": false
    },
    {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": {
          "cs": "Zobrazit výběr množství",
          "da": "Vis antalsvælger",
          "de": "Mengenauswahl anzeigen",
          "en": "Show quantity selector",
          "es": "Mostrar selector de cantidad",
          "fi": "Näytä määrän valitsin",
          "fr": "Afficher le sélecteur de quantité",
          "hi": "मात्रा चयनकर्ता दिखाएं",
          "it": "Mostra selettore quantità",
          "ja": "数量セレクターを表示する",
          "ko": "수량 선택기 표시",
          "nb": "Vis mengdevelger",
          "nl": "Hoeveelheidskiezer weergeven",
          "pl": "Pokaż selektor ilości",
          "pt-BR": "Exibir seletor de quantidade",
          "pt-PT": "Mostrar um seletor de quantidade",
          "sv": "Visa kvantitetsväljare",
          "th": "แสดงตัวเลือกจำนวน",
          "tr": "Adet seçiciyi göster",
          "vi": "Hiển thị hộp chọn số lượng",
          "zh-CN": "显示数量选择器",
          "zh-TW": "顯示數量選擇器"
        },
        "default": false
      },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "cs": "Zobrazit dodavatele",
        "da": "Vis leverandør",
        "de": "Lieferanten anzeigen",
        "en": "Show vendor",
        "es": "Mostrar proveedor",
        "fi": "Näytä myyjä",
        "fr": "Afficher les vendeurs",
        "hi": "विक्रेता दिखाएं",
        "it": "Mostra fornitore",
        "ja": "販売元を表示する",
        "ko": "공급업체 표시",
        "nb": "Vis leverandør",
        "nl": "Leverancier weergeven",
        "pl": "Pokaż dostawcę",
        "pt-BR": "Exibir fornecedor",
        "pt-PT": "Mostrar fornecedor",
        "sv": "Visa säljare",
        "th": "แสดงผู้ขาย",
        "tr": "Satıcıyı göster",
        "vi": "Hiển thị nhà cung cấp",
        "zh-CN": "显示厂商",
        "zh-TW": "顯示廠商"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": {
        "cs": "Zobrazit dynamické tlačítko pokladny",
        "da": "Vis dynamisk betalingsknap",
        "de": "Dynamischen Checkout Button anzeigen",
        "en": "Show dynamic checkout button",
        "es": "Mostrar botón de pago dinámico",
        "fi": "Näytä dynaaminen kassapainike",
        "fr": "Afficher le bouton de paiement dynamique",
        "hi": "डायनेमिक चेकआउट बटन दिखाएं",
        "it": "Mostra pulsante di check-out dinamico",
        "ja": "動的チェックアウトボタンを表示する",
        "ko": "동적 결제 버튼 표시",
        "nb": "Vis dynamisk knapp for å gå til kassen",
        "nl": "Dynamische betaalknop weergeven",
        "pl": "Pokaż dynamiczny przycisk realizacji zakupu",
        "pt-BR": "Exibir botão de checkout dinâmico",
        "pt-PT": "Mostrar o botão dinâmico de finalização da compra",
        "sv": "Visa dynamiska utcheckningsknappar",
        "th": "แสดงปุ่มชำระเงินแบบไดนามิก",
        "tr": "Dinamik ödeme düğmesini göster",
        "vi": "Hiển thị nút thanh toán động",
        "zh-CN": "显示动态结账按钮",
        "zh-TW": "顯示動態結帳按鈕"
      },
      "info": {
        "cs": "Každý zákazník uvidí platební metodu, kterou ze všech metod dostupných v obchodě (například PayPal nebo Apple Pay) nejvíce preferuje. [Další informace](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "da": "Den enkelte kunde vil se sin foretrukne betalingsmetode blandt dem, der er tilgængelige i din butik, f.eks. PayPal eller Apple Pay. [Få mere at vide](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "de": "Jeder Kunde sieht seine bevorzugte Zahlungsmethode aus den in deinem Shop verfügbaren Zahlungsmethoden wie PayPal oder Apple Pay. [Mehr Informationen](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "es": "Cada cliente verá su forma de pago preferida entre las disponibles en tu tienda, como PayPal o Apple Pay. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fi": "Kukin asiakas näkee ensisijaisen valintansa kauppasi tarjoamista maksutavoista, esim. PayPal tai Apple Pay. [Lisätietoja](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fr": "Chaque client verra son moyen de paiement préféré parmi ceux qui sont proposés sur votre boutique, tels que PayPal ou Apple Pay. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "hi": "प्रत्येक ग्राहक आपके स्टोर पर उपलब्ध अपनी पसंदीदा भुगतान की विधि देखेंगे जैसे PayPal या Apple Pay. [अधिक जानें](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "it": "Ogni cliente vedrà il suo metodo di pagamento preferito tra quelli disponibili nel tuo negozio, come PayPal o Apple Pay. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ja": "PayPalやApple Payなど、ストアで利用可能な希望の決済方法がお客様に表示されます。[詳しくはこちら](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ko": "각 고객은 PayPal 또는 Apple Pay와 같이 스토어에서 사용 가능한 지불 방법을 확인할 수 있습니다. [자세히 알아보기](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nb": "Hver enkelt kunde vil se sin foretrukne betalingsmåte blant de som er tilgjengelig i butikken din, som PayPal eller Apple Pay. [Finn ut mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nl": "Elke klant ziet zijn of haar beschikbare voorkeursmethode om af te rekenen, zoals PayPal of Apple Pay. [Meer informatie](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pl": "Każdy klient zobaczy swoją preferowaną metodę płatności wśród metod dostępnych w Twoim sklepie, np. PayPal lub Apple Pay. [Dowiedz się więcej](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-BR": "Cada cliente verá a forma de pagamento preferencial dele dentre as disponíveis na loja, como PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-PT": "Cada cliente irá ver o seu método de pagamento preferido entre os disponíveis na loja, como o PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "sv": "Varje kund kommer att se den föredragna betalningsmetoden från de som finns tillgängliga i din butik, till exempel PayPal eller Apple Pay. [Läs mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "th": "ลูกค้าแต่ละรายจะเห็นวิธีการชำระเงินที่ต้องการจากวิธีที่ใช้ได้ในร้านค้าของคุณ เช่น PayPal หรือ Apple Pay [ดูข้อมูลเพิ่มเติม](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "tr": "Her müşteri, mağazanız sunulanlar arasından tercih ettikleri ödeme yöntemini görür (ör. PayPal veya Apple Pay). [Daha fazla bilgi edinin](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "vi": "Mỗi khách hàng sẽ thấy phương thức thanh toán ưu tiên trong những phương thức thanh toán được hỗ trợ tại cửa hàng như PayPal hoặc Apple Pay. [Tìm hiểu thêm](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-CN": "每位客户都可在您商店提供的付款方式中看到他们的首选付款方式，例如 PayPal 或 Apple Pay。[了解详细信息](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-TW": "每位顧客都可以在您商店內開放使用的付款方式中看見他們偏好使用的方式，如 PayPal、Apple Pay 等。[深入瞭解](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "cs": "Zobrazit tlačítka pro sdílení na sociálních sítích",
        "da": "Vis knapper til deling på sociale medier",
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fi": "Näytä sosiaalisen median jakamispainikkeet",
        "fr": "Affichez les boutons de partage sur les médias sociaux",
        "hi": "सोशल शेयरिंग बटन दिखाएं",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャルメディアでの共有ボタンを表示する",
        "ko": "소셜 공유 버튼 표시",
        "nb": "Vis knapper for deling på sosiale medier",
        "nl": "Knoppen voor sociaal delen weergeven",
        "pl": "Pokaż przyciski udostępniania w mediach społecznościowych",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais",
        "pt-PT": "Mostrar botões de partilha nas redes sociais",
        "sv": "Visa knappar för delning i sociala medier",
        "th": "แสดงปุ่มสำหรับแชร์ลงโซเชียล",
        "tr": "Sosyal medya paylaşım düğmelerini göster",
        "vi": "Hiển thị nút chia sẻ qua mạng xã hội",
        "zh-CN": "显示社交分享按钮",
        "zh-TW": "顯示社群分享按鈕"
      },
      "default": true
    },
    {
      "type": "header",
      "content": {
        "cs": "Multimédia",
        "da": "Medie",
        "de": "Medien",
        "en": "Media",
        "es": "Elementos multimedia",
        "fi": "Media",
        "fr": "Support multimédia",
        "hi": "मीडिया",
        "it": "Media",
        "ja": "メディア",
        "ko": "미디어",
        "nb": "Medier",
        "nl": "Media",
        "pl": "Multimedia",
        "pt-BR": "Mídia",
        "pt-PT": "Multimédia",
        "sv": "Media",
        "th": "สื่อ",
        "tr": "Medya",
        "vi": "Nội dung đa phương tiện",
        "zh-CN": "媒体",
        "zh-TW": "媒體"
      },
      "info": {
        "cs": "Další informace o [typech multimédií](https://help.shopify.com/manual/products/product-media)",
        "da": "Få mere at vide om [media types](https://help.shopify.com/manual/products/product-media)",
        "de": "Mehr Informationen über [Medientypen ](https://help.shopify.com/manual/products/product-media)",
        "en": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)",
        "es": "Más información sobre [tipos de archivos multimedia](https://help.shopify.com/manual/products/product-media)",
        "fi": "Lue lisää [mediatyypeistä](https://help.shopify.com/manual/products/product-media)",
        "fr": "En savoir plus sur les [types de supports multimédia](https://help.shopify.com/manual/products/product-media)",
        "hi": "[मीडिया प्रकार](https://help.shopify.com/manual/products/product-media) के बारे में और जानें",
        "it": "Scopri di più sulle [tipologie di file multimediali](https://help.shopify.com/manual/products/product-media)",
        "ja": "[メディアのタイプ](https://help.shopify.com/manual/products/product-media) について詳しくはこちら",
        "ko": "[미디어 유형](https://help.shopify.com/manual/products/product-media)에 대해 자세히 알아보기",
        "nb": "Lær mer om [medietyper](https://help.shopify.com/manual/products/product-media)",
        "nl": "Meer informatie over [mediatypen](https://help.shopify.com/manual/products/product-media)",
        "pl": "Dowiedz się więcej o [typach multimediów](https://help.shopify.com/manual/products/product-media)",
        "pt-BR": "Saiba mais sobre [tipos de mídia](https://help.shopify.com/manual/products/product-media)",
        "pt-PT": "Saiba mais sobre [media types](https://help.shopify.com/manual/products/product-media)",
        "sv": "Läs mer om [mediatyper](https://help.shopify.com/manual/products/product-media)",
        "th": "ดูข้อมูลเพิ่มเติมเกี่ยวกับ [ประเภทของสื่อ](https://help.shopify.com/manual/products/product-media)",
        "tr": "[Medya türleri](https://help.shopify.com/manual/products/product-media) hakkında daha fazla bilgi edinin",
        "vi": "Tìm hiểu thêm về [loại phương tiện](https://help.shopify.com/manual/products/product-media)",
        "zh-CN": "详细了解[媒体类型](https://help.shopify.com/manual/products/product-media)",
        "zh-TW": "深入瞭解 [媒體類型](https://help.shopify.com/manual/products/product-media)"
      }
    },
    {
      "type": "select",
      "id": "media_size",
      "label": {
        "cs": "Velikost",
        "da": "Størrelse",
        "de": "Größe",
        "en": "Size",
        "es": "Tamaño",
        "fi": "Koko",
        "fr": "Taille",
        "hi": "आकार",
        "it": "Dimensione",
        "ja": "サイズ",
        "ko": "사이즈",
        "nb": "Størrelse",
        "nl": "Grootte",
        "pl": "Rozmiar",
        "pt-BR": "Tamanho",
        "pt-PT": "Tamanho",
        "sv": "Storlek",
        "th": "ขนาด",
        "tr": "Boyut",
        "vi": "Cỡ",
        "zh-CN": "大小",
        "zh-TW": "尺寸"
      },
      "options": [
        {
          "value": "small",
          "label": {
            "cs": "Malá",
            "da": "Lille",
            "de": "Klein",
            "en": "Small",
            "es": "Pequeño",
            "fi": "Pieni",
            "fr": "Petit",
            "hi": "छोटा",
            "it": "Piccolo",
            "ja": "スモール",
            "ko": "스몰",
            "nb": "Liten",
            "nl": "Klein",
            "pl": "Mały",
            "pt-BR": "Pequeno",
            "pt-PT": "Pequeno",
            "sv": "Liten",
            "th": "เล็ก",
            "tr": "Küçük",
            "vi": "Nhỏ",
            "zh-CN": "小",
            "zh-TW": "小型"
          }
        },
        {
          "value": "medium",
          "label": {
            "cs": "Střední",
            "da": "Medium",
            "de": "Mittel",
            "en": "Medium",
            "es": "Mediano",
            "fi": "Keskisuuri",
            "fr": "Moyenne",
            "hi": "मध्यम",
            "it": "Medio",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pl": "Średni",
            "pt-BR": "Médio",
            "pt-PT": "Médio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "tr": "Orta",
            "vi": "Trung bình",
            "zh-CN": "中等",
            "zh-TW": "中等"
          }
        },
        {
          "value": "large",
          "label": {
            "cs": "Velká",
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fi": "Suuri",
            "fr": "Grande",
            "hi": "बड़ा",
            "it": "Grande",
            "ja": "大",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pl": "Duży",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "tr": "Büyük",
            "vi": "Lớn",
            "zh-CN": "大",
            "zh-TW": "大型"
          }
        },
        {
          "value": "full",
          "label": {
            "cs": "Plná šířka",
            "da": "Fuld bredde",
            "de": "Volle Breite",
            "en": "Full-width",
            "es": "Ancho completo",
            "fi": "Täysi leveys",
            "fr": "Pleine largeur",
            "hi": "पूर्ण चौड़ाई",
            "it": "Intera larghezza",
            "ja": "全幅",
            "ko": "전체 폭",
            "nb": "Full bredde",
            "nl": "Volledige breedte",
            "pl": "Pełna szerokość",
            "pt-BR": "Largura completa",
            "pt-PT": "Largura completa",
            "sv": "Full bredd",
            "th": "เต็มความกว้าง",
            "tr": "Tam genişlikli",
            "vi": "Độ rộng đầy đủ",
            "zh-CN": "全宽",
            "zh-TW": "完整寬度"
          }
        }
      ],
      "default": "medium"
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": {
        "cs": "Povolit zvětšení obrázku",
        "da": "Aktivér billedzoom",
        "de": "Foto-Zoom zulassen",
        "en": "Enable image zoom",
        "es": "Habilitar zoom de imagen",
        "fi": "Ota kuvan zoomaus käyttöön",
        "fr": "Activer le zoom d'image",
        "hi": "इमेज ज़ूम सक्षम करें",
        "it": "Abilita lo zoom dell'immagine",
        "ja": "画像ズームを有効にする",
        "ko": "이미지 확대 사용",
        "nb": "Aktiver bildezoom",
        "nl": "Inzoomen op afbeelding inschakelen",
        "pl": "Włącz powiększenie obrazu",
        "pt-BR": "Habilitar o zoom da imagem",
        "pt-PT": "Ativar o zoom da imagem",
        "sv": "Aktivera bildzoom",
        "th": "เปิดใช้การซูมภาพ",
        "tr": "Görsel yakınlaştırmayı etkinleştir",
        "vi": "Bật thu phóng hình ảnh",
        "zh-CN": "启用图片缩放",
        "zh-TW": "啟用圖片縮放"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": {
        "cs": "Povolit smyčky videa",
        "da": "Aktivér looping af videoer",
        "de": "Videoschleife aktivieren",
        "en": "Enable video looping",
        "es": "Habilitar la reproducción de video en bucle",
        "fi": "Ota käyttöön videosilmukka",
        "fr": "Activer le bouclage de la vidéo",
        "hi": "वीडियो लूपिंग सक्षम करें",
        "it": "Abilita la riproduzione in loop dei video",
        "ja": "ビデオのループを有効にする",
        "ko": "동영상 루프",
        "nb": "Aktiver løkkeavspilling av video",
        "nl": "Video-looping inschakelen",
        "pl": "Włącz zapętlanie wideo",
        "pt-BR": "Habilitar loop de vídeo",
        "pt-PT": "Ativar ciclo de vídeo",
        "sv": "Aktivera video-loopning",
        "th": "เปิดใช้การวนซ้ำวิดีโอ",
        "tr": "Video döngüsünü etkinleştir",
        "vi": "Bật vòng lặp video",
        "zh-CN": "启用视频循环",
        "zh-TW": "啟用影片循環功能"
      },
      "default": true
    }
  ]
}
{% endschema %}
