<section id="hero-7" class="hero-section pl-64 pr-64 mobile-p-0" data-section-id="{{ section.id }}" data-section-type="video-section">
  <div class="video-wrapper">
    <div class="row">
      <div class="col-12 text-center">
        <div class="title-box">
          <div class="title-serif desktop">Why the world needs a new <br>hand sanitizer</div>
          <div class="title-serif mobile pl-64 pr-64">Why the world needs a new hand sanitizer</div>
        </div>
      </div>
      <div class="video-container">
        <div class="video-box rnd">
          <video id='nano-vid' width="auto" height="100%" class="rnd" controls poster="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/video-hero.png?v=1611011868">
            <source src="https://cdn.shopify.com/s/files/1/0486/3911/5430/files/Nano_Pure_-_A_New_Era_in_Germ_Protection.mp4?v=1608619421" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <button type="button" class="video-play" id="play-button">
            {% include 'icon-play' %}
          </button>
        </div>
      </div>
      <div class="offset-2 col-8 text-center">
        <a href="/collections/frontpage"
        class="btn desktop"
        aria-label="shop now button">Shop Now</a>
        <a href="/collections/frontpage"
            class="btn mobile btn-dark"
            aria-label="shop now button">Shop Now</a>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": {
    "cs": "Video",
    "da": "Video",
    "de": "Video",
    "en": "Video",
    "es": "Video",
    "fi": "Video",
    "fr": "Vidéo",
    "hi": "वीडियो",
    "it": "Video",
    "ja": "動画",
    "ko": "동영상",
    "nb": "Video",
    "nl": "Video",
    "pl": "Film",
    "pt-BR": "Vídeo",
    "pt-PT": "Vídeo",
    "sv": "Video",
    "th": "วิดีโอ",
    "tr": "Video",
    "vi": "Video",
    "zh-CN": "视频",
    "zh-TW": "影片"
  },
  "class": "index-section video-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "cs": "Titulní obrázek",
        "da": "Coverbillede",
        "de": "Titelbild",
        "en": "Cover image",
        "es": "Imagen de portada",
        "fi": "Kansikuva",
        "fr": "Image de couverture",
        "hi": "कवर इमेज",
        "it": "Immagine di copertina",
        "ja": "表紙画像",
        "ko": "커버 이미지",
        "nb": "Forsidebilde",
        "nl": "Coverafbeelding",
        "pl": "Obraz w tle",
        "pt-BR": "Imagem de capa",
        "pt-PT": "Imagem de capa",
        "sv": "Omslagsbild",
        "th": "รูปภาพหน้าปก",
        "tr": "Kapak görseli",
        "vi": "Ảnh bìa",
        "zh-CN": "封面图片",
        "zh-TW": "封面圖片"
      },
      "info": {
        "cs": "Vždy zobrazit na mobilních zařízeních",
        "da": "Vises altid på mobilenheder",
        "de": "Wird immer auf Mobilgeräten angezeigt",
        "en": "Always shown on mobile devices",
        "es": "Mostrar siempre dispositivos móviles",
        "fi": "Näytetään aina mobiililaitteissa",
        "fr": "S'affiche toujours sur les appareils mobiles",
        "hi": "हमेशा मोबाइल उपकरणों पर दिखाया जाता है",
        "it": "Sempre visualizzata sui dispositivi mobili",
        "ja": "常にモバイルデバイスに表示",
        "ko": "모바일 장치에 항상 표시됨",
        "nb": "Vises alltid på mobilenheter",
        "nl": "Altijd weergeven op mobiele apparaten",
        "pl": "Wyświetlane zawsze na urządzeniach mobilnych",
        "pt-BR": "Sempre exibida em dispositivos móveis",
        "pt-PT": "Sempre mostrado em dispositivos móveis",
        "sv": "Visas alltid på mobila enheter",
        "th": "แสดงบนอุปกรณ์มือถือเสมอ",
        "tr": "Mobil cihazlarda her zaman gösterilir",
        "vi": "Luôn hiển thị trên thiết bị di động",
        "zh-CN": "始终在移动设备上显示",
        "zh-TW": "一律在行動裝置上顯示"
      }
    },
    {
      "type": "select",
      "id": "image_position",
      "label": {
        "cs": "Zarovnání obrázku",
        "da": "Justering af billede",
        "de": "Fotoausrichtung",
        "en": "Image alignment",
        "es": "Alineación de imagen",
        "fi": "Kuvan tasaus",
        "fr": "Alignement de l'image",
        "hi": "इमेज पंक्तिबद्ध करना",
        "it": "Allineamento immagine",
        "ja": "画像アラインメント",
        "ko": "이미지 정렬",
        "nb": "Bildejustering",
        "nl": "Afbeelding uitlijnen",
        "pl": "Wyrównanie obrazu",
        "pt-BR": "Alinhamento da imagem",
        "pt-PT": "Alinhamento da imagem",
        "sv": "Bildjustering",
        "th": "การจัดวางรูปภาพ",
        "tr": "Görsel hizalaması",
        "vi": "Căn chỉnh hình ảnh",
        "zh-CN": "图片对齐方式",
        "zh-TW": "圖片對齊"
      },
      "default": "center center",
      "options": [
        {
          "label": {
            "cs": "Nahoře doleva",
            "da": "Øverst til venstre",
            "de": "Oben links",
            "en": "Top left",
            "es": "Superior izquierda",
            "fi": "Ylhäällä vasemmalla",
            "fr": "En haut à gauche",
            "hi": "शीर्ष पर बाईं ओर",
            "it": "In alto a sinistra",
            "ja": "左上",
            "ko": "왼쪽 상단",
            "nb": "Øverst til venstre",
            "nl": "Linksboven",
            "pl": "Na górze po lewej",
            "pt-BR": "Superior esquerdo",
            "pt-PT": "Canto superior esquerdo",
            "sv": "Överst till vänster",
            "th": "ซ้ายบน",
            "tr": "Üst sol",
            "vi": "Trên cùng bên trái",
            "zh-CN": "左上方",
            "zh-TW": "左上角"
          },
          "value": "left top"
        },
        {
          "label": {
            "cs": "Nahoře na střed",
            "da": "Øverst i midten",
            "de": "Oben Mitte",
            "en": "Top center",
            "es": "Superior centrada",
            "fi": "Keskellä ylhäällä",
            "fr": "En haut au centre",
            "hi": "शीर्ष केंद्र",
            "it": "In alto al centro",
            "ja": "中央上",
            "ko": "맨 위 중간",
            "nb": "Toppsentrert",
            "nl": "Midden boven",
            "pl": "Na górze na środku",
            "pt-BR": "Superior centro",
            "pt-PT": "Superior centro",
            "sv": "Längst upp i mitten",
            "th": "กลางบน",
            "tr": "Üst orta",
            "vi": "Trên cùng ở giữa",
            "zh-CN": "顶部居中",
            "zh-TW": "中央上方"
          },
          "value": "center top"
        },
        {
          "label": {
            "cs": "Nahoře doprava",
            "da": "Øverst til højre",
            "de": "Oben rechts",
            "en": "Top right",
            "es": "Superior derecha",
            "fi": "Ylhäällä oikealla",
            "fr": "En haut à droite",
            "hi": "शीर्ष पर दाईं ओर",
            "it": "In alto a destra",
            "ja": "右上",
            "ko": "오른쪽 상단",
            "nb": "Øverst til høyre",
            "nl": "Rechtsboven",
            "pl": "Na górze po prawej",
            "pt-BR": "Superior direito",
            "pt-PT": "Canto superior direito",
            "sv": "Överst till höger",
            "th": "ขวาบน",
            "tr": "Üst sağ",
            "vi": "Trên cùng bên phải",
            "zh-CN": "右上方",
            "zh-TW": "右上角"
          },
          "value": "right top"
        },
        {
          "label": {
            "cs": "Uprostřed doleva",
            "da": "Midt på til venstre",
            "de": "Mitte links",
            "en": "Middle left",
            "es": "Al medio a la izquierda",
            "fi": "Keskellä vasemmalla",
            "fr": "Au milieu à gauche",
            "hi": "मध्य में बाईं ओर",
            "it": "Nel mezzo a sinistra",
            "ja": "中央部左側",
            "ko": "왼쪽 중간",
            "nb": "Midt til venstre",
            "nl": "Midden links",
            "pl": "Na środku po lewej",
            "pt-BR": "Meio esquerdo",
            "pt-PT": "Intermédio à esquerda",
            "sv": "Mitten till vänster",
            "th": "ซ้ายกลาง",
            "tr": "Orta sol",
            "vi": "Ở giữa bên trái",
            "zh-CN": "中间居左",
            "zh-TW": "中央左方"
          },
          "value": "left center"
        },
        {
          "label": {
            "cs": "Uprostřed na střed",
            "da": "Midt på centreret",
            "de": "Mitte mittig",
            "en": "Middle center",
            "es": "Centrada en el medio",
            "fi": "Keskellä keskellä",
            "fr": "Centrée au milieu",
            "hi": "मध्य केंद्र",
            "it": "In mezzo",
            "ja": "中心",
            "ko": "가운데 중간",
            "nb": "Midt i senter",
            "nl": "Midden centrum",
            "pl": "Na środku",
            "pt-BR": "Meio centro",
            "pt-PT": "Intermédio ao centro",
            "sv": "Mitten centrerat",
            "th": "กึ่งกลาง",
            "tr": "Orta kısmın ortası",
            "vi": "Chính giữa",
            "zh-CN": "中间居中",
            "zh-TW": "正中央"
          },
          "value": "center center"
        },
        {
          "label": {
            "cs": "Uprostřed doprava",
            "da": "Midt på til højre",
            "de": "Mitte rechts",
            "en": "Middle right",
            "es": "Centrado a la derecha",
            "fi": "Keskellä oikealla",
            "fr": "Au milieu à droite",
            "hi": "मध्य में दाईं ओर",
            "it": "Nel mezzo a destra",
            "ja": "中央部右側",
            "ko": "오른쪽 중간",
            "nb": "Midt til høyre",
            "nl": "Midden rechts",
            "pl": "Na środku po prawej",
            "pt-BR": "Meio direito",
            "pt-PT": "Intermédio à direita",
            "sv": "Mitten till höger",
            "th": "ขวากลาง",
            "tr": "Orta sağ",
            "vi": "Ở giữa bên phải",
            "zh-CN": "中间居右",
            "zh-TW": "中央右方"
          },
          "value": "right center"
        },
        {
          "label": {
            "cs": "Dole doleva",
            "da": "Nederst til venstre",
            "de": "Unten links",
            "en": "Bottom left",
            "es": "Inferior izquierda",
            "fi": "Alhaalla vasemmalla",
            "fr": "En bas à gauche",
            "hi": "सबसे नीचे बाईं ओर",
            "it": "In basso a sinistra",
            "ja": "左下",
            "ko": "왼쪽 하단",
            "nb": "Nederst til venstre",
            "nl": "Linksonder",
            "pl": "Na dole po lewej",
            "pt-BR": "Inferior esquerdo",
            "pt-PT": "Canto inferior esquerdo",
            "sv": "Nere till vänster",
            "th": "ซ้ายล่าง",
            "tr": "Alt sol",
            "vi": "Dưới cùng bên trái",
            "zh-CN": "左下方",
            "zh-TW": "左下角"
          },
          "value": "left bottom"
        },
        {
          "label": {
            "cs": "Dole na střed",
            "da": "Nederst i midten",
            "de": "Unten mittig",
            "en": "Bottom center",
            "es": "Inferior centrada",
            "fi": "Keskellä alhaalla",
            "fr": "En bas au centre",
            "hi": "निचला केंद्र",
            "it": "In basso al centro",
            "ja": "中央下",
            "ko": "맨아래 중간",
            "nb": "Bunnsentrert",
            "nl": "Midden onder",
            "pl": "Na dole na środku",
            "pt-BR": "Inferior centro",
            "pt-PT": "Inferior centro",
            "sv": "Längst ner i mitten",
            "th": "กลางล่าง",
            "tr": "Alt orta",
            "vi": "Dưới cùng ở giữa",
            "zh-CN": "底部居中",
            "zh-TW": "中央下方"
          },
          "value": "center bottom"
        },
        {
          "label": {
            "cs": "Dole doprava",
            "da": "Nederst til højre",
            "de": "Unten rechts",
            "en": "Bottom right",
            "es": "Inferior derecha",
            "fi": "Alhaalla oikealla",
            "fr": "En bas à droite",
            "hi": "सबसे नीचे दाईं ओर",
            "it": "In basso a destra",
            "ja": "右下",
            "ko": "오른쪽 아래",
            "nb": "Nederst til høyre",
            "nl": "Rechtsonder",
            "pl": "Na dole po prawej",
            "pt-BR": "Inferior direito",
            "pt-PT": "Canto inferior direito",
            "sv": "Nere till höger",
            "th": "ขวาล่าง",
            "tr": "Alt sağ",
            "vi": "Dưới cùng bên phải",
            "zh-CN": "右下方",
            "zh-TW": "右下角"
          },
          "value": "right bottom"
        }
      ]
    },
    {
      "type": "video_url",
      "id": "video_link",
      "label": {
        "cs": "Odkaz na video",
        "da": "Videolink",
        "de": "Video-Link",
        "en": "Video link",
        "es": "Enlace de video",
        "fi": "Videolinkki",
        "fr": "Lien de la vidéo",
        "hi": "वीडियो लिंक",
        "it": "Link video",
        "ja": "ビデオリンク",
        "ko": "동영상 링크",
        "nb": "Videokobling",
        "nl": "Videolink",
        "pl": "Link filmu",
        "pt-BR": "Link do vídeo",
        "pt-PT": "Ligação do vídeo",
        "sv": "Videolänk",
        "th": "ลิงก์วิดีโอ",
        "tr": "Video bağlantısı",
        "vi": "Liên kết video",
        "zh-CN": "视频链接",
        "zh-TW": "影片連結"
      },
      "accept": [
        "youtube"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "type": "checkbox",
      "id": "show_overlay",
      "label": {
        "cs": "Zobrazit překryv",
        "da": "Vis overlejring",
        "de": "Überlagerung zeigen",
        "en": "Show overlay",
        "es": "Mostrar superposición",
        "fi": "Näytä peittokuva",
        "fr": "Afficher la superposition",
        "hi": "ओवरले दिखाएं",
        "it": "Mostra sovrapposizione",
        "ja": "オーバーレイを表示する",
        "ko": "오버레이 표시",
        "nb": "Vis overlegg",
        "nl": "Overlay weergeven",
        "pl": "Pokaż nakładkę",
        "pt-BR": "Exibir sobreposição",
        "pt-PT": "Mostrar sobreposição",
        "sv": "Visa överlagring",
        "th": "แสดงการวางซ้อน",
        "tr": "Yer paylaşımını göster",
        "vi": "Hiển thị lớp phủ",
        "zh-CN": "显示叠加",
        "zh-TW": "顯示疊加層"
      },
      "default": true
    },
    {
      "type": "select",
      "id": "style",
      "label": {
        "cs": "Styl",
        "da": "Stil",
        "de": "Stil",
        "en": "Style",
        "es": "Estilo",
        "fi": "Tyyli",
        "fr": "Style",
        "hi": "अंदाज",
        "it": "Stile",
        "ja": "スタイル",
        "ko": "스타일",
        "nb": "Stil",
        "nl": "Stijl",
        "pl": "Styl",
        "pt-BR": "Estilo",
        "pt-PT": "Estilo",
        "sv": "Stil",
        "th": "สไตล์",
        "tr": "Stil",
        "vi": "Kiểu",
        "zh-CN": "样式",
        "zh-TW": "樣式"
      },
      "default": "image_with_play",
      "options": [
        {
          "label": {
            "cs": "Obrázek s tlačítkem přehrávání",
            "da": "Billede med afspilningsknap",
            "de": "Foto mit Play Button",
            "en": "Image with play button",
            "es": "Imagen con el botón de reproducir",
            "fi": "Kuva jossa toistopainike",
            "fr": "Image avec bouton de lecture",
            "hi": "प्ले बटन के साथ इमेज",
            "it": "Immagine con pulsante play",
            "ja": "再生ボタン付き画像",
            "ko": "재생 버튼이 있는 이미지",
            "nb": "Bilde med avspillingsknapp",
            "nl": "Afbeelding met knop afspelen",
            "pl": "Obraz z przyciskiem odtwarzania",
            "pt-BR": "Imagem com botão de reprodução",
            "pt-PT": "Imagem com botão de reprodução",
            "sv": "Bild med uppspelningsknapp",
            "th": "รูปภาพพร้อมปุ่มเล่น",
            "tr": "Oynat düğmesi bulunan görsel",
            "vi": "Hình ảnh có nút phát",
            "zh-CN": "带播放按钮的图片",
            "zh-TW": "附播放按鈕的圖片"
          },
          "value": "image_with_play"
        },
        {
          "label": {
            "cs": "Video na pozadí",
            "da": "Baggrundsvideo",
            "de": "Hintergrund-Video",
            "en": "Background video",
            "es": "Video de fondo",
            "fi": "Taustavideo",
            "fr": "Vidéo d'arrière-plan",
            "hi": "पृष्ठभूमि वीडियो",
            "it": "Video in background",
            "ja": "背景ビデオ",
            "ko": "배경 동영상",
            "nb": "Bakgrunnsvideo",
            "nl": "Achtergrondvideo",
            "pl": "Film w tle",
            "pt-BR": "Vídeo de fundo",
            "pt-PT": "Vídeo de fundo",
            "sv": "Bakgrundsvideo",
            "th": "วิดีโอพื้นหลัง",
            "tr": "Arka plan videosu",
            "vi": "Video nền",
            "zh-CN": "背景视频",
            "zh-TW": "背景影片"
          },
          "value": "background"
        }
      ]
    },
    {
      "type": "select",
      "id": "height",
      "label": {
        "cs": "Výška videa",
        "da": "Videohøjde",
        "de": "Videohöhe",
        "en": "Video height",
        "es": "Altura del video",
        "fi": "Videon korkeus",
        "fr": "Hauteur de la vidéo",
        "hi": "वीडियो ऊंचाई",
        "it": "Altezza video",
        "ja": "ビデオの高さ",
        "ko": "동영상 높이",
        "nb": "Videohøyde",
        "nl": "Videohoogte",
        "pl": "Wysokość filmu",
        "pt-BR": "Altura do vídeo",
        "pt-PT": "Altura do vídeo",
        "sv": "Bildhöjd",
        "th": "ความสูงของวิดีโอ",
        "tr": "Video yüksekliği",
        "vi": "Chiều cao video",
        "zh-CN": "视频高度",
        "zh-TW": "影片高度"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "cs": "Malá",
            "da": "Lille",
            "de": "Klein",
            "en": "Small",
            "es": "Pequeña",
            "fi": "Pieni",
            "fr": "Petit",
            "hi": "छोटा",
            "it": "Piccolo",
            "ja": "スモール",
            "ko": "스몰",
            "nb": "Liten",
            "nl": "Klein",
            "pl": "Mała",
            "pt-BR": "Pequeno",
            "pt-PT": "Pequeno",
            "sv": "Liten",
            "th": "เล็ก",
            "tr": "Küçük",
            "vi": "Nhỏ",
            "zh-CN": "小",
            "zh-TW": "小型"
          },
          "value": "small"
        },
        {
          "label": {
            "cs": "Střední",
            "da": "Medium",
            "de": "Mittel",
            "en": "Medium",
            "es": "Mediana",
            "fi": "Keskisuuri",
            "fr": "Moyen",
            "hi": "मध्यम",
            "it": "Medio",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pl": "Średnia",
            "pt-BR": "Médio",
            "pt-PT": "Médio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "tr": "Orta",
            "vi": "Trung bình",
            "zh-CN": "中等",
            "zh-TW": "中等"
          },
          "value": "medium"
        },
        {
          "label": {
            "cs": "Velká",
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "Larga",
            "fi": "Suuri",
            "fr": "Grand",
            "hi": "बड़ा",
            "it": "Grande",
            "ja": "ラージ",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pl": "Duża",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "tr": "Büyük",
            "vi": "Lớn",
            "zh-CN": "大",
            "zh-TW": "大型"
          },
          "value": "large"
        }
      ]
    },
    {
      "type": "text",
      "id": "video_title",
      "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Überschrift",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "hi": "शीर्षक",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
      }
    },
    {
      "type": "select",
      "id": "text_size",
      "label": {
        "cs": "Velikost textu",
        "da": "Tekststørrelse",
        "de": "Textgröße",
        "en": "Text size",
        "es": "Tamaño del texto",
        "fi": "Tekstin koko",
        "fr": "Taille du texte",
        "hi": "टेक्स्ट आकार",
        "it": "Dimensione testo",
        "ja": "文字サイズ",
        "ko": "텍스트 사이즈",
        "nb": "Tekststørrelse",
        "nl": "Tekengrootte",
        "pl": "Rozmiar czcionki",
        "pt-BR": "Tamanho do texto",
        "pt-PT": "Tamanho do texto",
        "sv": "Textstorlek",
        "th": "ขนาดตัวอักษร",
        "tr": "Metin boyutu",
        "vi": "Cỡ văn bản",
        "zh-CN": "文本大小",
        "zh-TW": "文字尺寸"
      },
      "default": "medium",
      "options": [
        {
          "label": {
            "cs": "Střední",
            "da": "Medium",
            "de": "Mittel",
            "en": "Medium",
            "es": "Mediano",
            "fi": "Keskisuuri",
            "fr": "Moyenne",
            "hi": "मध्यम",
            "it": "Medio",
            "ja": "中",
            "ko": "보통",
            "nb": "Middels",
            "nl": "Gemiddeld",
            "pl": "Średnia",
            "pt-BR": "Médio",
            "pt-PT": "Intermédio",
            "sv": "Medium",
            "th": "ปานกลาง",
            "tr": "Orta",
            "vi": "Trung bình",
            "zh-CN": "中等",
            "zh-TW": "中等"
          },
          "value": "medium"
        },
        {
          "label": {
            "cs": "Velká",
            "da": "Stor",
            "de": "Groß",
            "en": "Large",
            "es": "Grande",
            "fi": "Suuri",
            "fr": "Grande",
            "hi": "बड़ा",
            "it": "Grande",
            "ja": "大",
            "ko": "라지",
            "nb": "Stor",
            "nl": "Groot",
            "pl": "Duża",
            "pt-BR": "Grande",
            "pt-PT": "Grande",
            "sv": "Stor",
            "th": "ใหญ่",
            "tr": "Büyük",
            "vi": "Lớn",
            "zh-CN": "大",
            "zh-TW": "大型"
          },
          "value": "large"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "cs": "Video",
        "da": "Video",
        "de": "Video",
        "en": "Video",
        "es": "Video",
        "fi": "Video",
        "fr": "Vidéo",
        "hi": "वीडियो",
        "it": "Video",
        "ja": "動画",
        "ko": "동영상",
        "nb": "Video",
        "nl": "Video",
        "pl": "Film",
        "pt-BR": "Vídeo",
        "pt-PT": "Vídeo",
        "sv": "Video",
        "th": "วิดีโอ",
        "tr": "Video",
        "vi": "Video",
        "zh-CN": "视频",
        "zh-TW": "影片"
      },
      "category": {
        "cs": "Video",
        "da": "Video",
        "de": "Video",
        "en": "Video",
        "es": "Video",
        "fi": "Video",
        "fr": "Vidéo",
        "hi": "वीडियो",
        "it": "Video",
        "ja": "動画",
        "ko": "동영상",
        "nb": "Video",
        "nl": "Video",
        "pl": "Film",
        "pt-BR": "Vídeo",
        "pt-PT": "Vídeo",
        "sv": "Video",
        "th": "วิดีโอ",
        "tr": "Video",
        "vi": "Video",
        "zh-CN": "视频",
        "zh-TW": "影片"
      },
      "settings": {
        "image_position": "center center",
        "show_overlay": true,
        "style": "image_with_play",
        "height": "medium"
      }
    }
  ]
}
{% endschema %}
