//variables

$browser-context: 17.5; // Default

$apercu: "Apercu Regular", sans-serif;
$freight: "FreightDisp Pro Bold", serif;

//colors
$clear: transparent;
$nav-blue: #5133ff;
$light-grey: #808080;
$darker-grey: #555555;
$btn-grey: #fafafa;
$line-grey: #c4c4c4;
$dark-blue: #1b0066;
$bg-grey: #fbfbfb;
$white: #ffffff;
$infected-green: #79e6b1;
$quote-grey: #666666;
$slide-grey: #e5e5e5;
$cite-grey: #5e5e5e;

@font-face {
  font-family: "Apercu Bold Italic";
  src: url("https://cdn.shopify.com/s/files/1/0486/3911/5430/files/apercu-bold-italic.otf?v=1607476019")
    format("otf");
}
@font-face {
  font-family: "Apercu Bold";
  src: url("https://cdn.shopify.com/s/files/1/0486/3911/5430/files/apercu-bold.otf?v=1607476103")
    format("otf");
}
@font-face {
  font-family: "Apercu Italic";
  src: url("https://cdn.shopify.com/s/files/1/0486/3911/5430/files/apercu-italic.otf?v=1607476132")
    format("otf");
}
@font-face {
  font-family: "Apercu Mono Bold";
  src: url("https://cdn.shopify.com/s/files/1/0486/3911/5430/files/apercu-mono-bold.otf?v=1607476202")
    format("otf");
}
@font-face {
  font-family: "Apercu Mono";
  src: url("https://cdn.shopify.com/s/files/1/0486/3911/5430/files/apercu-mono.otf?v=1607476202")
    format("otf");
}
@font-face {
  font-family: "Apercu Regular";
  src: url("https://cdn.shopify.com/s/files/1/0486/3911/5430/files/apercu-regular.otf?v=1607476202")
    format("otf");
}
@font-face {
  font-family: "FreightDisp Pro Bold";
  src: url("https://cdn.shopify.com/s/files/1/0486/3911/5430/files/GarageFonts_-_FreightDisp_Pro_Bold.otf?v=1607476407")
    format("otf");
}
@font-face {
  font-family: "FreightDisp Pro Book";
  src: url("https://cdn.shopify.com/s/files/1/0486/3911/5430/files/GarageFonts_-_FreightDisp_Pro_Book.otf?v=1607476406")
    format("otf");
}

//mixins

//mixins
$iphone11-width: 828px;
$tablet-width: 750px;
$desktop-width: 768px;

@mixin minWidth($breakpoint: 750px) {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}
@mixin maxWidth($breakpoint: 750px) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}
@mixin xs {
  @media (max-width: 360px) {
    // $browser-context: 12;
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$desktop-width - 1px}) {
    // $browser-context: 12;
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}
@mixin fast-transition {
  transition: all 500ms ease-in-out;
}

@mixin zero-bound {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0px;
}
@mixin ratio1 {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

@mixin bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@mixin bg-grey-gradient {
  background: rgba(219, 219, 219, 1);
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(219, 219, 219, 1)),
    color-stop(0%, rgba(250, 250, 250, 1)),
    color-stop(78%, rgba(255, 255, 255, 0.73)),
    color-stop(81%, rgba(255, 255, 255, 0.72)),
    color-stop(100%, rgba(255, 255, 255, 0.72))
  );
  background: linear-gradient(
    to bottom,
    rgba(219, 219, 219, 1) 0%,
    rgba(250, 250, 250, 1) 0%,
    rgba(255, 255, 255, 0.73) 78%,
    rgba(255, 255, 255, 0.72) 81%,
    rgba(255, 255, 255, 0.72) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#ffffff', GradientType=0 );
}

@mixin real-center {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
@mixin circle {
  border-radius: 50%;
}

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@mixin text-format($family, $size, $weight, $line, $color) {
  font: {
    family: $family;
    size: em($size);
    size: $size + px;
    weight: $weight;
  }
  line-height: #{$line/$size};
  color: $color !important;
}

@mixin nav-menu-font {
  @include text-format($apercu, 21, 400, 80, $dark-blue);
}
@mixin text-box-title {
  @include text-format($apercu, 64, 500, 80, $dark-blue);
}
@mixin text-box-text {
  @include text-format($apercu, 16, 400, 24, $light-grey);
}
@mixin sup {
  font-size: 20%;
  vertical-align: top;
  text-transform: uppercase;
  line-height: 0;
}
@mixin h1 {
  @include text-format($freight, 90, 700, 98, $dark-blue);
}
@mixin hero-title {
  @include text-format($freight, 42, 700, 48, $dark-blue);
  min-height: 100px;
}
@mixin hero-text {
  @include text-format($apercu, 24, 400, 32, $light-grey);
}
@mixin btn-text {
  @include text-format($apercu, 24, 700, 30, $nav-blue);
}

//custom styling
//general
.w-50 {
  width: 50% !important;
}
// ::-webkit-scrollbar {
//   background: rgba($light-grey, 0.3);
//   border-radius: 0;
//   width: 5px;
// }
// ::-webkit-scrollbar-thumb {
//   border: 2px inset $dark-blue;
//   background: $dark-blue;
// }
.site-header__icons.site-header__icons--plus {
  @include maxWidth(989px) {
    width: 100% !important;
  }
}
.align-items-bottom {
  display: flex;
  align-items: flex-end;
}

.justify-center {
  display: flex !important;
  justify-content: center !important;
}
.align-items-center {
  display: flex;
  align-items: center;
}
.container-fluid.p-0 {
  overflow-x: hidden;
}
.main-content {
  max-width: 1440px;
  margin: 0 auto;
}
.desktop {
  @include mobile {
    display: none;
    height: 0;
    visibility: hidden;
  }
}
.counter-mobile-margin {
  @include mobile {
    margin-right: -16px;
    margin-left: -16px;
    width: 100vw;
    &.img-col {
      margin-left: -17px;
      background-color: $btn-grey;
      img {
        margin: 0 auto;
        width: 100%;
      }
    }
  }
}
.mask-over {
  @include mobile {
    margin: 0;
    width: 100vw;
  }
}
.mobile {
  @include desktop {
    display: none;
    height: 0;
    visibility: hidden;
  }
  @include mobile {
    margin: 0;
  }
}
.rev {
  @include mobile {
    flex-direction: column-reverse;
  }
}
.rnd {
  border-radius: 20px;
}
.img-auto {
  height: 100%;
  width: auto;
}
.mobile-padding {
  @include mobile {
    padding-right: 16px !important;
    padding-left: 16px !important;
  }
}
.pr-64 {
  padding-right: 64px !important;
  @include mobile {
    padding-right: 16px !important;
  }
  &.main-content {
    @include mobile {
      padding-right: 0 !important;
    }
  }
}
.pt-220 {
  padding-top: 220px;
}
.pr-170 {
  @include desktop {
    padding-right: 170px;
  }
}
.pl-64 {
  padding-left: 64px !important;
  @include mobile {
    padding-left: 16px !important;
  }
  &.main-content,
  #hero-4 .img-box {
    @include mobile {
      padding-left: 0 !important;
    }
  }

  .pb-35 {
    @include mobile {
      padding-bottom: 35px;
    }
  }
}
.pl-yotpo {
  padding-left: 49px !important;
  @include mobile {
    padding-left: 16px !important;
  }
}
.mobile-p-0 {
  @include mobile {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.md-pb-0 {
  @include mobile {
    padding-bottom: 0 !important;
  }
}
a {
  &:active,
  &:visited,
  &:focus,
  &:hover {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
    // border-bottom: 0;
  }
}
#about {
  .h2 {
    padding-top: 48px;
    &.num-list {
      padding-top: 32px;
    }
  }
  .h4 {
    margin-bottom: 24px;
  }
}
#contact {
  a {
    color: $nav-blue;
    border-bottom: 0;
    &:active,
    &:visited,
    &:focus,
    &:hover {
      color: $nav-blue;
      border-bottom: 0;
    }
  }
  .text-block {
    padding-bottom: 24px;
  }
}
.row {
  display: flex;
}
.placeholder {
  pointer-events: none !important;
}
.text-col {
  display: flex;
  align-items: center;
}
.z-9 {
  z-index: 9;
}
.z-10 {
  z-index: 10;
}
.custom-edit {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.btn {
  // min-width: 300px;
  background: $white;
  @include text-format($apercu, 16, 700, 20, $nav-blue);
  border: 3px solid $nav-blue;
  // box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
  border-radius: 50px;
  width: auto;
  height: auto;
  min-width: 343px;
  padding: 9px 40px;
  @include maxWidth(989px) {
    padding: 9px 40px;
    min-width: 200px;
  }
  margin-bottom: 10px;
  transform: perspective(1px) translateZ(0);
  transition: box-shadow 0.3s;
  margin-top: 24px;
  text-transform: capitalize;
  &:hover,
  &:focus {
    background-color: $nav-blue !important;
    color: $white !important;
  }
  &.btn-dark {
    background-color: $nav-blue;
    color: $white !important;
    top: 0;
    border-color: $nav-blue;
    &:hover,
    &:focus {
      background-color: $white !important;
      color: $nav-blue !important;
    }
  }
  &.btn-sqr {
    border-radius: 5px;
  }
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  background-color: $white;
  .container-fluid {
    max-width: 1440px;
  }
  &.modal-open {
    overflow: hidden;
    max-height: 100vh;
    height: 100vh !important;
  }
}
.no-mt {
  margin-top: -220px;
}
/* end GENERAL */
/* theme.css overrides */
.page-container {
  @include desktop {
    padding-top: 85px;
  }
}
.site-footer {
  padding-bottom: 0 !important;
}
#CartCount {
  background-color: $nav-blue;
  span {
    font-family: $apercu;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.21px;
    color: $white;
  }
}
.site-header__icon {
  background-color: $btn-grey;
  border-radius: 50%;
  margin-left: 24px;
  &.site-header__account {
    @include mobile {
      display: none !important;
    }
  }
  &.site-header__cart {
    @include mobile {
      svg {
        height: 18px;
      }
    }
  }
  &.site-header__menu {
    background-color: $clear;
  }
}
.btn--link.site-header__icon.site-header__search-toggle {
  padding: 10px 15px;
}
.site-nav__link--active {
  background: $btn-grey;
  .site-nav__label {
    border-bottom-color: $clear;
  }
}
.site-nav__link {
  &:not([disabled]):hover,
  &:focus {
    .site-nav__label {
      border-bottom-color: $clear;
    }
  }
}
#shopify-section-feature-row,
.shopify-section.video-section,
.main-content .shopify-section {
  display: block !important;
}
.page-width {
  max-width: 1440px;
  padding-left: 0;
  padding-right: 0;
}
.index-section {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.main-content {
  padding-top: 0;
  @include mobile {
    padding-top: 68px !important;
  }
}
.site-nav {
  margin: 0;
}

/* end theme.css overrides */

.zero-bound {
  @include zero-bound;
}
.after-effect {
  &:after {
    @include desktop {
      content: "";
      height: 110%;
      width: 100%;
      position: absolute;
      background: white;
      margin-left: 95%;
      margin-top: -5%;
    }
  }
}

.icon-title {
  @include text-format($freight, 26, 700, 30, $dark-blue);
  padding: 16px 0;
  // padding: 36px 16px 16px;
}
.title-serif {
  @include text-format($freight, 58, 700, 62, $dark-blue);
  @include mobile {
    font-size: 48px;
    line-height: 50px;
  }
}
.icon-blurb {
  @include text-format($apercu, 18, 500, 24, $nav-blue);
}
.sub-title {
  @include text-format($apercu, 16, 700, 24, $nav-blue);
}
.q-title {
  @include text-format($apercu, 25, 500, 30, $dark-blue);
  padding-bottom: 20px;
}

.cite {
  @include text-format($apercu, 16, 700, 22, $quote-grey);
  padding-top: 10px;
  @include mobile {
    @include text-format($apercu, 20, 700, 24.9, $cite-grey);
  }
}
.breadcrumb {
  background-color: $clear;
  margin-bottom: 16px;
  @include mobile {
    margin-bottom: 10px;
  }
  padding-left: 0;
  color: $light-grey;
  a {
    color: $nav-blue;
  }
  .bull-btwn {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.hero-section {
  .title,
  p.title {
    @include text-format($apercu, 64, 500, 80, $dark-blue);
  }
  .text {
    @include text-format($apercu, 18, 400, 30, $light-grey);
  }
  .sup {
    @include sup;
  }
  @include mobile {
    padding-bottom: 42px;
  }
  .text-block p {
    @include text-box-text;
    padding-top: 24px;
  }
  .overlay {
    @include zero-bound;
    @include ratio1;
    background: -webkit-radial-gradient($clear 56%, white 150px);
    pointer-events: none;
    z-index: 4;
    @include mobile {
      background: -webkit-radial-gradient($clear 56%, $bg-grey 150px);
    }
  }
  .under-cover {
    background-color: $bg-grey;
    @include ratio1;
    z-index: 0;
    @include desktop {
      @include circle;
    }
  }
}

@for $i from 1 through 8 {
  &.float-#{$i} {
    animation-name: Floating;
    animation-duration: $i + s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}
@keyframes Floating {
  from {
    transform: translate(0, 0);
  }
  65% {
    transform: translate(3px, 5px);
  }
  to {
    transform: translate(0, 0);
  }
}

.petrie-dish {
  position: absolute;
  top: 0px;
  left: 10%;
  width: 100%;
  height: 100%;
  .germ-spot {
    @include circle;
    position: absolute;
    z-index: 0;
  }
}
//components
.site-header {
  position: fixed;
  width: 100vw;
  z-index: 99999;
  // box-shadow: 0 2px 5px 0 rgba(0,0,0,0.12), 0 2px 10px 0 rgba(0,0,0,0.08);
}
header {
  // padding-right: 47px;
  background-color: $white;
  z-index: 999;
  position: relative;
  .row {
    display: flex;
    align-items: center;
  }
  .brand {
    a {
      img {
        height: 100%;
        width: auto;
      }
    }
  }
  .site-header__logo {
    @include maxWidth(989px) {
      padding-left: 0 !important;
    }
  }
  .site-header__logo-image {
    max-width: 250px;
    margin-left: 0;
    background: $white !important;
  }
  ul {
    list-style: none;
    margin: 0;
    li {
      display: inline-flex;
      color: $nav-blue;
      @include text-format($apercu, 21, 400, 80, $dark-blue);
      padding: 0 20px;
    }
  }
  .site-nav__label {
    @include text-format($apercu, 21, 500, 80, $nav-blue);
  }

  .icons {
    display: flex;
    justify-content: flex-end;

    li {
      padding: 5px;
      @include circle;
      background-color: $btn-grey;
      &:first-child {
        margin-right: 30px;
      }
      a {
        height: 30px;
        width: 30px;
        @include bg-img;
        &.nano {
          background-image: url("https://cdn.shopify.com/s/files/1/0486/3911/5430/files/nanoIcon.svg?v=1607301837");
        }
        &.cart {
          background-image: url("https://cdn.shopify.com/s/files/1/0486/3911/5430/files/Union.svg?v=1607301837");
        }
      }
    }
  }
}
#hero-1 {
  margin-top: 40px; //remove with video background
  // @include bg-grey-gradient;
  @include mobile {
    margin-top: 0;
  }
  position: relative;
  background: $white;
  .white-bg {
    background: white;
  }
  .gradient-bg {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 0.88) 13%,
      rgba(255, 255, 255, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
  }
  h1 {
    @include text-format($freight, 90, 700, 98, $dark-blue);
    @include text-format(
      $freight,
      60,
      700,
      68,
      $dark-blue
    ); //override as per david berger
    padding-bottom: 46px;
    margin-bottom: 0;
    @include mobile {
      font-size: 48px;
      line-height: 50px;
    }
  }
  .btn {
    @include desktop {
      // min-width: 303px;//override as per david berger
    }
    @include mobile {
      margin-bottom: 0;
      min-width: 200px;
    }
  }
  @for $i from 1 through 8 {
    .float-#{$i} {
      animation-name: Floating;
      animation-duration: $i + s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
  }
  @keyframes Floating {
    from {
      transform: translate(0, 0);
    }
    65% {
      transform: translate(3px, 5px);
    }
    to {
      transform: translate(0, 0px);
    }
  }
  @for $i from 1 through 8 {
    .germ-#{$i} {
      height: 10px;
      width: 10px;
      background-color: $infected-green;
    }
  }
  .floating-button {
    position: absolute;
    bottom: 250px;
    left: 64px;
  }
  #germs {
    position: absolute;
    @include zero-bound;
    left: 0;
    right: 10%;
    bottom: 15px;
    z-index: 0;
  }
  .hand-clear,
  .hand-static {
    float: right;
    margin-right: -20px;
    margin-top: -20px;
    // min-height: 360px;
    height: 360px;
    @include mobile {
      margin-top: 0;
      min-height: auto;
    }
    &.placeholder {
      // @include bg-grey-gradient;
      background: $white;
      @include circle;
      @include zero-bound;
      z-index: -1;
      left: unset;
      right: 13px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      &.bg-white {
        background-color: $white;
      }
    }
  }
  .hero-1-image {
    padding: 0;
    margin: 0;
  }
  .hand-static {
    height: auto;
    @include minWidth(1215px) {
      height: 432px;
    }
  }
  .petrie-dish {
    opacity: 0;
  }

  #germs {
    .petrie-dish {
      opacity: 1;
      @include zero-bound;
      width: 30%;
      animation: floatRight 20000ms linear infinite;
    }
    #petrie-2 {
      transform: scaleY(-1);
      animation: floatRight2 25000ms linear infinite;
    }
    @keyframes floatRight {
      from {
        top: random(10) + %;
        left: 0;
      }
      to {
        top: (random(10) * -1) + %;
        left: 61%;
      }
    }
    @keyframes floatRight2 {
      from {
        top: random(10) + %;
        left: 0;
      }
      to {
        top: (random(10) * -1) + %;
        left: 60%;
      }
    }
  }
}
#hero-2 {
  background-color: $white;
  img.width-100 {
    width: 100%;
  }
  .text-block > p {
    padding-bottom: 40px;
  }

  #petrie-3 {
    &.petrie-dish {
      transform: skew(-17deg, 18deg);
    }
  }
  .btn {
    @include mobile {
      min-width: 200px;
    }
  }
  @keyframes destroy {
    to {
      left: 45%;
      opacity: 0;
      // top: 50%;
    }
  }
  .placeholder {
    opacity: 0;
  }
  .bottle-shadow {
    height: 61%;
    width: 17%;
    background-color: $bg-grey;
    position: absolute;
    top: 15%;
    left: 47%;
    transform: skew(-15deg, 16deg);
    border-radius: 20%;
    z-index: 1;
    &:after {
      content: "";
      position: absolute;
      left: 2px;
      right: 5px;
      top: 0;
      bottom: 0px;
      background: $white;
      top: 97%;
      bottom: -29%;
      border-bottom-left-radius: 20%;
      border-bottom-right-radius: 20%;
    }
  }
  .mask-bg {
    position: absolute;
    left: 21.74%;
    top: 2.89%;
    right: 6.5%;
    bottom: 24.3%;
    background: $bg-grey;
    @include circle;
    z-index: 0;
  }
  .bottle-wrapper {
    @include zero-bound;
    z-index: 999;
  }
  .img-col {
    margin-top: 0;
    // margin-bottom: 60px;
    padding-bottom: 0;
    @include mobile {
      // margin-left: -100px;
    }
  }
  .over-img {
    z-index: 999;
    left: -9%;
    top: -4%;
    position: absolute;
  }
  .petrie-mask {
    @include zero-bound;
    width: 105%;
    height: 100%;
    background: radial-gradient(circle at center 39%, $clear 45%, $white 4%);
    margin-left: 7%;
    overflow: hidden;
  }
  @keyframes shrinkToCentre {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0);
    }
  }
}
#hero-3 {
  @include desktop {
    min-height: 568px;
    .btn {
      // min-width: 303px;
    }
  }
  .img-col {
    display: flex;
    justify-content: center;
  }
  .overlay-md {
    @include mobile {
      @include zero-bound;
      @include ratio1;
      background: -webkit-radial-gradient($clear 66%, $btn-grey 150px);
      pointer-events: none;
      z-index: 4;
    }
  }
  #viral-spread {
    position: absolute;
    left: 2%;
    right: 5%;
    top: 5%;
    bottom: 9%;
    z-index: -1;

    .mask {
      @include zero-bound;
      @include real-center;
      &.clean {
        background-color: $dark-blue;
        z-index: 1;
        top: 50%;
        left: 50%;
        @include real-center;
        @include ratio1;
        transition: background-color 2s ease-in-out;
        @include circle;
      }
      &.infected {
        background-color: $infected-green;
        z-index: 2;
        @include circle;
        left: 50%;
        top: 50%;
      }
    }
    .petrie-dish {
      width: 65%;
      height: 65%;
      z-index: 4;
      @include circle;
      @include real-center;
    }

    &.animate {
      .mask.infected {
        animation: fullSpread 8s ease-out infinite;
      }
      #petrie-4 {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      @for $kk from 1 through 5 {
        #petrie-4-#{$kk} {
          transform: translate(-50%, -50%)
            rotate((#{60 * $kk + random(60)}deg));
        }
      }
    }
  }
}
body:not(.script-on) {
  .vid-outer img {
    display: flex;
  }
  #hero-7 {
    button.video-play {
      display: none;
    }
  }
  .main-slide img {
    opacity: 1!important;
  }
}
@mixin IOS-bugfix {
  #hero-2 {
    .hero-2-static {
      // width: 50%;
    }
  }

  #hero-3 {
    .overlay-md {
      display: none;
    }
    .vid-outer {
      // background-image: url('https://cdn.shopify.com/s/files/1/0486/3911/5430/files/populus_static_412a4376-52b7-4e35-91fe-3b466844835f.svg?v=1611516125');
      background-repeat: no-repeat;
      background-size: contain;
      width: 100vw;
      height: 100vw;
    }
    img {
      display: flex;
      svg {
        width: 100vw;
        height: auto;
      }
    }
    #hero-3-vid {
      opacity: 0;
    }
  }
  #hero-4 {
    .vid-outer {
      background-image: url("https://cdn.shopify.com/s/files/1/0486/3911/5430/files/whatWe.png?v=1608061271");
      background-repeat: no-repeat;
      background-size: contain;
    }
    #hero-4-vid {
      opacity: 0;
    }
  }
}

.vid-outer {
  img {
    display: none;
  }
}

.osx {
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
    @include IOS-bugfix;
  }
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    @include IOS-bugfix;
  }
  @media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
    @include IOS-bugfix;
  }
  @media only screen and (max-width: 413px) {
    @include IOS-bugfix;
  }
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) { //ipag gen5
    // @include IOS-bugfix;
    #hero-4-vid {
      opacity: 1;
      // border: 1px solid red;
      background-image: url("https://cdn.shopify.com/s/files/1/0486/3911/5430/files/whatWe.png?v=1608061271");
      background-repeat: no-repeat;
      background-size: 50%;
      background-position: 0 50%;
      // border: 2px solid red;
    }
  }

  @media screen and (device-aspect-ratio: 40/71) { //iphone 5
    // @include IOS-bugfix;

    .overlay-md {
      // display: none;
    }
  }
}
.populus {
  top: 0;
  width: 100%;
  z-index: 3;
  height: 90%;
}
.germ-spot {
  left: 50%;
  top: 50%;
  @for $i from 1 through 25 {
    &.spread-out-#{$i} {
      animation-name: spreading-#{$i * 4};
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
  }
}

@for $i from 1 through 25 {
  @keyframes spreading-#{$i*4} {
    to {
      left: 0% + ($i * 4);
      top: -12%;
      background-color: $clear;
    }
  }
}
@keyframes fullSpread {
  from {
    height: 0;
    width: 0;
  }
  to {
    height: 100%;
    width: 80%;
  }
}

#icon-block {
  &:not(.products-single) {
    @include desktop {
      // min-height: 768px;
    }
  }
  @include mobile {
    padding-bottom: 90px !important;
  }
  &.products-single {
    padding-top: 100px;
    @include mobile {
      padding-top: 20px;
    }
  }
  .icon-title {
    @include mobile {
      min-height: auto;
      font-size: 24px;
      line-height: 40px;
    }
  }
  .icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 35px 0;
    @include maxWidth(989px) {
      padding: 35px 0 0;
    }
    .icon-box {
      flex-direction: row;
      height: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 80px;
        width: 100%;
      }
    }
    .text {
      position: static;
      @include desktop {
        min-height: 190px;
      }
      p {
        @include text-format($apercu, 16, 400, 24, $light-grey);
        // max-height: 125px;
        // overflow-Y: scroll;
        @include mobile {
          min-height: auto;
          font-size: 16px;
          line-height: 24px;
        }
      }
      &.i-text {
        @include mobile {
          padding-left: 16px;
          padding-right: 16px;
        }
      }
    }
  }
}
@include mobile {
  .template-product {
    #icon-block {
      padding-bottom: 40px !important;
    }
    .pt-220 {
      padding-top: 40px;
    }
  }
}
#hero-4 {
  @include desktop {
    // min-height: 568px;
  }
  @include mobile {
    .btn {
      min-width: 200px;
    }
    .doing-spots {
      margin-left: -50px;
    }
  }
  .row {
    position: relative;
  }
  video {
    @include zero-bound;
    left: 0;
    top: -5%;
    @include minWidth(993px) {
      left: 10%;
      top: -10%;
      height: 467px !important;
      width: auto !important;
    }
    @include mobile {
      position: relative;
      width: 200vw !important;
      height: auto !important;
      left: 0 !important;
      top: 0;
      margin-left: 50vw;
      z-index: 999;
    }
  }
}

#hero-5 {
  .clickboard-container {
    display: flex;
    position: relative;
    .img-box {
      width: 100vw;
      height: 100%;
      text-align: center;
      @include bg-img;
      background-size: cover;
    }
    .img {
      @include bg-img;
      background-size: cover;
    }
    .invisible {
      opacity: 0;
      pointer-events: none;
      width: 100%;
    }
  }
  .text-block {
    margin-bottom: 24px;
  }
  .icon-wrapper {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .icon-box {
      display: inline-flex;
      padding-right: 24px;
      img {
        min-width: 92px;
      }
    }
    .icon-blurb {
      padding-left: 24px;
      display: inline-flex;
    }
  }
  .table-wrapper {
    padding-top: 32px;
    padding-bottom: 35px;
  }
  .comparison {
    max-width: 375px;
    margin-bottom: 40px;
    background: $btn-grey;

    .title-bar {
      min-height: 153px;
      align-items: center;
      justify-content: center;
    }
    .title-text {
      justify-content: center;
      display: flex;
      padding: 27px 0;
      font-family: $apercu;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #4d4d4d;
    }
    .title-switch {
      cursor: pointer;
      &:hover {
        // opacity: 0.6;
        // filter: brightness(.5);
      }
      &:last-of-type {
        .title-text {
          padding: 29px 0;
        }
      }
    }
    .title-switch .border-div {
      border-bottom: 1px solid #808080;
      height: 4px;
    }
    .title-switch.active .border-div {
      border-bottom: 4px solid #4739f5;
    }
    ul.checkboxes {
      list-style: none;
    }
    .checkboxes .text-point .text:before {
      content: url("https://cdn.shopify.com/s/files/1/0486/3911/5430/files/icon-plus.svg?v=1611692074");
      padding-top: 8px;
      padding-right: 14px;
      height: 41px;
      width: 41px;
    }
    .checkboxes.pros .text-point .text:before {
      content: url("https://cdn.shopify.com/s/files/1/0486/3911/5430/files/icon-check.svg?v=1611692181");
    }
    .text-point {
      font-family: $apercu, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: 0em;
      text-align: left;
      border-bottom: 1px solid #dfdfdf;
    }
    .text-point .text {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .image-wrapper {
      width: 100%;
      height: 375px;
      padding: 26px 0;
      margin-bottom: 45px;
    }
    .con-image {
      display: none;
      &.active {
        display: flex;
      }
    }
    .pro-image {
      display: none;
      &.active {
        display: flex;
      }
    }
    &.table {
      max-width: 100%;
      background: $white;
      .title-text {
        justify-content: center;
        display: flex;
        padding: 27px 0;
        font-family: sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: #4d4d4d;
      }

      table .tick:before,
      table .cross:before {
        padding: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      table .cross:before {
        content: url("https://cdn.shopify.com/s/files/1/0486/3911/5430/files/icon-plus.svg?v=1611692074");
      }
      table .tick:before {
        content: url("https://cdn.shopify.com/s/files/1/0486/3911/5430/files/icon-check.svg?v=1611692181");
      }
      table td {
        font-family: apercu, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0em;
      }

      table {
        border-bottom: 2px solid white;
        border-spacing: 0px;
      }
      table td {
        border-left: 1px solid #dfdfdf;
        border-right: 1px solid #dfdfdf;
        padding: 0 26px !important;
        text-align: center;
        vertical-align: middle !important;
      }
      table td.title-td {
        padding: 0 !important;
      }
      table tr {
        border-bottom: 1px solid #dfdfdf;
      }
      table tr:last-of-type {
        border-bottom: 1px solid white;
      }
      table tr:first-of-type td {
        border-top: 1px solid white;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
      }
      table tr td:last-of-type {
        text-align: left;
        padding-left: 20px !important;
        padding-right: 0 !important;
        border-right: 1px solid white;
      }
    }
  }
}
.tablet-center {
  @include maxWidth(1198px) {
    justify-content: center;
  }
}
#testimonials {
  .slider-container {
    background-color: $dark-blue;
    color: $white;
    padding: 40px 48px;
    @include desktop {
      border-radius: 20px;
    }
  }

  .title-box {
    padding: 0 0 40px 0;
    .title-serif {
      @include text-format($freight, 50, 700, 58, $white);
      padding-bottom: 20px;
      @include mobile {
        @include text-format($freight, 48, 700, 50, $white);
      }
    }
    .sub-title {
      text-transform: capitalize;
      &:focus,
      &:active,
      &:hover {
        text-decoration: underline;
      }
    }
  }
  ::-webkit-scrollbar {
    height: 5px;
    background: rgba($slide-grey, 0.6);
    border-top: 2px solid $dark-blue;
    border-bottom: 2px solid $dark-blue;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: white;
  }
  .quote-box {
    @include mobile {
      max-height: unset;
    }

    .five-stars {
      padding-bottom: 32px;
    }
    border-radius: 20px;
    color: $dark-blue;
  }
  .row.slider {
    top: 0;
    .slide-wrapper {
      overflow-y: hidden;
      padding-bottom: 48px;
    }
  }
  .controls {
    @include zero-bound();
    left: -30px;
    right: -30px;
  }
}
#hero-6 {
  @include desktop {
    margin: 70px 0;
  }
  @include mobile {
    .text-block p {
      @include text-format($apercu, 18, 300, 28, $light-grey);
    }
  }
}
#hero-7 {
  @include desktop {
    .btn {
      // min-width: 303px;
    }
    min-height: 768px;
  }
  padding-bottom: 40px;
  .video-wrapper {
    padding: 40px 0;
    @include mobile {
      padding-top: 20px;
    }
    .video-container {
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }
    .video-box {
      padding: 0;
      background-color: $dark-blue;
      height: 508px;
      // width: 1022px;
      position: relative;
      @include desktop {
        margin-bottom: 0;
      }
      margin-bottom: 32px;
      iframe {
        border-radius: 20px;
      }
      @include mobile {
        // height: 0;
        width: 100vw;
        // padding-bottom: 49%;
        border-radius: 0;
      }
    }
    .title-box {
      .title-serif {
        color: $dark-blue;
        padding-bottom: 20px;
        @include mobile {
          font-size: 48px;
          line-height: 50px;
        }
      }
      a.sub-title {
        color: $nav-blue;
        &:active,
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
  .video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85px;
    width: 85px;
    background: $clear;
    border: 0;
    pointer-events: none;
    @include mobile {
      display: none;
    }
    &:focus {
      border: 0;
    }
  }
}

video {
  cursor: pointer;
  &:focus {
    outline-color: transparent !important;
    border-color: transparent !important;
  }
  &::-webkit-media-controls-panel {
    opacity: 0 !important;
  }
  &:hover {
    & + .video-play {
      opacity: 0.4;
    }
  }
}
#nano-vid {
  @include mobile {
    width: 100% !important;
  }
}
.nano-name {
  @include mobile {
    max-width: 171px;
  }
}
//newsletter reCAPTCHA challenge

.shopify-challenge__container {
  position: absolute;
  width: 100vw;
  background: white;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 999;
  padding: 80px;
  border-radius: 20px;
}
.testi-dots {
  position: relative;
  min-height: 180px;
  display: flex;
  background-image: url("https://cdn.shopify.com/s/files/1/0486/3911/5430/files/testi-dots.svg?v=1611138616");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -7px 35px;
}
#footer {
  // max-width: 1440px;
  margin: 0 auto;
  margin-top: 0;
  padding-top: 40px;
  color: $white;
  background-color: $nav-blue;
  @include mobile {
    margin-top: 0;
    padding-top: 20px;
  }
  .title-serif {
    @include text-format($freight, 64, 700, 60, $white);
    padding: 40px 0 20px;
  }
  .sub-title {
    @include text-format($apercu, 20, 400, 32, $white);
    padding-bottom: 40px;
  }
  @include mobile {
    .title-serif {
      @include text-format($freight, 38, 700, 42, $white);
      padding: 30px 0 16px;
    }
    .sub-title {
      @include text-format($apercu, 16, 400, 24, $white);
      padding-bottom: 20px;
    }
  }
  .email-form-outer {
    padding-bottom: 120px;
    @include mobile {
      padding-bottom: 40px;
    }
  }
  .email-form-wrapper {
    background: $white;
    max-width: 430px;
    border-radius: 3px;
    @include mobile {
      background: $nav-blue;
      text-align: center;
      max-width: 600px;
    }
    #mc_embed_signup_scroll {
      padding: 5px 0;
      display: flex;
      flex-direction: row;
      // margin-bottom: 120px;
      .mc-field-group {
        justify-content: flex-start;
        align-items: center;
        display: flex;
        padding-left: 25px;
        @include mobile {
          padding-left: 0;
        }
      }
      .email-input-container,
      .submit-container {
        @include mobile {
          justify-content: center;
          display: flex;
        }
      }
      .mail-icon {
        position: relative;
        &:after {
          content: url("https://cdn.shopify.com/s/files/1/0486/3911/5430/files/mail_1_1.svg?v=1607567198");
          position: absolute;
          left: -20px;
          top: 28.5%;
          height: 55px;
          @include mobile {
            left: 6px;
            top: 21%;
          }
        }
      }
      .email-input {
        width: 100%;
        border: 0;
        position: relative;
        padding: 9px 4px;
        font-family: $apercu;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: #959ead;
        min-width: 343px;
        @include maxWidth(989px) {
          margin-bottom: 16px;
          min-width: 200px;
          padding-left: 32px;
        }
      }
      .submit.button {
        min-width: 0;
        margin: 0;
        padding: 9px 31px;
        font-family: $apercu;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        color: $white;
        margin-right: 5px;
        @include desktop {
          float: right;
        }
        @include mobile {
          // background: white;
          color: $white !important;
          border-color: white !important;
          border-radius: 20px;
          border-width: 1px;
          &:hover {
            color: $nav-blue !important;
          }
        }
      }
    }
    // .contact-form {
    //   width: 100%;
    // }
    // background-color: $white;
    // padding: 5px;
    // margin-bottom: 110px;
    // border-radius: 5px;
    // color: $light-grey;
    // display: flex;
    // justify-content: flex-end;
    // align-items: center;
    // .btn {
    //   min-width: unset;
    //   margin-bottom: 0;
    //   margin-top: 0;
    //   text-transform: capitalize;
    //   // width: 59%;
    //   float: right;
    //   padding: 10px 0;
    // }
    // .input-group {
    //   flex-wrap: nowrap;
    // }
    // .form-field {//email input
    //   background-image: url("https://cdn.shopify.com/s/files/1/0486/3911/5430/files/mail_1_1.svg?v=1607567198");
    //   font-size: 14px;
    //   &:focus {
    //     outline-color: transparent;
    //   }
    //   @include bg-img;
    //   background-position: left;
    //   background-size: 9%;
    //   max-width: 70%;
    //   height: inherit;
    //   padding-left: 10%;
    //   border: 0;
    //   @include mobile {
    //     max-width: 100%;
    //     background-size: 7%;
    //     min-height: 44px;
    //   }
    // }
    // @include mobile {
    //   .md-btn {
    //     position: absolute;
    //     bottom: -137%;
    //     button {
    //       border: 2px solid $white;
    //       border-radius: 20px;
    //       width: 200px;
    //     }
    //   }
    // }
  }

  .contact {
    @include desktop {
      margin-bottom: 32px;
    }
    @include mobile {
      text-align: center;
    }
    .brand {
      .brand {
        &:before {
          content: url("https://cdn.shopify.com/s/files/1/0486/3911/5430/files/Nano_Pure_Logo-white.svg?v=1607570129");
        }
      }
      .phone {
        @include text-format($apercu, 20, 500, 32, $white);
      }
      .email a {
        @include text-format($apercu, 16, 500, 32, $white);
        text-transform: lowercase;
        &:hover,
        &:focus {
          color: $dark-blue !important;
        }
      }
    }
    div {
      @include text-format($apercu, 18, 500, 32, $white);
      @include mobile {
        @include text-format($apercu, 16, 500, 22, $white);
      }
      text-transform: capitalize;
      .head {
        text-transform: uppercase;
        font-weight: 700;
        padding-bottom: 20px;
        @include mobile {
          padding-bottom: 10px;
        }
      }
      .line {
        padding-bottom: 16px;
        @include mobile {
          padding-bottom: 8px;
        }
      }
    }
  }

  .social {
    border-top: 2px solid rgba($white, 0.8);
    padding: 30px 0;
    @include mobile {
      flex-direction: column;
      border-top: 0;
      padding: 16px 0;
    }
    .links {
      display: flex;
      @include mobile {
        padding-bottom: 22px;
      }
      .link {
        display: inline-flex;
        margin-right: 8px;
      }
    }
    .c-right {
      @include text-format($apercu, 16, 500, 32, $white);
      @include mobile {
        @include text-format($apercu, 14, 500, 22, $white);
      }
    }
  }
  a {
    border-bottom: 0;
    color: $white !important;
    &:active,
    &:visited {
      color: $white !important;
    }
    &:focus,
    &:hover {
      color: $dark-blue !important;
    }
  }
}
.template-customers-login,
.template-cart {
  #footer {
    margin-top: 40px;
  }
}
.section-placeholder {
  padding: 40px 0;
  font-weight: 700;
}

/////////////////*    testimonial slider styling       *////////////////////
#quote-w-avatar,
#quote-no-avatar {
  background-color: $dark-blue;
  border-radius: 20px;
  padding: 40px 58px 37px;
  @include mobile {
    padding: 30px 20px 27px;
  }
  .title-serif {
    font-family: $freight;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: center;
    color: $white !important;
    padding-bottom: 56px;
    @include mobile {
      font-size: 40px;
      line-height: 44px;
      padding-bottom: 40px;
    }
  }
  .testimonial {
    .card {
      &:before {
        content: "";
        height: 86px;
        @include mobile {
          height: 59px;
        }
        position: absolute;
        background: $dark-blue;
        z-index: 0;
        left: -2px;
        right: -2px;
        top: -2px;
      }
      background-color: $white;
      border-radius: 20px;
      margin: 0 10px;
      .avatar {
        text-align: center;
        z-index: 99;
        position: relative;
        &:after {
          content: "";
          position: absolute;
          right: -7px;
          height: 50px;
          width: 50px;
          top: 42%;
          background: $dark-blue;
          z-index: -2;
        }
        &:before {
          content: "";
          position: absolute;
          left: -7px;
          height: 50px;
          width: 50px;
          top: 42%;
          background: $dark-blue;
          z-index: -1;
        }
        .corner-trick {
          &:after {
            content: "";
            border: 0px solid $dark-blue;
            position: absolute;
            right: -1px;
            height: 50px;
            width: 100px;
            top: 50%;
            transform: translate(0, -4%);
            background: $white;
            border-top-right-radius: 20px;
            border-bottom: 0;
            border-left: 0;
            z-index: -1;
          }

          &:before {
            content: "";
            border: 0px solid $dark-blue;
            position: absolute;
            left: -1px;
            height: 50px;
            width: 100px;
            top: 50%;
            transform: translate(0, -4%);
            background: $white;
            border-top-left-radius: 20px;
            border-bottom: 0;
            border-right: 0;
            z-index: -1;
          }
        }
        img {
          border-radius: 50%;
          height: 172px;
          width: auto;
          @include mobile {
            width: 118px;
            height: 118px;
          }
        }
      }
      blockquote {
        font-family: $apercu;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
        color: $quote-grey;
        padding-top: 20px;
        @include mobile {
          font-size: 14px;
        }
      }
      cite {
        font-family: $apercu;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
        color: $dark-blue;
        @include mobile {
          font-size: 14px;
        }
        &:before {
          content: "";
        }
      }
    }
  }
  .glider-dots {
    padding: 16px 0;
    @include mobile {
      padding-top: 0;
    }
    .glider-dot {
      width: 36px;
      height: 4px;
      &:active,
      &:focus {
        height: 6px;
        background: $nav-blue;
        outline-color: $clear;
      }
    }
  }
  .follow-through {
    text-align: center;
    a.sub-title {
      font-family: $apercu;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
      color: $white !important;
      text-transform: capitalize;
    }
  }
}
#quote-no-avatar {
  .glider-track {
    @include desktop {
      max-width: 2317px !important;
    }
  }
  .testimonial {
    @include desktop {
      max-width: 573px;
    }
    .card {
      padding: 40px 40px 10px;
      @include mobile {
        padding-left: 20px;
        padding-right: 20px;
      }
      &:before {
        content: unset;
      }
      blockquote {
        padding-left: 0;
        font-family: $apercu;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: $quote-grey;
        @include mobile {
          padding-right: 0;
          font-size: 16px;
        }
        .strong {
          padding-bottom: 20px;
          font-family: $apercu;
          font-size: 25px;
          font-style: normal;
          font-weight: 500;
          line-height: 31px;
          letter-spacing: 0em;
          text-align: left;
          color: $dark-blue;
          min-height: auto;
        }
        @include mobile {
          font-size: 18px;
          padding-bottom: 0;
        }
        @include desktop() {
          .quote {
            min-height: 98px;
          }
          .quote.strong {
            min-height: auto;
          }
        }
      }
      cite {
        text-align: left;
        color: $quote-grey;
      }
    }
  }
}

.glider.sales,
.glider2 {
  &::-webkit-scrollbar {
    display: none !important;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#dots.sales {
  padding-bottom: 40px;
  .glider-dot {
    width: 36px;
    height: 1px;
    // transform: translateY(50%);
    &.active,
    &:focus {
      height: 3px;
      background: $nav-blue;
      outline-color: $clear !important;
    }
  }
}

/////////////////*    end of slider styling       *////////////////////
#Collection {
  .grid--view-items {
    margin-bottom: 0;
  }
}
.template-collection {
  header:not(.site-header) {
    padding-bottom: 16px;
    background-color: $btn-grey;
  }
  .page-container {
    background-color: $btn-grey;
  }
  .main-content {
    background-color: $btn-grey;
    @include bg-grey-gradient; //change for testing
    padding-left: 64px;
    padding-right: 64px;
    @include mobile {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
.sub-page,
.collection-header {
  // padding-top: 108px;
  padding-bottom: 100px;
  @include mobile {
    // padding-left: 16px;
    // padding-right: 16px;
  }
  .section-header {
    margin-bottom: 0;
  }

  .h1,
  h1,
  h2,
  h3,
  h4,
  .h2,
  .h3,
  .h4,
  .text-block {
    font-family: $freight;
    font-style: normal;
    font-weight: bold;
    color: $dark-blue;
    letter-spacing: normal;
    margin-bottom: 0;
    margin-top: 0;
  }
  .h1,
  h1 {
    /* H3 Desktop */
    font-size: 54px;
    line-height: 58px;
    padding-bottom: 10px;
    text-transform: capitalize;
    @include mobile {
      font-size: 38px;
      line-height: 40px;
    }
  }
  .h2,
  h2 {
    font-size: 48px;
    line-height: 68px;
    padding-bottom: 24px;
    text-transform: capitalize;
    @include mobile {
      font-size: 36px;
      line-height: 44px;
    }
  }
  .h3,
  h3 {
    /* H6 Desktop */
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 24px;
  }
  .h4,
  h4 {
    font-family: $apercu;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    background-color: rgba(230, 231, 232, 0.2);
    padding: 13px 27px 10px 21px;
    display: inline-flex;
    text-transform: uppercase;
    border-radius: 8px;
  }
  .h5,
  h5 {
    font-family: $apercu;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    color: $dark-blue;
    margin-top: 26px;
    margin-bottom: 24px;
  }
  .text-block,
  .list a,
  .ans,
  .ques {
    font-family: $apercu;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: $light-grey;
  }
  .list a {
    text-decoration: none;
    border-bottom: 0;
    &:hover {
      color: $dark-blue;
    }
  }
  img {
    padding-top: 24px;
  }
  .ques {
    font-weight: 500;
    color: $dark-blue;
    position: relative;
    overflow: hidden;
    background: $white;
    z-index: 10;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    @include fast-transition;
    border-bottom: 2px solid rgba($light-grey, 0.5);
    min-height: 68px;
    &:before {
      content: url("https://cdn.shopify.com/s/files/1/0486/3911/5430/files/Vector.svg?v=1608169015");
      left: 6px;
      position: absolute;
      transition: all 500ms ease-in;
      z-index: 10;
      top: 13px;
      transform: rotate(-540deg);
    }
    .ans {
      pointer-events: none;
      max-height: 34px;
      margin-top: -34px;
      margin-left: 12px;
      color: $clear;
      transition: all 500ms ease-in;
      a {
        pointer-events: all;
        opacity: 0;
        transition: all 900ms ease-in;
      }
      ul {
        margin-bottom: 0;
      }
    }

    &.showAns {
      & ~ .ques {
        margin-top: 0;
      }
      &:before {
        transform: rotate(0deg);
      }
      & .ans {
        color: $light-grey;
        max-height: 500px;
        margin-top: 8px;
        a {
          opacity: 1;
        }
      }
    }
  }
}
.template-page {
  .page-container {
    @include bg-grey-gradient();
  }
}
#shopify-section-collection-template,
.template-product {
  // background-color: $bg-grey;
  @include bg-grey-gradient;
  .product-card:hover {
    .product-card__title,
    .custom-shop-button {
      border-bottom-color: $clear;
      opacity: 0.8;
    }
  }
  /* product card overrides */
  .align-middle {
    align-items: center;
    .mt--20 {
      margin-top: -20px;
    }
  }
  .col-5.text-left {
    @include mobile {
      margin-top: 0;
      text-align: right !important;
    }
  }

  .product-form__controls-group--submit {
    .btn {
      @include mobile {
        padding-top: 0;
      }
    }
  }
  .set-inline {
    display: inline-flex;
    flex-wrap: nowrap;
    max-width: unset;
    .product-form__item {
      flex-basis: 100%;
      display: inline-flex;
      align-items: baseline;
      .product-form__input--quantity {
        margin-left: 24px;
        margin-right: 24px;
        max-width: unset;
        min-width: 72px;
      }
    }
  }
  .with-tag {
    flex-wrap: wrap;
    justify-content: center;
  }
  .price__compare {
    padding-right: 14px;
  }
  .reviews-link {
    padding: 25px 0 32px;
  }
  .orders-over-msg {
    font-family: $apercu;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: $darker-grey;
    white-space: nowrap;
  }
  .compare-percentage {
    font-family: $apercu;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: $dark-blue;
    &.discount-alert {
      color: $white;
      background: $dark-blue;
      font-size: 16px;
      padding: 10px;
      margin-bottom: 24px;
      display: inline-flex;
    }
  }

  .price-item--sale,
  .price-item--regular {
    color: $dark-blue;
    font-size: 32px;
    font-family: $apercu;
    line-height: 28px;
    font-weight: 500;
    @include mobile {
      font-size: 21px;
    }
  }
  .product-single__title {
    font-family: $apercu;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: $dark-blue;
    @include mobile {
      font-size: 32px;
      line-height: 34px;
    }
  }
  .h4.grid-view-item__title.product-card__title {
    font-size: 24px;
    font-family: $apercu;
    line-height: 28px;
    font-weight: 400;
    color: $nav-blue;
    display: flex;
  }
  .grid-view-item__image-wrapper.product-card__image-wrapper {
    max-width: 100%;
    margin-right: 0;
    margin-right: 0;
    img {
      max-width: 100%;
      max-height: 100% !important;
    }
  }
  .spr-badge {
    margin-top: 14px;
  }
  .price.price--listing {
    font-family: $apercu;
    font-size: 14px;
    font-weight: 400;
    color: $dark-blue;
    line-height: 28px;
    margin-top: 14px;
  }
  .col-lg-4.col-md-6 {
    @include mobile {
      padding-right: 32px;
    }
  }
  .custom-shop-button {
    background-color: $nav-blue;
    display: flex;
    // height: 100%;
    width: 100%;
    padding: 10px;
    color: $white;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    position: relative;
    margin-top: 14px;
    .icon {
      content: url("https://cdn.shopify.com/s/files/1/0486/3911/5430/files/Group_825.svg?v=1608497165");
      position: absolute;
      top: 50%;
      right: 25px;
      transform: translateY(-50%);
    }
  }
  .product-single__description {
    margin-top: 0;
    p {
      font-family: $apercu;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: $darker-grey;
    }
  }
  .product-template__container.page-width.pl-64.pr-64 {
    @include desktop {
      height: 768px;
    }
  }

  //product-form__controls-group
  button.btn.product-form__cart-submit {
    @include minWidth(1200px) {
      width: 343px;
    }
    min-width: 0;
    padding-left: 50px;
    padding-right: 50px;
    @include mobile {
      min-width: 200px;
      padding-top: 9px;
    }
    @include xs {
      min-width: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
  input#Quantity-product-template {
    max-width: 88px;
  }

  .thumbnails-wrapper {
    &.slider-active {
      .thumbnails-slider__btn {
        position: absolute;
        // display: flex !important;
        border: 0;
        bottom: 50%;
        background: transparent;
        &:hover,
        &:focus {
          box-shadow: none;
          background: transparent !important;
          // transform: translateX(-4px);
          opacity: 0.6;
        }
        &.thumbnails-slider__prev {
          &.thumbnails-slider__prev--product-template {
            left: 0;
          }
        }
        &.thumbnails-slider__next {
          &.thumbnails-slider__next--product-template {
            right: 0;
          }
        }
        svg {
          rect {
            fill: transparent;
          }
        }
      }
    }
  }

  .product-single__thumbnail-image {
    // max-height: 122px;
    // max-width: 122px;
    // height: 100%;
  }

  .clickboard-container {
    display: flex;
    position: relative;
    .img-box {
      // position: absolute;
      width: 100vw;
      height: 100%;
      text-align: center;
      @include bg-img;
    }
    .img {
      @include bg-img;
    }
    .invisible {
      opacity: 0;
      pointer-events: none;
    }
  }
  /* END product card overrides */

  .sales-points {
    padding-top: 34px;
    padding-bottom: 88px;
    @include mobile {
      margin-bottom: 40px;
      padding-bottom: 0;
      margin-left: 16px;
      margin-right: 16px;
      border-top: 1px solid $line-grey;
      border-bottom: 1px solid $line-grey;
    }
    .box {
      background: $clear;
      padding: 0 10px;
      min-height: 150px;
      @include mobile {
        border-right: 0;
        min-height: auto;
        padding: 0 0 10px;
      }
    }
    .point-wrapper {
      border-right: 1px solid $line-grey;
      @include mobile {
        border-right: 0;
      }
      text-align: center;
      &:last-of-type {
        border-right: 0;
      }
    }
    .headline-tag {
      font-family: $apercu;
      font-size: 24px;
      line-height: 24px;
      padding-top: 24px;
      padding-bottom: 24px;
      color: $dark-blue;
      font-weight: 500;
    }
    .text-tag {
      font-family: $freight;
      font-size: 21px;
      line-height: 28px;
      color: $dark-blue;
      font-weight: 400;
      min-height: 54px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include mobile {
        line-height: 21px;
      }
    }
    // .test {
    //   /* Slideshow container */
    //   .slideshow-container {
    //     max-width: 1000px;
    //     position: relative;
    //     margin: auto;
    //   }
    //   .holder {
    //     display: flex;
    //   }
    //   .box {
    //     text-align: center;
    //     width: 100vw;
    //   }
    //   /* Hide the images by default */
    //   .slide {
    //     display: none;
    //   }

    //   /* Next & previous buttons */
    //   .prev,
    //   .next {
    //     cursor: pointer;
    //     position: absolute;
    //     top: 0;
    //     height: 100%;
    //     width: 50%;
    //     margin-top: -22px;
    //     padding: 16px;
    //     color: white;
    //     font-weight: bold;
    //     font-size: 18px;
    //     transition: 0.6s ease;
    //     border-radius: 0 3px 3px 0;
    //     user-select: none;
    //   }

    //   /* Position the "next button" to the right */
    //   .next {
    //     right: 0;
    //     border-radius: 3px 0 0 3px;
    //   }

    //   /* On hover, add a black background color with a little bit see-through */
    //   .prev:hover,
    //   .next:hover {
    //     /* background-color: rgba(0, 0, 0, 0.8); */
    //   }

    //   /* The dots/bullets/indicators */
    //   .dot-container {
    //     padding-bottom: 40px;
    //   }
    //   .dot {
    //     cursor: pointer;
    //     height: 5px;
    //     width: 20%;
    //     max-width: 85px;
    //     margin: 0 2px;
    //     background-color: #c4c4c4;
    //     border-radius: 20px;
    //     display: inline-block;
    //     transition: background-color 0.6s ease;
    //   }

    //   .active,
    //   .dot:hover {
    //     background-color: #5133ff;
    //   }

    //   /* Fading animation */
    //   .fade {
    //     -webkit-animation-name: fade;
    //     -webkit-animation-duration: 1.5s;
    //     animation-name: fade;
    //     animation-duration: 1.5s;
    //   }

    //   @-webkit-keyframes fade {
    //     from {
    //       opacity: 0.4;
    //     }
    //     to {
    //       opacity: 1;
    //     }
    //   }

    //   @keyframes fade {
    //     from {
    //       opacity: 0.4;
    //     }
    //     to {
    //       opacity: 1;
    //     }
    //   }
    // }
  }
  #quoteGerms {
    height: 194px;
    margin-top: -20px;
    margin-bottom: 10px;
    position: relative;
    .germ-spot {
      position: absolute;
      @include circle;
    }
    &:after,
    &:before {
      content: "";
      width: 100%;
      height: 40px;
      background: $nav-blue;
      position: absolute;
      bottom: -50px;
    }
    &:before {
      bottom: unset;
      top: -20px;
      border-radius: 20px;
      background: $dark-blue;
      z-index: 10;
    }
    &:after {
      @include mobile {
        content: unset;
      }
    }
  }
  .zoom-modal {
    background: $light-grey;
    &.active {
      position: fixed !important;
      overflow: hidden;
      @include zero-bound();
    }
  }
}

.testimonial-snippet {
  // padding-top: 220px;
  .box {
    background: $clear;
  }
  text-align: left;
  .sub-line {
    & > div {
      flex-wrap: nowrap;
      justify-content: space-between;
      display: flex;
    }
  }
  .title-serif {
    @include mobile {
      @include text-format($apercu, 21, 500, 28, $dark-blue);
    }
  }
  .testimonial-list {
    .row {
      vertical-align: top !important;
      padding-top: 36px;
      padding-bottom: 50px;
      display: flex;
      background: $btn-grey;
      margin-top: 8px;
      margin-bottom: 8px;
      border-radius: 20px;
      .five-stars {
        padding-bottom: 22px;
      }
      .cite {
        padding-top: 0;
        font-family: $apercu;
        font-size: 16px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        .date {
          font-weight: 400;
          padding-top: 16px;
          @include mobile {
            padding-top: 0;
            padding-bottom: 24px;
            margin-top: -20px;
          }
        }
      }
      .blockquote {
        text-align: left;
        font-family: $apercu;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }
  .chevron-down {
    content: url("https://cdn.shopify.com/s/files/1/0486/3911/5430/files/Vector_20.svg?v=1608644527");
  }
}
.mbp13 {
  .h4.grid-view-item__title.product-card__title {
    font-size: 24px;
    font-family: $apercu;
    line-height: 28px;
    font-weight: 400;
    color: $nav-blue;
    // height: 120px;
    display: flex;
    @include desktop {
      min-height: 58px;
    }
  }
}
//customised css for product slider  - https://community.shopify.com/c/Technical-Q-A/Debut-theme-Product-thumbnails-as-slider/td-p/571620

@include desktop {
  .no-clear {
    clear: none !important;
  }

  .thumbnails-slider_prev.thumbnails-slider_prev--product-template {
    display: inline-block;
    position: absolute;
    left: -9%;
    top: 60%;
    transform: translateY(-60%);
    z-index: 10000;
    padding-left: 0;
  }

  .thumbnails-slider_next.thumbnails-slider_next--product-template {
    display: inline-block;
    position: absolute;
    right: -9%;
    top: 60%;
    transform: translateY(-60%);
    z-index: 10000;
  }

  .product-single__photos {
    position: relative;
    padding-left: 0;
  }

  .product-single__thumbnails-item.js.no-clear.slick-slide.slick-active {
    padding-top: 0;
  }

  .thumbnails-wrapper.thumbnails-slider--active {
    position: relative;
  }

  .left--arrow {
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    left: -9%;
    z-index: 10000;
  }

  .right--arrow {
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    right: -9%;
    z-index: 10000;
  }

  .slick-hidden {
    display: none !important;
  }

  .slick-track {
    margin-top: 10px;
  }

  .thumbnails-slider--active {
    max-width: 92%;
    margin: 0 auto;
  }

  .product-single__thumbnail {
    margin: 3px 8px;
  }
}

.thumbnails-slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.thumbnails-slider__prev {
  left: -50px;
}

.thumbnails-slider__next {
  right: -50px;
}

@media screen and (max-width: 749px) {
  .thumbnails-slider__prev {
    left: -20px;
  }

  .thumbnails-slider__next {
    right: -20px;
  }
}
//for-business
.autocomplete-items {
  padding-left: 16px;
  background: white;
  position: absolute;
  left: 0;
  z-index: 999;
}

.business-form {
  .btn {
    min-width: 303px;
  }
}
.privy-tab-container {
  background: $nav-blue;
}
//yotpo overrides
#y-badges {
  display: none !important;
}
#yotpo-testimonials {
  * {
    &:focus {
      outline: none !important;
    }
  }
}
.yotpo .text-m {
  display: flex !important;
  align-items: center !important;
  padding-left: 10px !important;
}
.yotpo .yotpo-modal-bottom-line .yotpo-bottomline {
  float: right;
  margin-bottom: 10px;
}
.yotpo div,
.yotpo span,
.yotpo p,
.yotpo a,
.yotpo img,
.yotpo i,
.yotpo strong,
.yotpo sup,
.yotpo ul,
.yotpo li,
.yotpo form,
.yotpo label {
  font-family: $apercu !important;
  color: $quote-grey !important;
}
.yotpo-logo-title,
.yotpo.yotpo-main-widget .yotpo-label .yotpo-icon-btn-big,
.yotpo .yotpo-modal-dialog .yotpo-label .yotpo-icon-btn-big,
.yotpo-lightbox.yotpo-lightbox-new.yotpo
  .yotpo-modal.yotpo-modal-active
  .yotpo-lightbox-container
  .yotpo-label
  a
  > .yotpo-icon {
  display: none !important;
}
#yotpo-testimonials-product-bottomline div,
.yotpo-popup-box-small.yotpo-nav.yotpo-nav-primary {
  display: flex;
  justify-content: flex-end;
}
#yotpo-testimonials-custom-tab .yotpo-modal-bottom-line {
  border-top: 0 !important;
  border-bottom: 0 !important;
}
.yotpo.yotpo-main-widget .yotpo-icon-empty-star,
.yotpo.embedded-widget .yotpo-icon-empty-star,
.yotpo.yotpo-modal .yotpo-icon-empty-star,
.yotpo.bottomLine .yotpo-icon-empty-star,
.yotpo.yotpo-reviews-carousel .yotpo-icon-empty-star,
.mobile-filters-modal .yotpo-icon-empty-star {
  background-position: -93px 0 !important;
}
#yotpo-testimonials-product-bottomline .yotpo-bottomline.pull-left span,
#yotpo-testimonials-product-reviews
  .yotpo-header.yotpo-verified-buyer
  div.yotpo-review-stars
  span,
.yotpo-review-stars span,
.yotpo-icon-star,
.yotpo-icon.yotpo-icon-star.rating-star.pull-left,
.yotpo.yotpo-main-widget .yotpo-icon-star,
.yotpo-icon-default-empty-star,
.yotpo-icon-empty-star,
#yotpo-testimonials-product-reviews
  > div.yotpo-first-review
  > div.yotpo-first-review-stars
  .stars-wrapper
  .yotpo-icon.yotpo-icon-star {
  background-image: none !important;
  background: none !important;
  color: $nav-blue !important;

  &:before {
    color: $nav-blue !important;
    background-image: none !important;
  }
  &.codebymick {
    background-image: none !important;
    color: $nav-blue !important;
    &:before {
      color: $nav-blue !important;
      background-image: none !important;
    }
  }
}

.yotpo .yotpo-regular-box {
  background-color: $btn-grey;
  margin: 8px 0 !important;
  border-radius: 20px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  border-top: 0 !important;
}
.yotpo .yotpo-testimonials-btn span,
.yotpo.yotpo-main-widget .yotpo-icon-btn .yotpo-icon-button-text,
.yotpo .yotpo-icon-write:before,
.yotpo .yotpo-icon-double-bubble:before {
  color: $white !important;
}
.yotpo
  .yotpo-modal
  .yotpo-modal-dialog
  .yotpo-modal-content
  .yotpo-modal-header
  .yotpo-icon-btn-small {
  position: unset !important;
}
.yotpo .yotpo-modal .yotpo-modal-header {
  position: relative !important;
}
.yotpo.yotpo-main-widget
  .yotpo-bottomline.yotpo-bottomline-2-boxes
  .yotpo-default-button.write-review-button,
.yotpo
  .yotpo-modal-dialog
  .yotpo-bottomline.yotpo-bottomline-2-boxes
  .yotpo-default-button.write-review-button,
.yotpo.yotpo-main-widget
  .yotpo-bottomline.yotpo-bottomline-2-boxes
  .yotpo-default-button.write-question-button {
  background: $nav-blue;
  color: $white !important;
}
.codebymick {
  background-image: none !important;
  color: $nav-blue !important;
  background-position: -93px 0 !important;
  &:before {
    color: $nav-blue !important;
    background-image: none !important;
    background-position: -93px 0 !important;
  }
}
///////////////// ------- end yotpo -----------///////////

.exzoom_img_ul span {
  &:active,
  &:hover,
  &:focus {
    // cursor: zoom-in !important;
  }
}
.zoom-modal {
  @include zero-bound;
  position: fixed;
  height: 100vh;
  z-index: 99999;
  display: block;
  width: 100vw;
  pointer-events: none;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
  .zoom-modal-inner {
    background: white;
    max-width: 50vw;
    position: relative;
    // pointer-events: none;

    .zoom-modal-close-btn {
      pointer-events: all;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 9999;
    }
  }
}
.main-slide {
  background-size: contain;
  background-position: 0 0;
  padding-bottom: 3%;
  background-repeat: no-repeat;
  &.scaled {
    background-size: cover;
    background-position: 50%;
  }
  img {
    opacity: 0;
  }
}
.MAC {
  .main-slide {
    // background-position: center;
    padding-bottom: 13%;
    img {
      opacity: 0;
    }
  }
}
#modal-slider {
  position: relative;
  overflow: hidden;
  transform: translateY(-50%);
  top: 50%;
  width: auto;
  display: flex;
  .product-single__thumbnail-image {
    max-width: 100%;
    margin: 0 auto;
    padding: 16px;
    max-height: 60vh;
    pointer-events: none;
  }
}
.mbp13 {
  #modal-slider {
    transform: unset;
  }
}
.modal-slider-nav {
  @include zero-bound;
  top: 50%;
  .next-nav {
    position: absolute;
    right: 0;
  }
}

#testimonials {
  @include desktop {
    .quote-box {
      margin-right: 16px;
    }
    .carousel-item {
      left: 22px;
      transition: left 300ms linear;
      &.righted {
        left: -29%;
      }
      .quote-box {
        margin-right: 25px;
      }
    }
  }
}
.mobile-nav-wrapper {
  z-index: 9999;
  &.js-menu--is-open {
    position: fixed;
    background-color: $nav-blue;
    height: 100vh;
  }
}
button.btn--link {
  &:focus,
  &:hover {
    outline-color: $clear !important;
  }
}
.forced-100 {
  // width: 100vw!important;
}
#MobileNav {
  .mobile-nav__label,
  .mobile-nav__link,
  a,
  a:visited,
  a:hover,
  a:focus,
  a:active {
    @include text-format($apercu, 32, 400, 64, $white);
  }
  .mobile-nav__label {
    border-bottom-color: $clear;
    &:hover {
      border-bottom: 2px solid white;
    }
  }
  .mobile-nav__link {
    padding: 0 !important;
    padding-left: 16px !important;
    line-height: 32px !important;
  }
}
.mobile-submit-btn {
  left: 50%;
  transform: translatex(-50%);
}
.contact-footer {
  position: fixed;
  bottom: 64px;
  width: 100%;
  .barrier {
    border-bottom: 1px solid rgba($white, 0.08);
    padding-top: 23px;
    margin-bottom: 23px;
    margin-left: -16px;
    margin-right: -16px;
  }

  .link.fb {
    margin-right: 8px;
  }
  .mobile-nav__link {
    margin: 0;
    padding: 0;
  }
  .mobile-nav__label {
    @include text-format($apercu, 16, 400, 32, $white);
    border-bottom: 0;
  }
}
.white-logo {
  display: none !important;
}
.mobile-menu {
  .site-header {
    border-bottom: 1px solid $nav-blue;
  }
  .default-logo {
    display: none;
  }
  .white-logo {
    display: flex !important;
  }
  .site-header__icon.site-header__menu {
    color: $white;
    outline-color: $nav-blue;
    border: 0;
    &:focus,
    &:hover {
      outline-color: $nav-blue !important;
      border-color: $nav-blue;
    }
  }
  .site-header__mobile-nav {
    @include mobile {
      color: $white;
      background-color: $nav-blue;
      border-bottom-color: $nav-blue;
    }
  }
}
#CustomerLoginForm {
  form {
    max-width: 422px;
    margin: 0 auto;
  }
}
#testimonials {
  .hero-section {
    &.mobile {
      /* Slideshow container */
      // .slideshow-container {
      //   max-width: 1000px;
      //   position: relative;
      //   margin: auto;
      // }
      .box {
        text-align: center;
      }
      /* Hide the images by default */
      .slide {
        display: none;
      }

      /* Next & previous buttons */
      .prev,
      .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }

      /* Position the "next button" to the right */
      .next {
        right: -40px;
        border-radius: 3px 0 0 3px;
      }
      .prev {
        left: -40px;
      }

      /* On hover, add a black background color with a little bit see-through */
      .prev:hover,
      .next:hover {
        // background-color: rgba(0, 0, 0, 0.8);
      }

      /* The dots/bullets/indicators */
      .dot-container {
        padding-bottom: 20px;
        padding-top: 40px;
      }
      .dot {
        cursor: pointer;
        height: 1px;
        width: 20%;
        max-width: 85px;
        margin: 0 2px;
        background-color: #c4c4c4;
        border-radius: 20px;
        display: inline-block;
        transition: background-color 0.6s ease;
      }

      .active,
      .dot:hover {
        height: 3px;
        transform: translateY(50%);
      }

      /* Fading animation */
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }

      @-webkit-keyframes fade {
        from {
          opacity: 0.4;
        }
        to {
          opacity: 1;
        }
      }

      @keyframes fade {
        from {
          opacity: 0.4;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
}

.yotpo.yotpo-main-widget .yotpo-header .yotpo-icon-profile,
.yotpo.yotpo-main-widget .yotpo-icon-star,
.yotpo.yotpo-main-widget .yotpo-icon-half-star,
.yotpo.yotpo-main-widget .yotpo-icon-empty-star,
.yotpo.embedded-widget .yotpo-header .yotpo-icon-profile,
.yotpo.embedded-widget .yotpo-icon-star,
.yotpo.embedded-widget .yotpo-icon-half-star,
.yotpo.embedded-widget .yotpo-icon-empty-star,
.yotpo.yotpo-modal .yotpo-header .yotpo-icon-profile,
.yotpo.yotpo-modal .yotpo-icon-star,
.yotpo.yotpo-modal .yotpo-icon-half-star,
.yotpo.yotpo-modal .yotpo-icon-empty-star,
.yotpo.bottomLine .yotpo-header .yotpo-icon-profile,
.yotpo.bottomLine .yotpo-icon-star,
.yotpo.bottomLine .yotpo-icon-half-star,
.yotpo.bottomLine .yotpo-icon-empty-star,
.yotpo.yotpo-reviews-carousel .yotpo-header .yotpo-icon-profile,
.yotpo.yotpo-reviews-carousel .yotpo-icon-star,
.yotpo.yotpo-reviews-carousel .yotpo-icon-half-star,
.yotpo.yotpo-reviews-carousel .yotpo-icon-empty-star,
.mobile-filters-modal .yotpo-header .yotpo-icon-profile,
.mobile-filters-modal .yotpo-icon-star,
.mobile-filters-modal .yotpo-icon-half-star,
.mobile-filters-modal .yotpo-icon-empty-star {
  background-image: none !important;
}
