@font-face {
    font-family: 'Apercu Bold Italic';
    src: url('https://cdn.shopify.com/s/files/1/0486/3911/5430/files/apercu-bold-italic.otf?v=1607476019') format('otf');
}
@font-face { 
    font-family: 'Apercu Bold';
    src: url('https://cdn.shopify.com/s/files/1/0486/3911/5430/files/apercu-bold.otf?v=1607476103') format('otf');
}
@font-face {
    font-family: 'Apercu Italic';
    src: url('https://cdn.shopify.com/s/files/1/0486/3911/5430/files/apercu-italic.otf?v=1607476132') format('otf');
}
@font-face {
    font-family: 'Apercu Mono Bold';
    src: url('https://cdn.shopify.com/s/files/1/0486/3911/5430/files/apercu-mono-bold.otf?v=1607476202') format('otf');
}
@font-face {
    font-family: 'Apercu Mono';
    src: url('https://cdn.shopify.com/s/files/1/0486/3911/5430/files/apercu-mono.otf?v=1607476202') format('otf');
}
@font-face {
    font-family: 'Apercu Regular';
    src: url('https://cdn.shopify.com/s/files/1/0486/3911/5430/files/apercu-regular.otf?v=1607476202') format('otf');
}
@font-face {
    font-family: 'FreightDisp Pro Bold';
    src: url('https://cdn.shopify.com/s/files/1/0486/3911/5430/files/GarageFonts_-_FreightDisp_Pro_Bold.otf?v=1607476407') format('otf');
}
@font-face {
    font-family: 'FreightDisp Pro Book';
    src: url('https://cdn.shopify.com/s/files/1/0486/3911/5430/files/GarageFonts_-_FreightDisp_Pro_Book.otf?v=1607476406') format('otf');
}

