//variables

$browser-context: 17.5; // Default

$apercu: 'Apercu Regular', sans-serif;
$freight: 'FreightDisp Pro Bold', serif;

//colors
$clear: transparent;
$nav-blue: #5133ff;
$light-grey: #808080;
$darker-grey: #555555;
$btn-grey: #FAFAFA;
$line-grey: #C4c4C4;
$dark-blue: #1b0066;
$bg-grey: #fbfbfb;
$white: #ffffff;
$infected-green: #79e6b1;
$quote-grey: #666666;
$slide-grey: #e5e5e5;
