<div class="section-header text-center pl-64">
  {% render 'breadcrumbs' %}
  <!-- <h1>{{ page.title }}</h1> -->
</div>
<div class="rte sub-page pl-64 pr-64">
  {{ page.content }}

  <div class="row">
    <div class="col-md-12">
      <h2>Products</h2>
        <ul>
        {% for product in collections.all.products %}
        <li class="list">
        <a href="{{ product.url }}">{{ product.title }}</a>
        </li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-12">
      <h2>Collections</h2>
      <ul>
      {% for c in collections %}
      {% if c.title == 'Shop All Products' %}
        <li class="list">
          <a href="{{ c.url }}">{{ c.title }}</a>
        </li>
      {% endif %} 
      {% endfor %}
      </ul>
    </div>
  </div>    
  
</div>


