<div class="section-header text-center pl-64">
  {% render 'breadcrumbs' %}


</div>
<div class="rte sub-page pl-64 pr-64">
  {{ page.content }}

  <div class="business-form row">
    <div class="form-group col-lg-8 offset-lg-2">
      <!---- Contact Form --->
      <div id="form-sec" class="container pl-0 pr-0">
        <div class="margin-bottom-50">
          <div>

            <h4 class="sent-notification"></h4>

            <form id="contact-form" class="needs-validation" novalidate method="POST" name="fa-form-1" action="https://webhook.frontapp.com/forms/48ee3f1de0b161170781/J2KRhYIaxq1YFRTRB8qPk_lNlL_tHjYjnBlAlWhs4wrO7YAbGc3OIRf3yd2o3GaucPv2jNPe8ezqLtnwC-WEdRXQPKCYjxW7uopkNrgLzIDhAaIUR9ScXBoG-l7B" enctype="multipart/form-data" accept-charset="utf-8">
              <div class="form-row">
                <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label for="name">Name*</label>
                  <input type="text" name="name" class="form-control" id="name" placeholder="name" required/>
                  <div class="invalid-feedback">Please provide your name.</div>
                </div>
                <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <label for="company">Company*</label>
                  <input type="text" name="company" class="form-control" id="name" placeholder="company" required/>
                  <div class="invalid-feedback">
                    Please provide your company name.
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <label for="phone">Phone</label>
                  <input type="phone" name="phone" class="form-control" id="phone" placeholder="phone number" required/>
                  <div class="invalid-feedback">
                    Please provide your contact number.
                  </div>
                </div>

                <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12" >
                  <label for="title">Job Title</label>
                  <input type="text" name="title" class="form-control" id="title" placeholder="job title"  />
                  <div class="invalid-feedback">
                    Please provide your business title/position.
                  </div>
                </div>
                <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12" >
                  <label for="industry">Industry</label>
                  <input type="text" name="industry" class="form-control" id="industry" placeholder="industry" />
                  <div class="invalid-feedback">
                    Which industry do you operate in?
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div
                  class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" >
                  <label for="email">Email Address*</label>
                  <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Your Email Address" required/>
                  <div class="invalid-feedback">
                    Please put correct email address.
                  </div>
                </div>
              </div>
              <div id="html_element"></div>
              <div class="row justify-center">
                <input
                  type="submit"
                  class="btn btn-primary form-btn submit"
                  value="Send"
                />
              </div>
            </form>

            <script type="text/javascript">
              
              // Example starter JavaScript for disabling form submissions if there are invalid fields
              (() => {
                "use strict";

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.querySelectorAll(".needs-validation");

                // Loop over them and prevent submission
                Array.prototype.slice.call(forms).forEach((form) => {
                  form.addEventListener(
                    "submit",
                    (event) => {
                      if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                      }
                      event.preventDefault();
                      // sendEmail();
                      form.classList.add("was-validated");
                    },
                    false
                  );
                });
              })();
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var industries = ["Industry","Accounting ","Airlines/Aviation","Alternative Dispute Resolution","Alternative Medicine","Animation","Apparel/Fashion","Architecture/Planning","Arts/Crafts","Automotive","Aviation/Aerospace","Banking/Mortgage","Biotechnology/Greentech","Broadcast Media","Building Materials","Business Supplies/Equipment","Capital Markets/Hedge Fund/Private Equity","Chemicals","Civic/Social Organization","Civil Engineering","Commercial Real Estate","Computer Games","Computer Hardware","Computer Networking","Computer Software/Engineering","Computer/Network Security","Construction","Consumer Electronics","Consumer Goods","Consumer Services","Cosmetics","Dairy","Defense/Space","Design","E-Learning","Education Management","Electrical/Electronic Manufacturing","Entertainment/Movie Production","Environmental Services","Events Services","Executive Office","Facilities Services","Farming","Financial Services","Fine Art","Fishery","Food Production","Food/Beverages","Fundraising","Furniture","Gambling/Casinos","Glass/Ceramics/Concrete","Government Administration","Government Relations","Graphic Design/Web Design","Health/Fitness","Higher Education/Acadamia","Hospital/Health Care","Hospitality","Human Resources/HR","Import/Export","Individual/Family Services","Industrial Automation","Information Services","Information Technology/IT","Insurance","International Affairs","International Trade/Development","Internet","Investment Banking/Venture","Investment Management/Hedge Fund/Private Equity","Judiciary","Law Enforcement","Law Practice/Law Firms","Legal Services","Legislative Office","Leisure/Travel","Library","Logistics/Procurement","Luxury Goods/Jewelry","Machinery","Management Consulting","Maritime","Market Research","Marketing/Advertising/Sales","Mechanical or Industrial Engineering","Media Production","Medical Equipment","Medical Practice","Mental Health Care","Military Industry","Mining/Metals","Motion Pictures/Film","Museums/Institutions","Music","Nanotechnology","Newspapers/Journalism","Non-Profit/Volunteering","Oil/Energy/Solar/Greentech","Online Publishing","Other Industry","Outsourcing/Offshoring","Package/Freight Delivery","Packaging/Containers","Paper/Forest Products","Performing Arts","Pharmaceuticals","Philanthropy","Photography","Plastics","Political Organization","Primary/Secondary Education","Printing","Professional Training","Program Development","Public Relations/PR","Public Safety","Publishing Industry","Railroad Manufacture","Ranching","Real Estate/Mortgage","Recreational Facilities/Services","Religious Institutions","Renewables/Environment","Research Industry","Restaurants","Retail Industry","Security/Investigations","Semiconductors","Shipbuilding","Sporting Goods","Sports","Staffing/Recruiting","Supermarkets","Telecommunications","Textiles","Think Tanks","Tobacco","Translation/Localization","Transportation","Travel/Tourism","Utilities","Venture Capital/VC","Veterinary","Warehousing","Wholesale","Wine/Spirits","Wireless","Writing/Editing"];

  var titles = ["Chiropractor", "Dentist", "Dietitian or Nutritionist", "Optometrist", "Pharmacist", "Physician", "Physician Assistant", "Podiatrist", "Registered Nurse", "Therapist", "Veterinarian", "Health Technologist or Technician", "Other Healthcare Practitioners and Technical Occupation", "Nursing, Psychiatric, or Home Health Aide", "Occupational and Physical Therapist Assistant or Aide", "Other Healthcare Support Occupation", "Chief Executive", "General and Operations Manager", "Advertising, Marketing, Promotions, Public Relations, and Sales Manager", "Operations Specialties Manager (e.g., IT or HR Manager)", "Construction Manager", "Engineering Manager", "Accountant, Auditor", "Business Operations or Financial Specialist", "Business Owner", "Other Business, Executive, Management, Financial Occupation", "Architect, Surveyor, or Cartographer", "Engineer", "Other Architecture and Engineering Occupation", "Postsecondary Teacher (e.g., College Professor)", "Primary, Secondary, or Special Education School Teacher", "Other Teacher or Instructor", "Other Education, Training, and Library Occupation", "Arts, Design, Entertainment, Sports, and Media Occupations", "Computer Specialist, Mathematical Science", "Counselor, Social Worker, or Other Community and Social Service Specialist", "Lawyer, Judge", "Life Scientist (e.g., Animal, Food, Soil, or Biological Scientist, Zoologist)", "Physical Scientist (e.g., Astronomer, Physicist, Chemist, Hydrologist)", "Religious Worker (e.g., Clergy, Director of Religious Activities or Education)", "Social Scientist and Related Worker", "Other Professional Occupation", "Supervisor of Administrative Support Workers", "Financial Clerk", "Secretary or Administrative Assistant", "Material Recording, Scheduling, and Dispatching Worker", "Other Office and Administrative Support Occupation", "Protective Service (e.g., Fire Fighting, Police Officer, Correctional Officer)", "Chef or Head Cook", "Cook or Food Preparation Worker", "Food and Beverage Serving Worker (e.g., Bartender, Waiter, Waitress)", "Building and Grounds Cleaning and Maintenance", "Personal Care and Service (e.g., Hairdresser, Flight Attendant, Concierge)", "Sales Supervisor, Retail Sales", "Retail Sales Worker", "Insurance Sales Agent", "Sales Representative", "Real Estate Sales Agent", "Other Services Occupation", "Construction and Extraction (e.g., Construction Laborer, Electrician)", "Farming, Fishing, and Forestry", "Installation, Maintenance, and Repair", "Production Occupations", "Other Agriculture, Maintenance, Repair, and Skilled Crafts Occupation", "Aircraft Pilot or Flight Engineer", "Motor Vehicle Operator (e.g., Ambulance, Bus, Taxi, or Truck Driver)", "Other Transportation Occupation", "Military", "Homemaker", "Other Occupation", "Don't Know", "Not Applicable"];

  function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
  }
}
/*execute a function when someone clicks in the document:*/
document.addEventListener("click", function (e) {
    closeAllLists(e.target);
});
}
</script>
<script>
  autocomplete(document.getElementById("industry"), industries);
  autocomplete(document.getElementById("title"), titles);
  </script>
