<div class="section-header text-center pl-64 pr-64">
  {% render 'breadcrumbs' %}

<div class="rte sub-page">

  <div class="h1 text-left">{{ page.title }}</dv>
 {{ page.content }} 

  <!-- <div class="yotpo yotpo-reviews-carousel" 
 data-background-color="transparent" 
 data-mode="top_rated" 
 data-type="site" 
 data-count="9" 
 data-show-bottomline="1" 
 data-autoplay-enabled="1" 
 data-autoplay-speed="3000" 
 data-show-navigation="1">&nbsp;</div>-->
</div> 
<script type="text/javascript"> (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=!0, e.src="//staticw2.yotpo.com/UPPjtwLiZMKpOIQ2znkBvmUv2Z8YXEaiZikPW1Bz/widget.js";var t=document.getElementsByTagName("script")[0]; t.parentNode.insertBefore(e,t)})(); </script>
<div id='yotpo-testimonials-custom-tab'></div>

</div>
<script>
window.addEventListener('load', function (event) {
  $(".yotpo-nav-tab:first-of-type").trigger('click')
}, false);
</script>