<div class="section-header text-center pl-64">
  {% render 'breadcrumbs' %}
  <!-- <h1>{{ page.title }}</h1> -->
</div>
<div class="rte sub-page pl-64 pr-64">
  <section id="faq">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="h1">FAQs</div>
        <!-- <div class="text-block">
          Aliquam mauris pellentesque nec ac morbi pellentesque odio. At tortor
          adipiscing sagittis, malesuada at aliquam elementum dignissim nibh.
          Nunc ut a adipiscing quisque magnis vestibulum massa amet
          pellentesque.
        </div> -->
        <div onclick="showAns(this)" class="ques">
          What are some of the benefits of the Nano Pure formulation?
          <div class="ans">
            <ul>
              <li>Kills 99.99% of most harmful germs</li>
              <li>
                Once dry, Nano Pure™ provides active protection against germs
                rather than evaporating - think sunblock for germs!
              </li>
              <li>Keeps your hands feeling soft and hydrated</li>
              <li>Dries quickly without leaving a sticky residue</li>
              <li>Leaves your hands with a fresh scent that does not linger</li>
            </ul>
          </div>
        </div>
        <div onclick="showAns(this)" class="ques">
          How do I apply Nano Pure?
          <div class="ans">
            Spray the Nano Pure onto your hands or skin and apply evenly until dry.
          </div>
        </div>
        <div onclick="showAns(this)" class="ques">
          Does Nano Pure contain triclosan or any other FDA banned ingredients?
          <div class="ans">
            No. Nano Pure is safe to use and does not contain any of the 28 harmful or banned FDA ingredients. Nano Pure is FDA registered and in 2019, the FDA <a href="https://www.fda.gov/news-events/press-announcements/fda-issues-final-rule-safety-and-effectiveness-consumer-hand-sanitizers" class="">approved 3 active ingredients</a>  – while banning 28 others – for use in hand sanitizer: benzalkonium chloride (BAC), ethyl alcohol, and isopropyl alcohol. We use BAC in our formulation as our active ingredient.
          </div>
        </div>
        <div onclick="showAns(this)" class="ques">
          How does Nano Pure work?
          <div class="ans">
            The active ingredient in Nano Pure, Benzalkonium Chloride (BAC), is part of a class of chemicals called quaternary amine compounds or QACs. QACs kill harmful germs by breaking their protective outer membranes apart and destroying them at the molecular level.<br>It is well established that <a href="https://www.sciencedirect.com/science/article/pii/S0196655319308119" class="">contact time</a> plays a role in the efficacy of antiseptics and disinfectants. The longer they stay in contact with a pathogen, the more effective it will be. Unlike traditional sanitizers that rely on alcohols which evaporate quickly after applied, a major benefit of our active ingredient is its ability to remain on a surface after application. 
          </div>
        </div>
        <div onclick="showAns(this)" class="ques">
          What is the alcohol percentage in Nano Pure?
          <div class="ans">
            The current formulation was designed to be water-based and contains approximately 17% alcohol. Our active ingredient is Benzalkonium chloride (BAC), a well-established FDA monograph antiseptic. Alcohol-based hand sanitizers are harsh on your skin, flammable, and can cause <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7320712/#:~:text=In%20early%20five%20months%20of,for%20confusion%2C%20vomiting%20and%20drowsiness%2C" class=""> alcohol poisoning</a> with frequent use. Alcohol-based hand sanitizers can actually become <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7320712/" class="">less effective</a> over time by removing protective natural skin oils leading to dry and damaged skin which can be a hotbed for disease-causing bacteria.
          </div>
        </div>
        <div onclick="showAns(this)" class="ques">
          Does Nano Pure hand sanitizer kill germs effectively?
          <div class="ans">
            Yes, Nano Pure is effective against 99.99% of illness-causing germs.
          </div>
        </div>
        <div onclick="showAns(this)" class="ques">
          What ingredients are in Nano Pure?
          <div class="ans">
            Ingredients are provided on the bottle label, available <a href="https://dailymed.nlm.nih.gov/dailymed/image.cfm?name=Nano+Pure_71530.026.01_9.22.20.jpg&setid=a7ea32b2-cd7f-9b52-e053-2a95a90af75a&type=img" class="">here</a>.
          </div>
        </div>

        <div onclick="showAns(this)" class="ques">
          Will Nano Pure stain my skin or clothing?
          <div class="ans">
            The formulation is colorless and should not stain your skin, clothing, or other fabrics.
          </div>
        </div>

        <div onclick="showAns(this)" class="ques">
          Is Nano Pure effective against COVID-19?
          <div class="ans">
            While our active ingredient in Nano Pure is effective against 99.99% of illness-causing germs, we are in the process of testing our current and future formulations against human coronavirus. As such, we are pursuing additional testing and optimization of new products for skin and other surfaces. At this time, we recommend following the CDC prevention guidelines, applying Nano Pure for supplemental protection.
          </div>
        </div>

        <div onclick="showAns(this)" class="ques">
          What is Nano doing to support the current COVID-19 crisis?
          <div class="ans">
            In response to the current coronavirus health crisis, our team is: 
            <ol>
              <li>Distributing our current inventory as quickly as possible for supplemental protection. </li>
<li>Accelerating production and distribution of current formulation for supplemental protection. </li>
<li>Optimizing products based on evidence of underlying technology’s effectiveness against enveloped viruses such as the coronavirus. This includes applications for skin as well as other surfaces. </li>
<li>Establishing high-capacity production of new products optimized for reducing the transmission of COVID-19.</li>
            </ul>
          </div>
        </div>


        <div onclick="showAns(this)" class="ques">
          Do you ship internationally?
          <div class="ans">
            While we only ship Nano product(s) within the United States, we are currently working to extend our distribution worldwide.
          </div>
        </div>

        <div onclick="showAns(this)" class="ques">
          Where is Nano Pure Hand Sanitizer manufactured?
          <div class="ans">
            We are an Austin, Texas based company and manufacture of all our Nano products within the United States at state of the art, FDA and cGMP compliant facilities.
          </div>
        </div>

        <div onclick="showAns(this)" class="ques">
          Are there any side effects or safety concerns of Nano Pure?
          <div class="ans">
            Nano Pure is safe for use as labeled.
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
